src/flows/MX_BPYP_CambiaEtapas.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>TipoRegistroLlamadaConCliente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_Llamada_BPyP_CI</stringValue>
        </value>
    </constants>
    <constants>
        <name>TipoRegistroLlamadaCreada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_Llamada_BPyP</stringValue>
        </value>
    </constants>
    <constants>
        <name>TipoRegistroLlamadaRealizada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_Llamada_BPyP_FI</stringValue>
        </value>
    </constants>
    <constants>
        <name>TipoRegistroNuevaLlamada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_NuevaLlamadaBPyP</stringValue>
        </value>
    </constants>
    <constants>
        <description>Tipo de registro nueva visita</description>
        <name>TipoRegistroNuevaVisita</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_NuevaVisitaBPyP</stringValue>
        </value>
    </constants>
    <constants>
        <description>Tipo de registro Visita después del CheckInn</description>
        <name>TipoRegistroVisitaConCliente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_Visita_BPyP_CI</stringValue>
        </value>
    </constants>
    <constants>
        <description>Tipo de registro de Visita Iniciada</description>
        <name>TipoRegistroVisitaConvocada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_Visita_BPyP_St</stringValue>
        </value>
    </constants>
    <constants>
        <name>TipoRegistroVisitaCreada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_VisitaBPyP</stringValue>
        </value>
    </constants>
    <constants>
        <description>Tipo de registro para Visita Realizada</description>
        <name>TipoRegistroVisitaRealizada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MX_BPP_Visita_BPyP_Fi</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Valida el estado de la visita</description>
        <name>EstadoVisita</name>
        <label>EstadoVisita</label>
        <locationX>708</locationX>
        <locationY>165</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Check_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroVisitaConvocada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_InTR</targetReference>
            </connector>
            <label>Check In Visita</label>
        </rules>
        <rules>
            <name>Visita_Minuta</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Estatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroVisitaConCliente</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroNuevaVisita</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MinutaTR</targetReference>
            </connector>
            <label>Visita Minuta</label>
        </rules>
        <rules>
            <name>Visita_Inicial</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroVisitaCreada</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroNuevaVisita</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaTipoRegistrConvocada</targetReference>
            </connector>
            <label>Visita Inicial</label>
        </rules>
        <rules>
            <name>Llamada_Inicial</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Estatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroLlamadaCreada</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroNuevaLlamada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Llamada_con_cliente</targetReference>
            </connector>
            <label>Llamada Inicial</label>
        </rules>
        <rules>
            <name>Llamada_Minuta</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Estatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroLlamadaConCliente</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipoderegistroentrante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoRegistroNuevaLlamada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Llamada_Finalizada</targetReference>
            </connector>
            <label>Llamada Minuta</label>
        </rules>
    </decisions>
    <description>Cambia etapas de Visita BPYP</description>
    <interviewLabel>Cambia Etapas Visitas BPyP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cambia Etapas Visitas BPyP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busca el Id del tipo de registro de llamada Convocada</description>
        <name>BuscaTipoRegistrConvocada</name>
        <label>Visita Convocada</label>
        <locationX>180</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaTR</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistroVisitaConCliente</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Busca los elementos necesarios para la visita</description>
        <name>BuscaVisita</name>
        <label>BuscaVisita</label>
        <locationX>387</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_PYME_BuscaTipoRegistro</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVisita</elementReference>
            </value>
        </filters>
        <object>dwp_kitv__Visit__c</object>
        <outputAssignments>
            <assignToReference>CheckIn</assignToReference>
            <field>Check_In_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdTipoRegistro</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Estatus</assignToReference>
            <field>dwp_kitv__visit_status_type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>busca el tipo de registro de check in</description>
        <name>Check_InTR</name>
        <label>Check In</label>
        <locationX>576</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaTR</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistroVisitaConCliente</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene TR de Llamada con cliente</description>
        <name>Llamada_con_cliente</name>
        <label>Llamada con cliente</label>
        <locationX>874</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaTR</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistroLlamadaConCliente</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene TR de Llamada finalizada</description>
        <name>Llamada_Finalizada</name>
        <label>Llamada Finalizada</label>
        <locationX>1305</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaTR</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistroLlamadaRealizada</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>BuscaTipo de registro de minuta</description>
        <name>MinutaTR</name>
        <label>Minuta</label>
        <locationX>720</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizaTR</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistroVisitaRealizada</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Busca el tipo de registro con el que entra la visita</description>
        <name>MX_PYME_BuscaTipoRegistro</name>
        <label>BuscaTipoRegistro</label>
        <locationX>714</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstadoVisita</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTipoRegistro</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Tipoderegistroentrante</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el tipo de registro</description>
        <name>ActualizaTR</name>
        <label>ActualizaTR</label>
        <locationX>714</locationX>
        <locationY>670</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVisita</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <object>dwp_kitv__Visit__c</object>
    </recordUpdates>
    <startElementReference>BuscaVisita</startElementReference>
    <status>Active</status>
    <variables>
        <description>Check In</description>
        <name>CheckIn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Estatus</description>
        <name>Estatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de tipo de registro a seleccionar</description>
        <name>IdTipoRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id de la visita que inicia el proceso</description>
        <name>IdVisita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tipoderegistroentrante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>IdTipoRegistro</elementReference>
        </value>
    </variables>
</Flow>
