src/flows/MX_EU_Tsk_CreaTarea.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Tarea_Existente</name>
        <label>Actualiza o Crea</label>
        <locationX>475</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Actualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdTarea</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tarea</targetReference>
            </connector>
            <label>Actualiza</label>
        </rules>
        <rules>
            <name>Crea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdTarea</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BuscaRTId</targetReference>
            </connector>
            <label>Crea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tarea_o_Compromiso</name>
        <label>Tarea o Compromiso</label>
        <locationX>122</locationX>
        <locationY>147</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>ObjTarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Compromiso</targetReference>
            </connector>
            <label>ObjTarea</label>
        </rules>
        <rules>
            <name>ObjCompromiso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EU_001_Compromiso__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Busca_Tarea</targetReference>
            </connector>
            <label>ObjCompromiso</label>
        </rules>
    </decisions>
    <description>Crea tarea o actualiza compromiso</description>
    <formulas>
        <name>AsuntoTask</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Compromiso.EU_001_tx_Compromiso__c})&gt;70, LEFT({!Compromiso.EU_001_tx_Compromiso__c}, 70)+&apos;...&apos;, {!Compromiso.EU_001_tx_Compromiso__c})</expression>
    </formulas>
    <formulas>
        <name>FechaNotificacion</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Compromiso.EU001_ca_priorizado__c}, DATETIMEVALUE( IF( DATE(YEAR({!Compromiso.EU_fm_Fecha_Cierre__c}), MONTH({!Compromiso.EU_fm_Fecha_Cierre__c}), DAY({!Compromiso.EU_fm_Fecha_Cierre__c})) - DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate})) &gt;1, DATE( YEAR({!Compromiso.EU_fm_Fecha_Cierre__c}),MONTH({!Compromiso.EU_fm_Fecha_Cierre__c}), DAY({!Compromiso.EU_fm_Fecha_Cierre__c}) )-1, IF( DATE(YEAR({!Compromiso.EU_fm_Fecha_Cierre__c}), MONTH({!Compromiso.EU_fm_Fecha_Cierre__c}), DAY({!Compromiso.EU_fm_Fecha_Cierre__c})) - DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate})) = 1, DATE(YEAR({!Compromiso.EU_fm_Fecha_Cierre__c}), MONTH({!Compromiso.EU_fm_Fecha_Cierre__c}), DAY({!Compromiso.EU_fm_Fecha_Cierre__c})), DATE(YEAR({!Compromiso.EU_fm_Fecha_Cierre__c}), MONTH({!Compromiso.EU_fm_Fecha_Cierre__c}), DAY({!Compromiso.EU_fm_Fecha_Cierre__c}))+1 )) )-540/1440, null)</expression>
    </formulas>
    <formulas>
        <name>related</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Compromiso.EU_001_Rb_Oportunidad__c})), {!Compromiso.EU_001_Rb_Oportunidad__c}, IF(NOT(ISNULL({!Compromiso.Cliente__c})), {!Compromiso.Cliente__c}, {!Compromiso.EU_001_Rb_Revisi_n_Individual_RI__c}  ))</expression>
    </formulas>
    <formulas>
        <name>TextoCompromiso</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Compromiso.EU_001_tx_Compromiso__c})&gt;255, LEFT({!Compromiso.EU_001_tx_Compromiso__c}, 255) , {!Compromiso.EU_001_tx_Compromiso__c})</expression>
    </formulas>
    <interviewLabel>Crea Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Tarea</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>MX_EU_CreaTarea</name>
        <label>Crea Tarea</label>
        <locationX>848</locationX>
        <locationY>94</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Compromiso.EU_fm_Fecha_Cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Actividad__c</field>
            <value>
                <elementReference>Compromiso.MX_EU_Avance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Cliente__c</field>
            <value>
                <elementReference>Compromiso.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Compromiso__c</field>
            <value>
                <elementReference>Compromiso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Indicador__c</field>
            <value>
                <elementReference>Compromiso.EU_001_ls_Indicadores_de_cartera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_MontoCompromiso__c</field>
            <value>
                <elementReference>Compromiso.EU_001_dv_Compromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Oportunidad__c</field>
            <value>
                <elementReference>Compromiso.EU_001_Rb_Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_RI__c</field>
            <value>
                <elementReference>Compromiso.EU_001_Rb_Revisi_n_Individual_RI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_TextoCompromiso__c</field>
            <value>
                <elementReference>TextoCompromiso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Compromiso.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Compromiso.EU_001_ls_Estatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Compromiso.EU_001_ls_Indicadores_de_cartera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>related</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Busca_Tarea</name>
        <label>Busca Tarea</label>
        <locationX>320</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarea_Existente</targetReference>
        </connector>
        <filters>
            <field>MX_EU_Compromiso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Compromiso.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>IdTarea</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscaRTId</name>
        <label>BuscaRTId</label>
        <locationX>654</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_EU_CreaTarea</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DevNameRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Compromiso</name>
        <label>Actualiza Compromiso</label>
        <locationX>125</locationX>
        <locationY>322</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea.MX_EU_Compromiso__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EU001_Fm_Historico_Cambios_Fecha_Cierre__c</field>
            <value>
                <elementReference>Tarea.MX_EU_HistoricoFC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU001_Un_nivelPriorizacion__c</field>
            <value>
                <elementReference>Tarea.MX_EU_NivelPriorizacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU001_ca_priorizado__c</field>
            <value>
                <elementReference>Tarea.MX_EU_Priorizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU001_tl_comentariosDO__c</field>
            <value>
                <elementReference>Tarea.MX_EU_ComentariosDO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU001_tl_comentariosEC__c</field>
            <value>
                <elementReference>Tarea.MX_EU_ComentariosEC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU_001_Rb_Oportunidad__c</field>
            <value>
                <elementReference>Tarea.MX_EU_Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU_001_dv_Compromiso__c</field>
            <value>
                <elementReference>Tarea.MX_EU_MontoCompromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU_001_ls_Estatus__c</field>
            <value>
                <elementReference>Tarea.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU_001_tx_Compromiso__c</field>
            <value>
                <elementReference>Tarea.MX_EU_TextoCompromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EU_fm_Fecha_Cierre__c</field>
            <value>
                <elementReference>Tarea.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Avance__c</field>
            <value>
                <elementReference>Tarea.MX_EU_Actividad__c</elementReference>
            </value>
        </inputAssignments>
        <object>EU_001_Compromiso__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tarea</name>
        <label>Actualiza Tarea</label>
        <locationX>479</locationX>
        <locationY>295</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTarea</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Compromiso.EU_fm_Fecha_Cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <elementReference>Compromiso.EU001_ca_priorizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Actividad__c</field>
            <value>
                <elementReference>Compromiso.MX_EU_Avance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_ComentariosDO__c</field>
            <value>
                <elementReference>Compromiso.EU001_tl_comentariosDO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_ComentariosEC__c</field>
            <value>
                <elementReference>Compromiso.EU001_tl_comentariosEC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_FechaCierre__c</field>
            <value>
                <elementReference>Compromiso.EU_fm_Fecha_Cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_HistoricoFC__c</field>
            <value>
                <elementReference>Compromiso.EU001_Fm_Historico_Cambios_Fecha_Cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_MontoCompromiso__c</field>
            <value>
                <elementReference>Compromiso.EU_001_dv_Compromiso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_NivelPriorizacion__c</field>
            <value>
                <elementReference>Compromiso.EU001_Un_nivelPriorizacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Oportunidad__c</field>
            <value>
                <elementReference>Compromiso.EU_001_Rb_Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_Priorizado__c</field>
            <value>
                <elementReference>Compromiso.EU001_ca_priorizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_RI__c</field>
            <value>
                <elementReference>Compromiso.EU_001_Rb_Revisi_n_Individual_RI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_EU_TextoCompromiso__c</field>
            <value>
                <elementReference>TextoCompromiso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>FechaNotificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Compromiso.EU_001_ls_Estatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoTask</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Tarea_o_Compromiso</startElementReference>
    <status>Active</status>
    <variables>
        <name>Compromiso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EU_001_Compromiso__c</objectType>
    </variables>
    <variables>
        <name>DevNameRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreObjeto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tarea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
