src/flows/MX_RTE_Descartar_Iniciativa.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Botón tipo URL el cuál mediante un Flujo cambia la etapa de la Feature a &quot;Deslizada&quot;</description>
    <interviewLabel>Descartar Iniciativa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Descartar Iniciativa</label>
    <loops>
        <name>Repetir_Ciclo</name>
        <label>Repetir Ciclo</label>
        <locationX>35</locationX>
        <locationY>154</locationY>
        <assignNextValueToReference>CaseBucle</assignNextValueToReference>
        <collectionReference>AllCasesID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Busqueda_de_Coincidencias</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza_Iniciativa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Features</name>
        <label>Buscar Features</label>
        <locationX>35</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Repetir_Ciclo</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IniciativaID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>AllCasesID</outputReference>
        <queriedFields>MX_RTE_Especifica_otro_tipo__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Iniciativa</name>
        <label>Actualiza Iniciativa</label>
        <locationX>37</locationX>
        <locationY>329</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IniciativaID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Estatus__c</field>
            <value>
                <stringValue>Descartado</stringValue>
            </value>
        </inputAssignments>
        <object>MX_RTE_Iniciativa__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Busqueda_de_Coincidencias</name>
        <label>Busqueda de Coincidencias</label>
        <locationX>435</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Repetir_Ciclo</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IniciativaID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Fase__c</field>
            <value>
                <stringValue>Descartada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Descartado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Buscar_Features</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AllCasesID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseBucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>IniciativaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IniciativaID_bucle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
