src/flows/MX_RTE_Completar_Pedidos_RCI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Archivos_cargados</name>
        <label>Archivos cargados</label>
        <locationX>782</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>varNoArchivos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_de_conteo</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>varFechaHoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varNulo</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;</expression>
    </formulas>
    <interviewLabel>Completar Pedidos RCI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Completar Pedidos RCI</label>
    <loops>
        <name>Bucle_de_conteo</name>
        <label>Bucle de conteo</label>
        <locationX>686</locationX>
        <locationY>39</locationY>
        <assignNextValueToReference>varBucle</assignNextValueToReference>
        <collectionReference>varIdArchivo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Archivos_cargados</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Pedido_RCI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Pedido_RCI</name>
        <label>Update Pedido RCI</label>
        <locationX>1113</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Resultados</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Comentarios__c</field>
            <value>
                <elementReference>Agregar_Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Estatus__c</field>
            <value>
                <stringValue>Validación de Documento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_URL_Documento__c</field>
            <value>
                <elementReference>URL_del_documento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_Carga__c</field>
            <value>
                <elementReference>varFechaHoy</elementReference>
            </value>
        </inputAssignments>
        <object>MX_RTE_Pedido_RCI__c</object>
    </recordUpdates>
    <screens>
        <name>Agregar_Archivos</name>
        <label>Agregar Archivos</label>
        <locationX>176</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bucle_de_conteo</targetReference>
        </connector>
        <fields>
            <name>Instrucciones</name>
            <fieldText>Agrega el documento relacionado con el Pedido de RCI</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agregar_Documento</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agregar_Documento</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.ai, .aif, .avi, .bat, .bin, .bmp, .bup, .cab, .cda, .cdr, .chm, .dat, .divx, .dll, .dmg, .doc, .docx, .dwg, .eml, .eps, .exe, .fla, .flv, .gif, .gz, .hqx, .htm, .html, .ifo, .indd, .iso, .jar, .jpeg, .jpg, .lnk, .log, .m4a, .m4b, .m4p, .m4v, .mdb, .mid, .mov, .mp2, .mp3, .mp4, .mpeg, .mpg, .msi, .mswmm, .pdf, .png, .pps, .ppt, .pptx, .ps, .psd, .pst, .pub, .qbb, .qbw, .ram, .rar, .rm, .rmvb, .rtf, .sql, .ss, .swf, .tgz, .tif, .torrent, .ttf, .txt, .vcd, .vob, .wav, .wma, .wmv, .wpd, .wps, .xls, .xlsx, .zip </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varIdArchivo</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Instrucciones_url</name>
            <fieldText>También puedes agregar la URL del documento</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>URL_del_documento</name>
            <dataType>String</dataType>
            <fieldText>URL del documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Agregar_Comentarios</name>
            <fieldText>Agregar Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultados</name>
        <label>Resultados</label>
        <locationX>1097</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_Resultados</name>
            <fieldText>No. de archivos agregados: {!varNoArchivos}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Agregar_Archivos</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varBucle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdArchivo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoArchivos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNoUrl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varURLDoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
