src/flows/MX_RTE_Agregar_Features_al_Pedido.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Agregrar_a_Coll_de_Check_list</name>
        <label>Agregrar a Coll de Check list</label>
        <locationX>932</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>VarColChecklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRegistroChecklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucle_pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregrar_a_Coll_de_Check_list_0</name>
        <label>Agregrar a Coll de Check list</label>
        <locationX>522</locationX>
        <locationY>1635</locationY>
        <assignmentItems>
            <assignToReference>VarColChecklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRegistroChecklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucle_feature_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregrar_a_Coll_de_Check_list_0_0</name>
        <label>Agregrar a Coll de Check list</label>
        <locationX>1885</locationX>
        <locationY>1698</locationY>
        <assignmentItems>
            <assignToReference>VarColChecklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRegistroChecklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucle_feature_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregrar_a_Coll_de_Check_list_0_0_0</name>
        <label>Agregrar a Coll de Check list</label>
        <locationX>1685</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>VarColChecklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRegistroChecklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucle_pedido_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asig_Pedido_IC</name>
        <label>Asig_Pedido_IC</label>
        <locationX>2129</locationX>
        <locationY>1272</locationY>
        <assignmentItems>
            <assignToReference>VarDescripcion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descripcion_IC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechadeCompromiso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Compromiso_IC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_IC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTipoRegistroPEDIDO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BUSCAR_ID_IC_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asig_Pedido_RCI</name>
        <label>Asig_Pedido_RCI</label>
        <locationX>1829</locationX>
        <locationY>1269</locationY>
        <assignmentItems>
            <assignToReference>VarDescripcion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descripcion_RCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Documento_RCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTipo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_RCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechadeCompromiso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Compromiso_RCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAreaSolicitante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Solicitante_RCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTipoRegistroPEDIDO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BUSCAR_ID_RCI_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asig_Pedido_RCI_0</name>
        <label>Asig_Pedido_RCI</label>
        <locationX>1978</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>VarDescripcion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descripcion_CCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Documento_CCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFechadeCompromiso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Compromiso_CCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTipoRegistroPEDIDO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BUSCAR_ID_CCC_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Pedido</name>
        <label>Asignar Id Pedido</label>
        <locationX>1277</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Feature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegFeature.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Check_List_Modulo_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Pedido1</name>
        <label>Asignar Id Pedido</label>
        <locationX>502</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>var_Id_Iniciativa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegPedido.MX_RTE_Iniciativa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_IdQ_Actual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegPedido.MX_RTE_Q__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRegPedido.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Features_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Pedido_0</name>
        <label>Asignar Id Pedido</label>
        <locationX>75</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Feature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegFeature.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Check_List_Modulo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Pedido_0_0</name>
        <label>Asignar Id Pedido</label>
        <locationX>1705</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Feature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegFeature.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregrar_a_Coll_de_Check_list_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Pedido_0_0_0</name>
        <label>Asignar Id Pedido</label>
        <locationX>1924</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRegistroChecklist.MX_RTE_Feature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_IdCasos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Check_List_Modulo_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_mensaje_de_error</name>
        <label>asignar mensaje de error</label>
        <locationX>833</locationX>
        <locationY>1107</locationY>
        <assignmentItems>
            <assignToReference>VarTXT_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Favor de elegir los pedidos, o cree uno  nuevo.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Seleccionar_pedidos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>A_que_objeto_pertenece</name>
        <label>A que objeto pertenece</label>
        <locationX>707</locationX>
        <locationY>979</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Iniciativa_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Id_Iniciativa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Features_0</targetReference>
            </connector>
            <label>Iniciativa</label>
        </rules>
        <rules>
            <name>Pedido_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Id_Iniciativa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrar_id_Pedido</targetReference>
            </connector>
            <label>Pedido</label>
        </rules>
    </decisions>
    <decisions>
        <name>A_que_objeto_pertenece_0</name>
        <label>A que objeto pertenece</label>
        <locationX>525</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>Encontrar_id_en_iniciativa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_Caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encontrar_id_en_caso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Features_0</targetReference>
            </connector>
            <label>Es Caso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buscar_Checklist_duplicados</name>
        <label>Buscar Checklist duplicados</label>
        <locationX>544</locationX>
        <locationY>1819</locationY>
        <defaultConnector>
            <targetReference>Agregrar_a_Coll_de_Check_list_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>se_encontro_registro_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Check_List_Modulo_Registros</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>bucle_feature_0</targetReference>
            </connector>
            <label>se encontro registro duplicado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buscar_Checklist_duplicados_0_0</name>
        <label>Buscar Checklist duplicados</label>
        <locationX>835</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>Agregrar_a_Coll_de_Check_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>se_encontro_registro_duplicado_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Check_List_Modulo_0_0_Registro</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>bucle_pedido</targetReference>
            </connector>
            <label>se encontro registro duplicado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buscar_Checklist_duplicados_0_0_0</name>
        <label>Buscar Checklist duplicados</label>
        <locationX>1622</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Agregrar_a_Coll_de_Check_list_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>se_encontro_registro_duplicado_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Check_List_Modulo_0_0_0_Registros</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>bucle_pedido_0</targetReference>
            </connector>
            <label>se encontro registro duplicado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_una_nueva</name>
        <label>Crear una nueva</label>
        <locationX>1293</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>ya_hay_caso_asociada_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Desea_crear_un_nuevo_pedido_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseo_crear_un_nuevo_pedido_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_CCC_RCI_o_IC_0</targetReference>
            </connector>
            <label>Desea crear un nuevo pedido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_bucle_feature</name>
        <label>Dec_bucle_Feature</label>
        <locationX>1263</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>bucle_feature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>subject_contenido_en_selecciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecciona_las_Features</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VarRegFeature.Subject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bucle_pedido</targetReference>
            </connector>
            <label>subject contenido en selecciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_bucle_feature_0</name>
        <label>Dec_bucle_Feature</label>
        <locationX>67</locationX>
        <locationY>1633</locationY>
        <defaultConnector>
            <targetReference>bucle_feature_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>subject_contenido_en_selecciones_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecciona_las_Features_0</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VarRegFeature.Subject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Id_Pedido_0</targetReference>
            </connector>
            <label>subject contenido en selecciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_bucle_feature_0_0</name>
        <label>Dec_bucle_Feature</label>
        <locationX>1479</locationX>
        <locationY>1713</locationY>
        <defaultConnector>
            <targetReference>bucle_feature_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>subject_contenido_en_selecciones_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecciona_las_Features_3</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VarRegFeature.Subject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Id_Pedido_0_0</targetReference>
            </connector>
            <label>subject contenido en selecciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_bucle_pedido</name>
        <label>Dec_bucle_pedido</label>
        <locationX>1492</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>bucle_pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>subject_contenido_en_selecciones_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccione_los_Pedidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VarRegPedido.MX_RTE_Descripci_n__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Id_Pedido</targetReference>
            </connector>
            <label>subject contenido en selecciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_bucle_pedido_0</name>
        <label>Dec_bucle_pedido</label>
        <locationX>2184</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>bucle_pedido_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>subject_contenido_en_selecciones_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccione_los_Pedidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VarRegPedido.MX_RTE_Descripci_n__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Id_Pedido_0_0_0</targetReference>
            </connector>
            <label>subject contenido en selecciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Existen_Pedidos</name>
        <label>DEC_Existen Pedidos</label>
        <locationX>876</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Seleccionar_pedidos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_hay_pedidos_encontrados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Features_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_CCC_RCI_o_IC_0</targetReference>
            </connector>
            <label>No hay pedidos encontrados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lleno_ambos</name>
        <label>Lleno ambos</label>
        <locationX>1175</locationX>
        <locationY>1197</locationY>
        <defaultConnector>
            <targetReference>Crear_una_nueva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>lleno_ambos_campos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccione_los_Pedidos</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deseo_crear_un_nuevo_pedido_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignar_mensaje_de_error</targetReference>
            </connector>
            <label>lleno ambos campos</label>
        </rules>
        <rules>
            <name>No_hay_pedidos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccione_los_Pedidos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_CCC_RCI_o_IC_0</targetReference>
            </connector>
            <label>No hay pedidos</label>
        </rules>
        <rules>
            <name>No_lleno_nada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccione_los_Pedidos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deseo_crear_un_nuevo_pedido_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignar_mensaje_de_error</targetReference>
            </connector>
            <label>No llenó nada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_CCC_RCI_o_IC</name>
        <label>Tiene CCC,RCI o IC</label>
        <locationX>258</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>No_tiene_permisos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene conjunto</defaultConnectorLabel>
        <rules>
            <name>Encontro_CCC_RCI_IC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varUserCCC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserIC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserRCI</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encontrar_id_en_caso</targetReference>
            </connector>
            <label>Encontro CCC, RCI o IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_CCC_RCI_o_IC_0</name>
        <label>Tiene CCC,RCI o IC</label>
        <locationX>1979</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>No tiene conjunto</defaultConnectorLabel>
        <rules>
            <name>Encontro_CCC_RCI_IC_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varUserIC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BUSCAR_ID_IC</targetReference>
            </connector>
            <label>Tiene IC</label>
        </rules>
        <rules>
            <name>Tiene_CCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserCCC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BUSCAR_ID_CCC</targetReference>
            </connector>
            <label>Tiene CCC</label>
        </rules>
        <rules>
            <name>Tiene_RCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserRCI</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BUSCAR_ID_RCI</targetReference>
            </connector>
            <label>Tiene RCI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ya_hay_caso_asociada</name>
        <label>ya hay caso asociada</label>
        <locationX>1675</locationX>
        <locationY>1365</locationY>
        <defaultConnector>
            <targetReference>Buscar_Features_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Ya_hay_caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ya_hay_caso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Check_List</targetReference>
            </connector>
            <label>Ya hay caso</label>
        </rules>
    </decisions>
    <decisions>
        <name>ya_hay_caso_asociada_0</name>
        <label>ya hay caso asociada</label>
        <locationX>1448</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>Buscar_Features</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Ya_hay_caso_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encontrar_id_en_caso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bucle_pedido_0</targetReference>
            </connector>
            <label>Ya hay caso</label>
        </rules>
    </decisions>
    <description>Flujo para agregar features a un pedido, se considera variable recordId que identifica si se ejecuta dentro de una iniciativa o un pedido VERSION PREVIENE DUPLICADOS 2 ejecutable en Iniciativa. Se consideran variables individuales ya que la versión API del sandbox es superior a la de producción v5</description>
    <dynamicChoiceSets>
        <name>COPLS_Area_Solicitante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_RTE_area_solicitante__c</picklistField>
        <picklistObject>MX_RTE_Pedido_RCI__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COPLS_Documento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_RTE_Documento__c</picklistField>
        <picklistObject>MX_RTE_Pedido_RCI__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COPLS_Producto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_RTE_Producto__c</picklistField>
        <picklistObject>MX_RTE_Pedido_RCI__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COPLS_Tipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_RTE_Tipo__c</picklistField>
        <picklistObject>MX_RTE_Pedido_RCI__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COPR_Features</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_IdCasos</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Subject</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Subject</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COPR_Pedidos</name>
        <dataType>String</dataType>
        <displayField>MX_RTE_Descripci_n__c</displayField>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Q__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Pedido_RCI__c</object>
        <outputAssignments>
            <assignToReference>VarIDPedidos</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>MX_RTE_Descripci_n__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IniciativasOpciones</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MX_RTE_Iniciativa__c</object>
        <outputAssignments>
            <assignToReference>var_Id_Iniciativa</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>VarUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Agregar Features al Pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agregar Features al Pedido</label>
    <loops>
        <name>bucle_feature</name>
        <label>bucle feature</label>
        <locationX>1064</locationX>
        <locationY>509</locationY>
        <assignNextValueToReference>VarRegFeature</assignNextValueToReference>
        <collectionReference>Col_Features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dec_bucle_feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Check_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>bucle_feature_0</name>
        <label>bucle feature</label>
        <locationX>325</locationX>
        <locationY>1530</locationY>
        <assignNextValueToReference>VarRegFeature</assignNextValueToReference>
        <collectionReference>Col_Features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dec_bucle_feature_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Check_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>bucle_feature_3</name>
        <label>bucle feature 3</label>
        <locationX>1678</locationX>
        <locationY>1564</locationY>
        <assignNextValueToReference>VarRegFeature</assignNextValueToReference>
        <collectionReference>Col_Features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dec_bucle_feature_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Check_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>bucle_pedido</name>
        <label>bucle pedido</label>
        <locationX>1270</locationX>
        <locationY>330</locationY>
        <assignNextValueToReference>VarRegPedido</assignNextValueToReference>
        <collectionReference>Col_Pedidos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dec_bucle_pedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>bucle_feature</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>bucle_pedido_0</name>
        <label>bucle pedido</label>
        <locationX>1917</locationX>
        <locationY>267</locationY>
        <assignNextValueToReference>VarRegPedido</assignNextValueToReference>
        <collectionReference>Col_Pedidos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dec_bucle_pedido_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Check_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Check_List</name>
        <label>Crear Check List</label>
        <locationX>1121</locationX>
        <locationY>1509</locationY>
        <connector>
            <targetReference>Exito</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>VarColChecklist</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Pedido</name>
        <label>Crear_Pedido</label>
        <locationX>1978</locationX>
        <locationY>1332</locationY>
        <assignRecordIdToReference>VarRegPedido.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ya_hay_caso_asociada</targetReference>
        </connector>
        <inputAssignments>
            <field>MX_RTE_Descripci_n__c</field>
            <value>
                <elementReference>VarDescripcion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Documento__c</field>
            <value>
                <elementReference>VarDocumento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Fecha_compromiso__c</field>
            <value>
                <elementReference>VarFechadeCompromiso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Iniciativa__c</field>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Producto__c</field>
            <value>
                <elementReference>VarProducto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Q__c</field>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Tipo__c</field>
            <value>
                <elementReference>VarTipo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_area_solicitante__c</field>
            <value>
                <elementReference>Area_Solicitante_RCI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarTipoRegistroPEDIDO</elementReference>
            </value>
        </inputAssignments>
        <object>MX_RTE_Pedido_RCI__c</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_el_Conjunto_de_permisos_del_usuario_CCC</name>
        <label>Buscar el Conjunto de permisos del usuario CCC</label>
        <locationX>26</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_el_Conjunto_de_permisos_del_usuario_RCI</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegCCC.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varUserCCC</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_el_Conjunto_de_permisos_del_usuario_IC</name>
        <label>Buscar el Conjunto de permisos del usuario IC</label>
        <locationX>35</locationX>
        <locationY>973</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_CCC_RCI_o_IC</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegIC.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varUserIC</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_el_Conjunto_de_permisos_del_usuario_RCI</name>
        <label>Buscar el Conjunto de permisos del usuario RCI</label>
        <locationX>235</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_el_Conjunto_de_permisos_del_usuario_IC</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegRCI.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varUserRCI</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Búsqueda de las Features relacionadas a la iniciativa</description>
        <name>Buscar_Features</name>
        <label>Buscar_Features</label>
        <locationX>1212</locationX>
        <locationY>858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccionar_Features</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Col_Features</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Búsqueda de las Features relacionadas a la iniciativa</description>
        <name>Buscar_Features_0</name>
        <label>Buscar_Pedidos</label>
        <locationX>716</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Existen_Pedidos</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Q__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Pedido_RCI__c</object>
        <outputReference>Col_Pedidos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_RTE_Descripci_n__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Búsqueda de las Features relacionadas a la iniciativa</description>
        <name>Buscar_Features_0_0</name>
        <label>Buscar_Features</label>
        <locationX>503</locationX>
        <locationY>1412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccionar_Features_0</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Col_Features</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Búsqueda de las Features relacionadas a la iniciativa</description>
        <name>Buscar_Features_3</name>
        <label>Buscar_Features</label>
        <locationX>1979</locationX>
        <locationY>1515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccionar_Features_3</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Id_Iniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IdQ_Actual</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Col_Features</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>BUSCAR_ID_CCC</name>
        <label>BUSCAR_ID_CCC</label>
        <locationX>1979</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>P_Crear_un_Pedido_CCC</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_RTE_CCC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BUSCAR_ID_CCC_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BUSCAR_ID_IC</name>
        <label>BUSCAR_ID_IC</label>
        <locationX>2129</locationX>
        <locationY>859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>P_Crear_un_Pedido_IC</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_RTE_IC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BUSCAR_ID_IC_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BUSCAR_ID_RCI</name>
        <label>BUSCAR_ID_RCI</label>
        <locationX>1831</locationX>
        <locationY>858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>P_Crear_un_Pedido_RCI</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_RTE_RCI</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BUSCAR_ID_RCI_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BuscarPermisoCCC</name>
        <label>BuscarPermisoCCC</label>
        <locationX>225</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscarPermisoRCI</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_RTE_CCC</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>VarRegCCC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>BuscarPermisoIC</name>
        <label>BuscarPermisoIC</label>
        <locationX>26</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_el_Conjunto_de_permisos_del_usuario_CCC</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_RTE_Imp_Comercial_RTE</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>VarRegIC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>BuscarPermisoRCI</name>
        <label>BuscarPermisoRCI</label>
        <locationX>227</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscarPermisoIC</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_RTE_RCI</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>VarRegRCI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Encontrar_id_en_caso</name>
        <label>Encontrar id en caso</label>
        <locationX>371</locationX>
        <locationY>883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_que_objeto_pertenece_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_IdCasos</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Id_Iniciativa</assignToReference>
            <field>MX_RTE_Iniciativa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_IdQ_Actual</assignToReference>
            <field>MX_RTE_PI__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Encontrar_id_en_iniciativa</name>
        <label>Encontrar id en iniciativa</label>
        <locationX>501</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_que_objeto_pertenece</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Iniciativa__c</object>
        <outputAssignments>
            <assignToReference>var_Id_Iniciativa</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_IdQ_Actual</assignToReference>
            <field>MX_RTE_PI_Actual__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Encontrar_id_Pedido</name>
        <label>Encontrar ID en Pedido</label>
        <locationX>715</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Id_Pedido1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Pedido_RCI__c</object>
        <outputReference>VarRegPedido</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_RTE_Iniciativa__c</queriedFields>
        <queriedFields>MX_RTE_Q__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Check_List_Modulo</name>
        <label>Obtener Check List Modulo</label>
        <locationX>277</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Checklist_duplicados</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegFeature.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Pedido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Check_List_Modulo__c</object>
        <outputReference>Obtener_Check_List_Modulo_Registros</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Check_List_Modulo_0_0</name>
        <label>Obtener Check List Modulo</label>
        <locationX>1083</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Checklist_duplicados_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegFeature.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Pedido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Check_List_Modulo__c</object>
        <outputReference>Obtener_Check_List_Modulo_0_0_Registro</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Check_List_Modulo_0_0_0</name>
        <label>Obtener Check List Modulo</label>
        <locationX>1790</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Checklist_duplicados_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_IdCasos</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_Pedido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegPedido.Id</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Check_List_Modulo__c</object>
        <outputReference>Obtener_Check_List_Modulo_0_0_0_Registros</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1250</locationX>
        <locationY>1722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mensaje_error</name>
            <fieldText>&lt;p&gt;Ha ocurrido un error, por favor consulta a tu administrador del sistema.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exito</name>
        <label>Exito</label>
        <locationX>1008</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Mensaje_Exito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Agregaste tu Pedido a las features e&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;xitosamente&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_tiene_permisos</name>
        <label>No tiene permisos</label>
        <locationX>42</locationX>
        <locationY>1138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_permisos</name>
            <fieldText>&lt;p&gt;Lo sentimos, usted no tiene los permisos suficientes para ejecutar esta acción.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>P_Crear_un_Pedido_CCC</name>
        <label>P_ Crear un Pedido_CCC</label>
        <locationX>1979</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asig_Pedido_RCI_0</targetReference>
        </connector>
        <fields>
            <name>txt_ccc</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;CREAR PEDIDO: CCC&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Llena los campos para crear tu pedido.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Descripcion_CCC</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documento_CCC</name>
            <choiceReferences>COPLS_Documento</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Compromiso_CCC</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Requerida</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>P_Crear_un_Pedido_IC</name>
        <label>P_ Crear un Pedido_IC</label>
        <locationX>2129</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asig_Pedido_IC</targetReference>
        </connector>
        <fields>
            <name>txt_IC</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;CREAR PEDIDO: IC&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Llena los campos para crear tu pedido.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Descripcion_IC</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_IC</name>
            <choiceReferences>COPLS_Producto</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Compromiso_IC</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Requerida</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>P_Crear_un_Pedido_RCI</name>
        <label>P_ Crear un Pedido_RCI</label>
        <locationX>1832</locationX>
        <locationY>1123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asig_Pedido_RCI</targetReference>
        </connector>
        <fields>
            <name>txt_RCI</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;CREAR PEDIDO: RCA&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Llena los campos para crear tu pedido.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Descripcion_RCI</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Area_Solicitante_RCI</name>
            <choiceReferences>COPLS_Area_Solicitante</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Área Solicitante</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documento_RCI</name>
            <choiceReferences>COPLS_Documento</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_RCI</name>
            <choiceReferences>COPLS_Tipo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Compromiso_RCI</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Requerida</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para seleccionar las features</description>
        <name>Seleccionar_Features</name>
        <label>Seleccionar Features</label>
        <locationX>1002</locationX>
        <locationY>778</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>bucle_feature</targetReference>
        </connector>
        <fields>
            <name>txt_selecciona_iniciativa</name>
            <fieldText>&lt;p&gt;Selecciona las Features a las cuales deseas agregar pedidos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecciona_las_Features</name>
            <choiceReferences>COPR_Features</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona las Features</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para seleccionar las features</description>
        <name>Seleccionar_Features_0</name>
        <label>Seleccionar Features</label>
        <locationX>325</locationX>
        <locationY>1273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>bucle_feature_0</targetReference>
        </connector>
        <fields>
            <name>elige_features_para_pedido</name>
            <fieldText>&lt;p&gt;Elige features a las cuales les quieres agregar tu pedido.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selecciona_las_Features_0</name>
            <choiceReferences>COPR_Features</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona las Features</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para seleccionar las features</description>
        <name>Seleccionar_Features_3</name>
        <label>Seleccionar Features</label>
        <locationX>1786</locationX>
        <locationY>1470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>bucle_feature_3</targetReference>
        </connector>
        <fields>
            <name>Selecciona_las_Features_3</name>
            <choiceReferences>COPR_Features</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona las Features a las que deseas agregarle el pedido creado.</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccionar_pedidos</name>
        <label>Seleccionar pedidos</label>
        <locationX>868</locationX>
        <locationY>947</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lleno_ambos</targetReference>
        </connector>
        <fields>
            <name>txt_error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(231, 21, 21);&quot;&gt;{!VarTXT_Error}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleccione_los_Pedidos</name>
            <choiceReferences>COPR_Pedidos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione los Pedidos</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txt_space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txt_deseo_crear_neuvo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;¿Deseas crear un nuevo pedido?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Deseo_crear_un_nuevo_pedido_1</name>
            <dataType>Boolean</dataType>
            <fieldText>Sí</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BuscarPermisoCCC</startElementReference>
    <status>Active</status>
    <variables>
        <description>Se utiliza como alternativa ya que la versión API del sandbox es superior a la que se encuentra en productivo</description>
        <name>BUSCAR_ID_CCC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Se utiliza como alternativa ya que la versión API del sandbox es superior a la que se encuentra en productivo</description>
        <name>BUSCAR_ID_IC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Se utiliza como alternativa ya que la versión API del sandbox es superior a la que se encuentra en productivo</description>
        <name>BUSCAR_ID_RCI_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Var de colección para almacenar todas las features que cumplen con el filtro.</description>
        <name>Col_Features</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Col_Pedidos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_RTE_Pedido_RCI__c</objectType>
    </variables>
    <variables>
        <name>ColObtenidosPedidos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Se utiliza por versión anterior de API en producción</description>
        <name>Obtener_Check_List_Modulo_0_0_0_Registros</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_RTE_Check_List_Modulo__c</objectType>
    </variables>
    <variables>
        <description>Se utilza por versión anterior de API en producción</description>
        <name>Obtener_Check_List_Modulo_0_0_Registro</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_RTE_Check_List_Modulo__c</objectType>
    </variables>
    <variables>
        <description>Se utiliza por versión anterior de API en producción</description>
        <name>Obtener_Check_List_Modulo_Registros</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_RTE_Check_List_Modulo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Id_Iniciativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_IdCasos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_IdQ_Actual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAreaSolicitante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarColChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_RTE_Check_List_Modulo__c</objectType>
    </variables>
    <variables>
        <name>VarDescripcion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFechadeCompromiso</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIdPedido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarIDPedidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarRegCCC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>VarRegFeature</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarRegIC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>VarRegistroChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_RTE_Check_List_Modulo__c</objectType>
    </variables>
    <variables>
        <name>VarRegPedido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_RTE_Pedido_RCI__c</objectType>
    </variables>
    <variables>
        <name>VarRegPermSetUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>VarRegRCI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>VarTipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTipoRegistroPEDIDO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTXT_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserCCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserIC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserRCI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
