src/flows/MX_RTE_Extender_duracion_PI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asigna_PI_a_Extender</name>
        <label>Asigna PI a Extender</label>
        <locationX>643</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>varPiExt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cuantos_PI_desea_extender</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encontrar_PI_Extendido</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PI_Extendido_vacio</name>
        <label>PI Extendido vacio</label>
        <locationX>265</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sin_PI_Extendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIdPiExtendido</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Encontrar_detalle_PI_Estimado</targetReference>
            </connector>
            <label>Sin PI Extendido</label>
        </rules>
        <rules>
            <name>Con_PI_Extendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIdPiExtendido</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Encontrar_detalle_PI_Extendido</targetReference>
            </connector>
            <label>Con PI Extendido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontro_PI</name>
        <label>¿Se encontro PI?</label>
        <locationX>1025</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIdPiNuevo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PI_Extendido_Real</targetReference>
            </connector>
            <label>SI</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIdPiNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_PI_NO_ENCONTRADO</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <formulas>
        <name>varNuevoAnoPi</name>
        <dataType>Number</dataType>
        <expression>IF
(
	MOD({!varPiExt}+{!varNoPiEstimado},4)=0,
	FLOOR(({!varPiExt}+{!varNoPiEstimado})/4)+{!varAnoPiEstimado}-1,
FLOOR(({!varPiExt}+{!varNoPiEstimado})/4)+{!varAnoPiEstimado}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varNuevoNoPi</name>
        <dataType>Number</dataType>
        <expression>IF
(
	({!varPiExt}+{!varNoPiEstimado})&lt;=4,
	{!varPiExt}+{!varNoPiEstimado},
	IF
	(
	MOD({!varPiExt}+{!varNoPiEstimado},4)=0,
	4,
	MOD({!varPiExt}+{!varNoPiEstimado},4)
)
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Extender duración PI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extender duración PI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Encontrar_detalle_PI_Estimado</name>
        <label>Encontrar detalle PI Estimado</label>
        <locationX>522</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Cuantos_PI_desea_extender</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdPiEstimado</elementReference>
            </value>
        </filters>
        <object>MX_RTE_PI__c</object>
        <outputAssignments>
            <assignToReference>varAnoPiEstimado</assignToReference>
            <field>MX_RTE_Ano_PI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNoPiEstimado</assignToReference>
            <field>MX_RTE_No_PI__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Encontrar_detalle_PI_Extendido</name>
        <label>Encontrar detalle PI Extendido</label>
        <locationX>275</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Cuantos_PI_desea_extender</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdPiExtendido</elementReference>
            </value>
        </filters>
        <object>MX_RTE_PI__c</object>
        <outputAssignments>
            <assignToReference>varAnoPiEstimado</assignToReference>
            <field>MX_RTE_Ano_PI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNoPiEstimado</assignToReference>
            <field>MX_RTE_No_PI__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Encontrar_PI_Extendido</name>
        <label>Encontrar PI Extendido</label>
        <locationX>886</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontro_PI</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Ano_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNuevoAnoPi</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_No_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNuevoNoPi</elementReference>
            </value>
        </filters>
        <object>MX_RTE_PI__c</object>
        <outputAssignments>
            <assignToReference>varIdPiNuevo</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Encontrar_valores</name>
        <label>Encontrar valores</label>
        <locationX>167</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PI_Extendido_vacio</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdIniciativa</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Iniciativa__c</object>
        <outputAssignments>
            <assignToReference>varIdPiEstimado</assignToReference>
            <field>MX_RTE_PI_Estimado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIdPiExtendido</assignToReference>
            <field>MX_RTE_PI_Extendido__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PI_Extendido_Real</name>
        <label>Update PI Extendido (Real)</label>
        <locationX>1232</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Resultado_Exitoso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdIniciativa</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_PI_Extendido__c</field>
            <value>
                <elementReference>varIdPiNuevo</elementReference>
            </value>
        </inputAssignments>
        <object>MX_RTE_Iniciativa__c</object>
    </recordUpdates>
    <screens>
        <name>Resultado_Exitoso</name>
        <label>Resultado Exitoso</label>
        <locationX>1232</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Exito</name>
            <fieldText>&lt;p&gt;El registro ha sido actualizado satisfactoriamente con el Q: {!varNuevoNoPi}Q{!varNuevoAnoPi}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Cuantos_PI_desea_extender</name>
        <label>¿Cuantos PI desea extender?</label>
        <locationX>533</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asigna_PI_a_Extender</targetReference>
        </connector>
        <fields>
            <name>Cuantos_PI_desea_extender</name>
            <dataType>Number</dataType>
            <fieldText>¿Cuantos Q&apos;s desea extender?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>No puedes ingresar un valor menor a 0</errorMessage>
                <formulaExpression>{!Cuantos_PI_desea_extender}&gt;=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>abc</name>
            <fieldText>&lt;p&gt;Q AL MOMENTO: {!varNoPiEstimado}Q{!varAnoPiEstimado}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_PI_NO_ENCONTRADO</name>
        <label>PI NO ENCONTRADO</label>
        <locationX>1034</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PI_NO_ENCONTRADO2</name>
            <fieldText>&lt;p&gt;No existe un registro para el Q {!varNuevoNoPi}Q{!varNuevoAnoPi}, solicita la creación de dicho registro y vuelve a intentarlo después.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Encontrar_valores</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAnoPiEstimado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varIdIniciativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdPiEstimado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdPiExtendido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdPiNuevo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNoPiEstimado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPiExt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
