src/flows/MX_RTE_Deslizamiento_de_Feature.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Flujo usado en el bot칩n Deslizar Feature, que lleva a cabo esa mismo.</description>
    <dynamicChoiceSets>
        <name>ResultadosPi</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Q</stringValue>
            </value>
        </filters>
        <object>MX_RTE_PI__c</object>
        <outputAssignments>
            <assignToReference>IdPI</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>MX_RTE_Ano_PI__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Deslizamiento de Feature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deslizamiento de Feature</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>El_estatus_cambia_a_Deslizado</name>
        <label>El estatus cambia a Deslizado</label>
        <locationX>509</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Mensaje_Final</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FeatureID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Fase__c</field>
            <value>
                <stringValue>Deslizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Justificaci_n_de_deslizamiento__c</field>
            <value>
                <elementReference>Justificar_Deslizamiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_PI_Siguiente__c</field>
            <value>
                <elementReference>IdPI</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Agregar_Justificaci_n_de_Deslizamiento</name>
        <label>Justificaci칩n de Deslizamiento</label>
        <locationX>180</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resultados</targetReference>
        </connector>
        <fields>
            <name>Justificaciondeslizada</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Justificar</name>
            <fieldText>Describa las raz칩nes por las que desea deslizar la Feature</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Justificar_Deslizamiento</name>
            <fieldText>Justificar Deslizamiento</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Final</name>
        <label>Mensaje Final</label>
        <locationX>688</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EstadoActualizado</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;El status de la Feature ha sido actualizado a Deslizado.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultados</name>
        <label>Resultados</label>
        <locationX>339</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>El_estatus_cambia_a_Deslizado</targetReference>
        </connector>
        <fields>
            <name>Instrucciones</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;IMPORTANTE&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Elige el PI que dar치 continuidad a la Feature deslizada&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResultPI</name>
            <choiceReferences>ResultadosPi</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultados Encontrados</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Agregar_Justificaci_n_de_Deslizamiento</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>FeatureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
