src/flows/MX_RTE_Resumen_Ponderacion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SumaPonderaciones</name>
        <label>SumaPonderaciones</label>
        <locationX>809</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>VarPonderacion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjVarFeatureRP.MX_RTE_Ponderacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCapexNumero</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjVarFeatureRP.MX_RTE_Capex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOpexNumero</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjVarFeatureRP.MX_RTE_Opex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarConteo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BucleSearchFeature</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RPSioNo</name>
        <label>RPSioNo</label>
        <locationX>330</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Feature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RPSi</defaultConnectorLabel>
        <rules>
            <name>RPNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarRPID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearRP</targetReference>
            </connector>
            <label>RPNo</label>
        </rules>
    </decisions>
    <interviewLabel>Resumen Ponderacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resumen Ponderación16</label>
    <loops>
        <name>BucleSearchFeature</name>
        <label>BucleSearchFeature</label>
        <locationX>744</locationX>
        <locationY>58</locationY>
        <assignNextValueToReference>SObjVarFeatureRP</assignNextValueToReference>
        <collectionReference>SObjCResultadosFeatureRP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumaPonderaciones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizarRP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CrearRP</name>
        <label>CrearRP</label>
        <locationX>271</locationX>
        <locationY>257</locationY>
        <assignRecordIdToReference>VarNuevoRPID</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizaci_n_FeatureRPNuevo</targetReference>
        </connector>
        <inputAssignments>
            <field>MX_RTE_Capex__c</field>
            <value>
                <elementReference>VarNuevoFeatureCapex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Iniciativa__c</field>
            <value>
                <elementReference>VarFeatureIniciativa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_No_Features__c</field>
            <value>
                <elementReference>VarConteo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Opex__c</field>
            <value>
                <elementReference>VarNuevoFeatureOpex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_PI__c</field>
            <value>
                <elementReference>VarFeaturePI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Resumen__c</field>
            <value>
                <elementReference>VarNuevoFeaturePonderacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>VarPIName</elementReference>
            </value>
        </inputAssignments>
        <object>MX_RTE_Resumen_Ponderacion__c</object>
    </recordCreates>
    <recordLookups>
        <name>RPSearch</name>
        <label>RPSearch</label>
        <locationX>176</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RPSioNo</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarFeatureIniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarFeaturePI</elementReference>
            </value>
        </filters>
        <object>MX_RTE_Resumen_Ponderacion__c</object>
        <outputAssignments>
            <assignToReference>VarRPID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRPIniciativa</assignToReference>
            <field>MX_RTE_Iniciativa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRPPI</assignToReference>
            <field>MX_RTE_PI__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SearchFeature</name>
        <label>SearchFeature</label>
        <locationX>611</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BucleSearchFeature</targetReference>
        </connector>
        <filters>
            <field>MX_RTE_Iniciativa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRPIniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_RTE_PI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRPPI</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObjCResultadosFeatureRP</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_RTE_Ponderacion__c</queriedFields>
        <queriedFields>MX_RTE_Capex__c</queriedFields>
        <queriedFields>MX_RTE_Opex__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizaci_n_FeatureRPNuevo</name>
        <label>Actualización FeatureRPNuevo</label>
        <locationX>168</locationX>
        <locationY>373</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarFeatureID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Resumen_Ponderacion__c</field>
            <value>
                <elementReference>VarNuevoRPID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Feature</name>
        <label>Actualizar Feature</label>
        <locationX>481</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>SearchFeature</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarFeatureID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Resumen_Ponderacion__c</field>
            <value>
                <elementReference>VarRPID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarRP</name>
        <label>ActualizarRP</label>
        <locationX>1171</locationX>
        <locationY>51</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_RTE_Capex__c</field>
            <value>
                <elementReference>VarCapexNumero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_No_Features__c</field>
            <value>
                <elementReference>VarConteo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Opex__c</field>
            <value>
                <elementReference>VarOpexNumero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Resumen__c</field>
            <value>
                <elementReference>VarPonderacion</elementReference>
            </value>
        </inputAssignments>
        <object>MX_RTE_Resumen_Ponderacion__c</object>
    </recordUpdates>
    <startElementReference>RPSearch</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>SObjCResultadosFeatureRP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjVarFeatureRP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarCapex</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarCapexNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarConteo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarFeatureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFeatureIniciativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFeaturePI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoFeatureCapex</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoFeatureCapexNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoFeatureOpex</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoFeatureOpexNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoFeaturePonderacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarNuevoRPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarOpex</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarOpexNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarPonderacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarRPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarRPIniciativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarRPPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
