src/flows/MX_RTE_Crear_Condicionantes.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Se realiza la asignación del número ingresado en pantalla a la variable NoRegistros</description>
        <name>Asignacion_Asignar_No_Registros</name>
        <label>Asignar No. Registros</label>
        <locationX>285</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>NoRegistros</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accion_Crear_Condicionantes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>op_pregunta_Si</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>opc_pregunta_No</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Servira para conocer el número de veces que el flujo debe ejecutarse.</description>
        <name>Decison_Crear_registros</name>
        <label>¿Crear registros?</label>
        <locationX>653</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Resultado_Crear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pregunta_Desea_agregar_un_nuevo_Condicionante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>op_pregunta_Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Ingresa_Numero_de_condicionantes</targetReference>
            </connector>
            <label>Crear</label>
        </rules>
        <rules>
            <name>Resultado_No_crear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pregunta_Desea_agregar_un_nuevo_Condicionante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opc_pregunta_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Finalizacion_del_Proceso</targetReference>
            </connector>
            <label>No crear</label>
        </rules>
    </decisions>
    <description>Flujo que ayuda a la creación de varios registros a la vez</description>
    <dynamicChoiceSets>
        <name>opc_tipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_RTE_Tipo__c</picklistField>
        <picklistObject>MX_RTE_Pedido_RCI__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Crear Condicionantes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Condicionantes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Accion_Crear_Condicionantes</name>
        <label>Crear Condicionantes</label>
        <locationX>494</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Pantalla_Continuar</targetReference>
        </connector>
        <inputAssignments>
            <field>MX_RTE_Check_List_M_dulo__c</field>
            <value>
                <elementReference>IdCheckList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Descripci_n__c</field>
            <value>
                <elementReference>Descripci_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Documento__c</field>
            <value>
                <elementReference>opc_res_doc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Fecha_compromiso__c</field>
            <value>
                <elementReference>Campo_Fecha_Compromiso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_Tipo__c</field>
            <value>
                <elementReference>Campo_Tipo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_RTE_area_solicitante__c</field>
            <value>
                <elementReference>opc_res_catalogo</elementReference>
            </value>
        </inputAssignments>
        <object>MX_RTE_Pedido_RCI__c</object>
    </recordCreates>
    <screens>
        <name>Pantalla_Continuar</name>
        <label>Continuar</label>
        <locationX>657</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decison_Crear_registros</targetReference>
        </connector>
        <fields>
            <name>pregunta_Desea_agregar_un_nuevo_Condicionante</name>
            <choiceReferences>op_pregunta_Si</choiceReferences>
            <choiceReferences>opc_pregunta_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Desea agregar un nuevo Condicionante?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Finalizacion_del_Proceso</name>
        <label>Finalización del Proceso</label>
        <locationX>851</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texto_Final</name>
            <fieldText>Se han creado {!NoRegistros} registros.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Ingresa_Numero_de_condicionantes</name>
        <label>Ingresa Numero de condicionantes</label>
        <locationX>165</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_Asignar_No_Registros</targetReference>
        </connector>
        <fields>
            <name>Campo_Tipo</name>
            <choiceReferences>opc_tipo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>campos_catalogo</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>MX_RTE_Condicionantes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>MX_RTE_area_solicitante__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>MX_RTE_Documento__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Cátalogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Documento</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opc_res_catalogo</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>opc_res_doc</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Descripci_n</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campo_Fecha_Compromiso</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Compromiso</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Pantalla_Ingresa_Numero_de_condicionantes</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>IdCheckList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Número de registros del tipo condicionante que deben ser creados</description>
        <name>NoRegistros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>opc_res_catalogo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>opc_res_doc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
