src/flows/MX_SB_SAC_BuscarClienteCotizacion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>MX_SB_SAC_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>MX_SB_SAC_SI</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Existe_Cuenta</name>
        <label>Existe Cuenta</label>
        <locationX>371</locationX>
        <locationY>893</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_SiExisteCuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Cuenta.Correo_Electronico__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ResultadoPoliza_0_0</targetReference>
            </connector>
            <label>Si Existe Cuenta</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_NoExisteCuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Cuenta.Correo_Electronico__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ObtenerTipoRegistro</targetReference>
            </connector>
            <label>No existe Cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_EsCliente</name>
        <label>¿Es Cliente?</label>
        <locationX>369</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_SiCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_FolioPoliza</targetReference>
            </connector>
            <label>Si Cliente</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_NoCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_FolioPoliza_0</targetReference>
            </connector>
            <label>No Cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_ExisteCotizador</name>
        <label>Existe Cotizador</label>
        <locationX>1173</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_SiCotizadorAuto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Seguro Dinámico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso</targetReference>
            </connector>
            <label>Si Cotizador Auto</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorVida</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contigo Bancomer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguro de Gastos Funerarios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Respaldo Seguro Contra Cancer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0</targetReference>
            </connector>
            <label>Si Cotizador Vida</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorSalud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cirugía</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Salud</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorDanos</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transacción Segura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retiro Efectivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0</targetReference>
            </connector>
            <label>Si Cotizador Daños</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorAccidentesPersonales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ayuda Hospitalaria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Accidentes Personales</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_ExisteCotizador_0</name>
        <label>Existe Cotizador</label>
        <locationX>1166</locationX>
        <locationY>893</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_SiCotizadorAuto_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Seguro Dinámico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Auto</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorVida_0</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contigo Bancomer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguro de Gastos Funerarios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Respaldo Seguro Contra Cancer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Vida</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorSalud_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cirugía</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Salud</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorDanos_0</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transacción Segura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retiro Efectivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Daños</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_SiCotizadorAccidentesPersonales_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_ProductoVentas_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ayuda Hospitalaria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Si Cotizador Accidentes Personales</label>
        </rules>
    </decisions>
    <description>Eres cliente ventas</description>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarClienteNombre</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_NombreCompleto__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarClienteRFC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>RFC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarCorreo</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>Correo_Electronico__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_CorreoElectronicoCasos1</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>MX_SB_SAC_InformacionGeneral__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_ConjuntoMotivosLlamadaCliente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_ProductosVenta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_SB_SAC_ProductosVenta__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Buscar Cliente Cotización {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buscar Cliente Cotización</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MX_SB_SAC_CrearRegistroCuenta</name>
        <label>Crear registro Cuenta</label>
        <locationX>616</locationX>
        <locationY>1151</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdCuenta</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerDatosContrato_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ApellidoMaterno__c</field>
            <value>
                <elementReference>MX_SB_SAC_ApellidoMaterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApellidoPaterno__c</field>
            <value>
                <elementReference>MX_SB_SAC_ApellidoPaterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correo_Electronico__c</field>
            <value>
                <elementReference>MX_SB_SAC_CorreoElectronicoCasos1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>MX_SB_SAC_Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>MX_SB_SAC_ApellidoPaterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>MX_SB_SAC_CorreoElectronicoCasos1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>MX_SB_SAC_Telefonos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MX_SB_SAC_IdTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1074</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ExisteCotizador</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1015</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ExisteCotizador_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen los correos electrónicos de la cuenta</description>
        <name>MX_SB_SAC_Obtencion_datos_cuenta</name>
        <label>Obtencion datos cuenta</label>
        <locationX>779</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerDatosContrato</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Cuenta.Correo_Electronico__c</assignToReference>
            <field>Correo_Electronico__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Cuenta.PersonEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos</name>
        <label>Obtención de datos Casos</label>
        <locationX>52</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_EsCliente</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoMaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoPaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_CorreoCuenta__c</assignToReference>
            <field>MX_SB_SAC_CorreoCuenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</assignToReference>
            <field>MX_SB_SAC_EsCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c</assignToReference>
            <field>MX_SB_SAC_Nombre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedName</assignToReference>
            <field>SuppliedName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerDatosContrato</name>
        <label>Obtener datos de Contrato SAC</label>
        <locationX>843</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarRegistrosCuenta_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdProducto</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerDatosContrato_0</name>
        <label>Obtener datos de Contrato SAC</label>
        <locationX>728</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarRegistrosCuenta</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdProducto</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerDatosContrato_0_0</name>
        <label>Obtener datos de Contrato SAC</label>
        <locationX>1013</locationX>
        <locationY>1149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdProducto</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCuenta</name>
        <label>Obtener Registro Cuenta</label>
        <locationX>379</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cuenta</targetReference>
        </connector>
        <filters>
            <field>Correo_Electronico__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_CorreoElectronicoCasos1</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Cuenta.Correo_Electronico__c</assignToReference>
            <field>Correo_Electronico__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Cuenta.PersonEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerTipoRegistro</name>
        <label>Obtener Tipo de registro</label>
        <locationX>380</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_CrearRegistroCuenta</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1755</locationX>
        <locationY>393</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1623</locationX>
        <locationY>515</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Vida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1331</locationX>
        <locationY>556</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Daños</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1621</locationX>
        <locationY>246</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Salud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1328</locationX>
        <locationY>180</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Accidentes Personales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1755</locationX>
        <locationY>893</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_CorreoCuenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_Cuenta.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Auto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1619</locationX>
        <locationY>1019</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Vida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1326</locationX>
        <locationY>1060</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Daños</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1616</locationX>
        <locationY>750</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Salud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1324</locationX>
        <locationY>684</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_ProductoVentas_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <stringValue>Accidentes Personales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_IdProducto</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizarRegistrosCuenta</name>
        <label>Actualizar Registros Cuenta</label>
        <locationX>869</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Correo_Electronico__c</field>
            <value>
                <elementReference>MX_SB_SAC_CorreoElectronicoCasos1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>MX_SB_SAC_CorreoElectronicoCasos1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizarRegistrosCuenta_0</name>
        <label>Actualizar Registros Cuenta</label>
        <locationX>959</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Correo_Electronico__c</field>
            <value>
                <elementReference>MX_SB_SAC_Cuenta.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>MX_SB_SAC_Cuenta.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>MX_SB_SAC_FolioPoliza</name>
        <label>Buscar Caliente</label>
        <locationX>613</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ResultadoPoliza</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_BusquedasPoliza</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Arial Black&amp;quot;; color: rgb(0, 0, 0);&quot;&gt; Puedes realizar la búsqueda del cliente por cualquiera de los siguientes criterios:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Arial Black&amp;quot;; color: rgb(0, 0, 0);&quot;&gt; Datos&lt;/span&gt; Nombre(s) y Apellido Paterno, Apellido Materno, Correo electrónico o RFC.&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Arial Black&amp;quot;; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_DatosPolizas</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}</stringValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Ingresar Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_ProductoVentas</name>
            <choiceReferences>MX_SB_SAC_ProductosVenta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto Ventas</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_FolioPoliza_0</name>
        <label>Buscar Caliente</label>
        <locationX>378</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCuenta</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_BusquedasPoliza_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white; color: black; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif; font-size: 9pt;&quot;&gt;Introduce la siguiente información para generar la cuenta de la cotización:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Arial Black&amp;quot;; color: rgb(0, 0, 0);&quot;&gt; Datos&lt;/span&gt; Nombre(s) y Apellido Paterno, Apellido Materno, Correo electrónico, Teléfono y Producto.&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Arial Black&amp;quot;; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Nombre</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} </stringValue>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_ApellidoPaterno</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c</elementReference>
            </defaultValue>
            <fieldText>Apellido Paterno</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_ApellidoMaterno</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue> {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}</stringValue>
            </defaultValue>
            <fieldText>Apellido Materno</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_CorreoElectronicoCasos1</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ejemplo@bbva.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_CorreoCuenta__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_Telefonos</name>
            <dataType>String</dataType>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Solo se admiten números y debe contener 10 dígitos&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN	({!MX_SB_SAC_Telefonos}) =10 &amp;&amp;
ISNUMBER ({!MX_SB_SAC_Telefonos})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MX_SB_SAC_ProductoVentas_0</name>
            <choiceReferences>MX_SB_SAC_ProductosVenta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto Ventas</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ResultadoPoliza</name>
        <label>Resultado Póliza</label>
        <locationX>723</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Obtencion_datos_cuenta</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_ResultadoBUsquedaPoliza</name>
            <choiceReferences>MX_SB_SAC_BuscarClienteNombre</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarClienteRFC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Resultado  de Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ResultadoPoliza_0_0</name>
        <label>Resultado Póliza</label>
        <locationX>598</locationX>
        <locationY>891</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerDatosContrato_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_ResultadoBUsquedaPoliza_0_0</name>
            <choiceReferences>MX_SB_SAC_BuscarCorreo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Resultado  de Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MX_SB_SAC_ObtencionDatosCasos</startElementReference>
    <status>Active</status>
    <variables>
        <name>MX_SB_SAC_Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_CatalogodeTipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__c</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Contrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Cotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDcaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MX_SB_SAC_Caso.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCotizador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdRegistro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdTipoRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Almacena la razón por la cual llamó el no cliente.</description>
        <name>MX_SB_SAC_SeleccionNoUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MX_SB_SAC_Usuario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
