src/flows/MX_SB_SAC_MotivoDetalleInformacionAdicional.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Toma de decision ciando los documentos requeridos sean necesarios</description>
        <name>MX_SB_SAC_DecisioDocumentacionRequeridaCriterio3</name>
        <label>Decisión de documentación requerida criterio 3</label>
        <locationX>1046</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Tramites_con_documentos_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Description</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActDatosCasoCriterio_3_3</targetReference>
            </connector>
            <label>Tramites con documentos</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_TramitesSinDocumentos_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Description</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Tramites sin documentos</label>
        </rules>
    </decisions>
    <description>Flujo hijo de &quot;ActualizarCasoSAC&quot; para &quot;Criterio 3&quot; que corresponde a un &quot; Motivo - Detalle -  Información Adicional&quot;</description>
    <interviewLabel>Criterio 2: Motivo - Detalle - Subdetalle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criterio 3: Motivo - Detalle - Información Adicional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtención de datos del objeto Caso</description>
        <name>MX_SB_SAC_CasoObtencionDatosCriterio_3</name>
        <label>Caso - Obtención Datos Criterio 3</label>
        <locationX>663</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActDatosCasoCriterio_3_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.IsClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDProducto</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto de catalogo de tipificacion</description>
        <name>MX_SB_SAC_CatalogoDeTipificacionObtencionDatosCriterio3</name>
        <label>Catalogo de tipificacion - Obtención de Datos Criterio 3</label>
        <locationX>256</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActDatosCasoCriterio_3</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDProducto</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_CodigoCondusef__c</assignToReference>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DescripcionCausaConducef__c</assignToReference>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DocumentacionRequerida__c</assignToReference>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</assignToReference>
            <field>MX_SB_SAC_Estatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</assignToReference>
            <field>MX_SB_SAC_Etapa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Motivo__c</assignToReference>
            <field>MX_SB_SAC_Motivo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Producto__c</assignToReference>
            <field>MX_SB_SAC_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Se ocupara para actualizar los datos del caso con los criterios que coincidan en la decision</description>
        <name>MX_SB_SAC_ActDatosCasoCriterio_3</name>
        <label>Actualizar Datos Caso Criterio 3</label>
        <locationX>476</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MX_SB_SAC_CasoObtencionDatosCriterio_3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se ocupara para actualizar los datos del caso con los criterios que coincidan en la decision</description>
        <name>MX_SB_SAC_ActDatosCasoCriterio_3_2</name>
        <label>Actualizar Datos Caso Criterio 3</label>
        <locationX>831</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>MX_SB_SAC_DecisioDocumentacionRequeridaCriterio3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_CodigoCondusef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DescripcionCausaConducef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DocumentacionRequerida__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se ocupara para actualizar los datos del caso con los criterios que coincidan en la decision</description>
        <name>MX_SB_SAC_ActDatosCasoCriterio_3_3</name>
        <label>Actualizar Datos Caso Criterio 3.3</label>
        <locationX>1348</locationX>
        <locationY>54</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>MX_SB_SAC_CatalogoDeTipificacionObtencionDatosCriterio3</startElementReference>
    <status>Active</status>
    <variables>
        <description>Obtención de datos del objeto Contrato</description>
        <name>DatosContrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Se ocupara para la obtención de datos del objeto caso</description>
        <name>MX_SB_SAC_DatosCaso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Se ocupara para la obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogodetipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__ChangeEvent</objectType>
    </variables>
    <variables>
        <description>Se ocupara para guardar el Id del Caso en donde se posicione</description>
        <name>MX_SB_SAC_IDCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar el Id del catalogo de productos</description>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar Id de contrato</description>
        <name>MX_SB_SAC_IDContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar el ID del Producto</description>
        <name>MX_SB_SAC_IDProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Sindocumentos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sin documentos</stringValue>
        </value>
    </variables>
</Flow>
