src/flows/MX_SB_SAC_ActualizarCasoSACCritterio4MotivoDetalleSubdetalleInformacionAdicional.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Toma de decision ciando los documentos requeridos sean necesarios</description>
        <name>MX_SB_SAC_DecisioDocumentacionRequeridaCriterio4</name>
        <label>Decisión de documentación requerida criterio 4</label>
        <locationX>1439</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Tramites_con_documentos_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Description</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActDatosCasoCriterio_4_3</targetReference>
            </connector>
            <label>Tramites con documentos</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_TramitesSinDocumentos_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Tramites sin documentos</label>
        </rules>
    </decisions>
    <description>Flujo que se ocupara para la actualización del caso en cuando se contenga un Motivo, Detalle, Subdetalle e Información Adicional</description>
    <interviewLabel>ActualizarCasoSAC Critterio 4: Motivo - Detalle - Subdetalle - Información Adicional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActualizarCasoSAC Critterio 4: Motivo - Detalle - Subdetalle - Información Adicional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtención de datos del objeto Caso</description>
        <name>MX_SB_SAC_CasoObtencionDatos</name>
        <label>Caso - Obtención Datos</label>
        <locationX>209</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_CatalogoDeTipificacionObtencionDatosCriterio4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDProducto</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto Caso</description>
        <name>MX_SB_SAC_CasoObtencionDatosCriterio_4</name>
        <label>Caso - Obtención Datos Criterio 4</label>
        <locationX>926</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActDatosCasoCriterio_4_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_CodigoCondusef__c</assignToReference>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_DescripcionCausaConducef__c</assignToReference>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_DocumentacionRequerida__c</assignToReference>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Etapa__c</assignToReference>
            <field>MX_SB_SAC_Etapa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDProducto</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto de catalogo de tipificacion</description>
        <name>MX_SB_SAC_CatalogoDeTipificacionObtencionDatosCriterio4</name>
        <label>Catalogo de tipificacion - Obtención de Datos Criterio 4</label>
        <locationX>429</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActDatosCasoCriterio_4</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDProducto</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_CodigoCondusef__c</assignToReference>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DescripcionCausaConducef__c</assignToReference>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DocumentacionRequerida__c</assignToReference>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</assignToReference>
            <field>MX_SB_SAC_Estatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</assignToReference>
            <field>MX_SB_SAC_Etapa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Motivo__c</assignToReference>
            <field>MX_SB_SAC_Motivo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Producto__c</assignToReference>
            <field>MX_SB_SAC_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Se ocupara para actualizar los datos del caso con los criterios que coincidan en la decision</description>
        <name>MX_SB_SAC_ActDatosCasoCriterio_4</name>
        <label>Actualizar Datos Caso Criterio 4</label>
        <locationX>651</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>MX_SB_SAC_CasoObtencionDatosCriterio_4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_CodigoCondusef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DescripcionCausaConducef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se ocupara para actualizar los datos del caso con los criterios que coincidan en la decision</description>
        <name>MX_SB_SAC_ActDatosCasoCriterio_4_2</name>
        <label>Actualizar Datos Caso Criterio 4</label>
        <locationX>1231</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>MX_SB_SAC_DecisioDocumentacionRequeridaCriterio4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_CodigoCondusef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DescripcionCausaConducef__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DocumentacionRequerida__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se ocupara para actualizar los datos del caso con los criterios que coincidan en la decision</description>
        <name>MX_SB_SAC_ActDatosCasoCriterio_4_3</name>
        <label>Actualizar Datos Caso Criterio 4.3</label>
        <locationX>1781</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>MX_SB_SAC_CasoObtencionDatos</startElementReference>
    <status>Active</status>
    <variables>
        <description>Obtención de datos del objeto Contrato</description>
        <name>DatosContrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Se ocupara para la obtención de datos del objeto caso</description>
        <name>MX_SB_SAC_DatosCaso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Se ocupara para la obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogodetipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__ChangeEvent</objectType>
    </variables>
    <variables>
        <description>Se ocupara para guardar el Id del Caso en donde se posicione</description>
        <name>MX_SB_SAC_IDCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar el Id del catalogo de productos</description>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar Id de contrato</description>
        <name>MX_SB_SAC_IDContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar el ID del Producto</description>
        <name>MX_SB_SAC_IDProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Sindocumentos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sin documentos</stringValue>
        </value>
    </variables>
</Flow>
