src/flows/MX_SB_SAC_ActualizarTipificacionDuplicadoSAC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Es_Venta_o_No</name>
        <label>Es venta?</label>
        <locationX>327</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Obtener_registro_tipificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>es_venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CasoInfo.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <label>es venta? (si)</label>
        </rules>
    </decisions>
    <description>Este flujo actualiza las tipificaciones en el caso</description>
    <interviewLabel>Actualizar Tipificación  duplicado SAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Tipificación  duplicado SAC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistrosCasos</name>
        <label>Obtener Registros Casos</label>
        <locationX>213</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Venta_o_No</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoInfo.MX_SB_SAC_Catalogotipificacion__c</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoInfo.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoInfo.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoInfo.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_registro_tipificacion</name>
        <label>Obtener registro tipificacion</label>
        <locationX>443</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarCaso</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_CasoInfo.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_CasoInfo.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_idTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_TipificacionInfo.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_TipificacionInfo.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizarCaso</name>
        <label>Actualizar Caso</label>
        <locationX>664</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IdCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_idTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_TipificacionInfo.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_TipificacionInfo.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_CasoInfo.ProductId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>MX_SB_SAC_ObtenerRegistrosCasos</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>MX_SB_SAC_CasoInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_idTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_TipificacionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__c</objectType>
    </variables>
</Flow>
