src/flows/MX_SB_SAC_ActualizarCasoSAC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Se ocupara la la actualización de las datos del caso, en cuando  de actualiza o autentique la información</description>
        <name>MX_SB_SAC_ActDatosCaso</name>
        <label>Act. Datos de Caso</label>
        <locationX>222</locationX>
        <locationY>474</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_CriterioMotivoDetalle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.Reason</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_IDProducto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_IDProducto</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Critrerio1MotivoDetalle</targetReference>
            </connector>
            <label>Criterio 1: Motivo - Detalle</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_CriterioMotivoDetalleSubdetalle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.Reason</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_IDProducto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_IDProducto</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_MotivoDetalleSubdetalleCriterio2</targetReference>
            </connector>
            <label>Criterio 2: Motivo - Detalle - Subdetalle</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_CriterioMotivoDetalleInformacionAdicional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.Reason</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_IDProducto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_IDProducto</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_MotivoDetalleInformacionAdicionalCriterio3</targetReference>
            </connector>
            <label>Criterio 3: Motivo - Detalle - Información adicional</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_CriterioMotivoDetalleSubdetalleInformacionAdicional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.Reason</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_IDProducto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_IDProducto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Critterio4MotivoDetalleSubdetalleInformacionAdicional</targetReference>
            </connector>
            <label>Criterio 4: Motivo - Detalle - Subdetalle - Información adicional</label>
        </rules>
    </decisions>
    <description>Actualización del objeto casos</description>
    <interviewLabel>ActualizarCasoSAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActualizarCasoSAC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtención de datos del objeto Caso</description>
        <name>MX_SB_SAC_CasoObtencionDatos</name>
        <label>Caso - Obtención Datos</label>
        <locationX>231</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ContratoObtencionDatos</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDProducto</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCaso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto de catalogo de tipificacion</description>
        <name>MX_SB_SAC_CatalogoDeTipificacionObtencionDatos</name>
        <label>Catalogo de tipificacion - Obtención de Datos</label>
        <locationX>230</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActDatosCaso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_CodigoCondusef__c</assignToReference>
            <field>MX_SB_SAC_CodigoCondusef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DescripcionCausaConducef__c</assignToReference>
            <field>MX_SB_SAC_DescripcionCausaConducef__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_DocumentacionRequerida__c</assignToReference>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Estatus__c</assignToReference>
            <field>MX_SB_SAC_Estatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Etapa__c</assignToReference>
            <field>MX_SB_SAC_Etapa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Motivo__c</assignToReference>
            <field>MX_SB_SAC_Motivo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Producto__c</assignToReference>
            <field>MX_SB_SAC_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_DatosCatalogodetipificacion.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto Caso</description>
        <name>MX_SB_SAC_ContratoObtencionDatos</name>
        <label>Contrato - Obtención Datos</label>
        <locationX>231</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_CatalogoDeTipificacionObtencionDatos</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>DatosContrato.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DatosContrato.MX_WB_Producto__c</assignToReference>
            <field>MX_WB_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>MX_SB_SAC_CasoObtencionDatos</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Flujo criterio con un motivo detalle para la actualizacion de casos</description>
        <name>MX_SB_SAC_Critrerio1MotivoDetalle</name>
        <label>critrerio  1: motivo detalle</label>
        <locationX>716</locationX>
        <locationY>111</locationY>
        <flowName>MX_SB_SAC_ActualizarCasoSACcritrerio1MotivoDetalle</flowName>
        <inputAssignments>
            <name>MX_SB_SAC_IDCaso</name>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>detonar el flijo en donde se detona la actualización de caso cuando tiene motivo detalle y subdetalle</description>
        <name>MX_SB_SAC_Critterio4MotivoDetalleSubdetalleInformacionAdicional</name>
        <label>Critterio 4: Motivo - Detalle - Subdetalle - Información Adicional</label>
        <locationX>719</locationX>
        <locationY>744</locationY>
        <flowName>MX_SB_SAC_ActualizarCasoSACCritterio4MotivoDetalleSubdetalleInformacionAdicional</flowName>
        <inputAssignments>
            <name>MX_SB_SAC_IDCaso</name>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MX_SB_SAC_MotivoDetalleInformacionAdicionalCriterio3</name>
        <label>Criterio 3: Motivo - Detalle - Información Adicional</label>
        <locationX>718</locationX>
        <locationY>564</locationY>
        <flowName>MX_SB_SAC_MotivoDetalleInformacionAdicional</flowName>
        <inputAssignments>
            <name>MX_SB_SAC_DatosCaso</name>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_DatosCatalogodetipificacion</name>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_IDCaso</name>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_IDProducto</name>
            <value>
                <elementReference>MX_SB_SAC_IDProducto</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MX_SB_SAC_MotivoDetalleSubdetalleCriterio2</name>
        <label>Criterio 2: Motivo - Detalle - Subdetalle</label>
        <locationX>714</locationX>
        <locationY>286</locationY>
        <flowName>MX_SB_SAC_MotivoDetalleSubdetalle</flowName>
        <inputAssignments>
            <name>MX_SB_SAC_DatosCaso</name>
            <value>
                <elementReference>MX_SB_SAC_DatosCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_DatosCatalogodetipificacion</name>
            <value>
                <elementReference>MX_SB_SAC_DatosCatalogodetipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_IDCaso</name>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_IDContrato</name>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MX_SB_SAC_IDProducto</name>
            <value>
                <elementReference>MX_SB_SAC_IDProducto</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Obtención de datos del objeto Contrato</description>
        <name>DatosContrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>Se ocupara para la obtención de datos del objeto caso</description>
        <name>MX_SB_SAC_DatosCaso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Se ocupara para la obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogodetipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__ChangeEvent</objectType>
    </variables>
    <variables>
        <description>Se ocupara para guardar el Id del Caso en donde se posicione</description>
        <name>MX_SB_SAC_IDCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar el Id del catalogo de productos</description>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar Id de contrato</description>
        <name>MX_SB_SAC_IDContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar el ID del Producto</description>
        <name>MX_SB_SAC_IDProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Sindocumentos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sin documentos</stringValue>
        </value>
    </variables>
</Flow>
