src/flows/MX_SB_SAC_Autentificar_Cliente_SAC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>MX_SB_SAC_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>MX_SB_SAC_SI</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>MX_SB_SAC_Autentificacion_Valida</name>
        <label>¿Autentificación Valida?</label>
        <locationX>1348</locationX>
        <locationY>805</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Autentificacion_Exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_RFC_FECHA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_RETENCION_0</targetReference>
            </connector>
            <label>Autentificación Exitosa</label>
        </rules>
        <rules>
            <name>Autentificacion_no_exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_RFC_FECHA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_CierreAutentificacionNoValida</targetReference>
            </connector>
            <label>Autentificación no exitosa</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_EsTitular</name>
        <label>¿Es titular?</label>
        <locationX>743</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_EsTitularSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_EresTitularPoliza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_FolioPoliza</targetReference>
            </connector>
            <label>Si es titular</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_EsTitularNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_EresTitularPoliza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_CierreNoTitular</targetReference>
            </connector>
            <label>No es titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_RETENCION</name>
        <label>MX_SB_SAC_RETENCIÓN</label>
        <locationX>1608</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>MX_SB_SAC_Asignacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Aplica_CancelacionRetencion</name>
            <conditionLogic>8 OR(1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobranza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otra aseguradora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Economía personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mal servicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meses sin intereses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retención</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Aplica_retencion</targetReference>
            </connector>
            <label>Aplica retención</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_RETENCION_0</name>
        <label>MX_SB_SAC_RETENCIÓN</label>
        <locationX>1619</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>MX_SB_SAC_AsignacionRescate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Aplica_CancelacionRetencion_0</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobranza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otra aseguradora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Economía personal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mal servicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meses sin intereses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Aplica_retencion_0</targetReference>
            </connector>
            <label>Aplica retención</label>
        </rules>
    </decisions>
    <decisions>
        <name>MX_SB_SAC_ValidacionPreguntas</name>
        <label>Validación de preguntas</label>
        <locationX>1350</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Respuesta_Erronea</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_MarcaVehiculo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Medio_de_Pago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_MarcaVehiculo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Medio_de_Pago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_PreguntaRescate</targetReference>
            </connector>
            <label>Respuesta Errónea</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Repuestas_Correcta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_MarcaVehiculo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Medio_de_Pago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_RETENCION</targetReference>
            </connector>
            <label>Repuestas Correcta</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_RepuestasIncorrectas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_MarcaVehiculo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_Medio_de_Pago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_AutentificacionNoValida</targetReference>
            </connector>
            <label>Repuestas Incorrectas</label>
        </rules>
    </decisions>
    <description>Flujo principal para determinar si es un cliente o no. Incluye redireccionamiento</description>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarClienteAseguradoSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_NombreClienteAsegurado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarClienteContratanteSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_NombreCuenta__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarContratoSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_WB_noPoliza__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarNumeroSerieSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_WB_numeroSerie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarPlacasSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_WB_placas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarRFCAseguradoSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_RFCAsegurado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_ConjuntoMotivosLlamadaCliente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Se utiliza para traer los datos del campo color en casos.</description>
        <name>MX_SB_SAC_ListaColor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_SB_SAC_Color__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Identificar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identificar Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MX_SB_SAC_Asignacion</name>
        <label>Crea asignación</label>
        <locationX>1820</locationX>
        <locationY>389</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdAsignacion</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!MX_SB_SAC_Caso.CaseNumber} - {!MX_SB_SAC_Caso.CreatedDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>MX_SB_SAC_IdRegistro.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Asistencia por Internet</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>MX_SB_SAC_Asignacion_0</name>
        <label>Crea asignación</label>
        <locationX>1827</locationX>
        <locationY>609</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdAsignacion</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!MX_SB_SAC_Caso.CaseNumber} - {!MX_SB_SAC_Caso.CreatedDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>MX_SB_SAC_IdRegistro.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Asistencia por Internet</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>MX_SB_SAC_AsignacionRescate</name>
        <label>Crea asignación</label>
        <locationX>1832</locationX>
        <locationY>791</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdAsignacion</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!MX_SB_SAC_Caso.CaseNumber} - {!MX_SB_SAC_Caso.CreatedDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Asistencia por Internet</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>MX_SB_SAC_AsignacionRescate_0</name>
        <label>Crea asignación</label>
        <locationX>1836</locationX>
        <locationY>991</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdAsignacion</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!MX_SB_SAC_Caso.CaseNumber} - {!MX_SB_SAC_Caso.CreatedDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Asistencia por Internet</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <description>se ocupara para obtener nuevamente los datos del contrato</description>
        <name>MX_SB_SAC_ContratoObtencionRegistro</name>
        <label>Contrato - obtención de registro</label>
        <locationX>654</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>MX_WB_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>se ocupara para obtener nuevamente los datos del contrato</description>
        <name>MX_SB_SAC_ContratoObtencionRegistro_0</name>
        <label>Contrato - obtención de registro</label>
        <locationX>661</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>MX_WB_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1981</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>2004</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1999</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>2015</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0_0</name>
        <label>Catalogo de Tipificación - Obtener Datos</label>
        <locationX>526</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0_0_0</name>
        <label>Catalogo de Tipificación - Obtener Datos</label>
        <locationX>533</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos</name>
        <label>Obtención de datos Casos</label>
        <locationX>419</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosUsuario</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoMaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoPaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c</assignToReference>
            <field>MX_SB_SAC_Nombre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedName</assignToReference>
            <field>SuppliedName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0_0</name>
        <label>Obtención de datos Casos</label>
        <locationX>1342</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarCasoNoTitular</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0</name>
        <label>Casos - Obtención de datos</label>
        <locationX>792</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ContratoObtencionRegistro</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ProductosVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0_0</name>
        <label>Obtención de datos Casos</label>
        <locationX>256</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Catalogotipificacion__c</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0_0_0</name>
        <label>Obtención de datos Casos</label>
        <locationX>263</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Catalogotipificacion__c</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0_0_0_0</name>
        <label>Casos - Obtención de datos</label>
        <locationX>799</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ContratoObtencionRegistro_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ProductosVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosUsuario</name>
        <label>Obtencion Datos Usuario</label>
        <locationX>505</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_TitularPoliza</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_SeleccionNoUsuario</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_SeleccionNoUsuario</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Usuario.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerDatosContrato</name>
        <label>Obtener datos de Contrato SAC</label>
        <locationX>1163</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_PreguntasAutentificacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_FechaNacimiento__c</assignToReference>
            <field>MX_SB_SAC_FechaNacimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_RFCContratante__c</assignToReference>
            <field>MX_SB_SAC_RFCContratante__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_Tipotarjetapago__c</assignToReference>
            <field>MX_SB_SAC_Tipotarjetapago__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Marca__c</assignToReference>
            <field>MX_WB_Marca__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>MX_WB_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_subMarca__c</assignToReference>
            <field>MX_WB_subMarca__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>2196</locationX>
        <locationY>391</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_Medio_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>2207</locationX>
        <locationY>607</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Color__c</field>
            <value>
                <elementReference>MX_SB_SAC_Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_Medio_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>120</locationX>
        <locationY>402</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>No autentica correctamente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_Medio_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>387</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>394</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>2177</locationX>
        <locationY>791</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_Medio_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion3__c</field>
            <value>
                <elementReference>MX_SB_SAC_RFC_FECHA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>2199</locationX>
        <locationY>987</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Color__c</field>
            <value>
                <elementReference>MX_SB_SAC_Color_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_Medio_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion3__c</field>
            <value>
                <elementReference>MX_SB_SAC_RFC_FECHA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>117</locationX>
        <locationY>801</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>No autentica correctamente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_Medio_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion3__c</field>
            <value>
                <elementReference>MX_SB_SAC_RFC_FECHA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>1172</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>920</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0_0_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>928</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizarCasoNoTitular</name>
        <label>Actualizar Caso No Titular</label>
        <locationX>1527</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MX_SB_SAC_Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>No es Asegurado/Contratante</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>SE UTILIZA PARA SELECCIONAR EL COLOR.</description>
        <name>MX_SB_SAC_Aplica_retencion</name>
        <label>Aplica retención</label>
        <locationX>1626</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Asignacion_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Color</name>
            <choiceReferences>MX_SB_SAC_ListaColor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el color de la póliza</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SE UTILIZA PARA SELECCIONAR EL COLOR.</description>
        <name>MX_SB_SAC_Aplica_retencion_0</name>
        <label>Aplica retención</label>
        <locationX>1635</locationX>
        <locationY>993</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_AsignacionRescate_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Color_0</name>
            <choiceReferences>MX_SB_SAC_ListaColor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el color de la póliza</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_AutentificacionNoValida</name>
        <label>Cierre Autentificación no valida</label>
        <locationX>1059</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_MensajeAutentificacionNoValida</name>
            <fieldText>&lt;p&gt;Sr./Srta.&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;. algunos de los datos no corresponden al registro. Por favor, verifiqué la información y comuníquese nuevamente, con gusto lo atenderemos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_CierreNoAutentificacion</name>
            <fieldText>&lt;p&gt;Gracias por llamar a Seguros BBVA. Le atendió (&lt;b&gt;{!MX_SB_SAC_Usuario.Name}&lt;/b&gt;) ha sido un placer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_CierreAutentificacionNoValida</name>
        <label>Cierre Autentificación no valida</label>
        <locationX>1068</locationX>
        <locationY>803</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Mensaje_autentificacion_no_valida</name>
            <fieldText>&lt;p&gt;Sr./Srta. &lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;. algunos de los datos no corresponden al registro. Por favor, verifiqué la información y comuníquese nuevamente, con gusto lo atenderemos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_CierreNoAutentificacionServicio</name>
            <fieldText>&lt;p&gt;Gracias por llamar a Seguros BBVA. Le atendió (&lt;b&gt;{!MX_SB_SAC_Usuario.Name}&lt;/b&gt;) ha sido un placer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_CierreNoTitular</name>
        <label>Cierre No Titular</label>
        <locationX>1019</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_MensajeNoTitular</name>
            <fieldText>&lt;p&gt;Sr./Srta.&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;. Por seguridad, es importante que el titular llame para solicitar el trámite. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¿Hay algo más en lo que pueda ayudar?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_MensajeNoTitularCierre</name>
            <fieldText>&lt;p&gt;Gracias por llamar a Seguros BBVA. Le atendió (&lt;b&gt;{!MX_SB_SAC_Usuario.Name}&lt;/b&gt;) ha sido un placer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Comentarios</name>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El comentario debe tener al menos 10 caracteres&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!MX_SB_SAC_Comentarios}) &gt; 10</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_FolioPoliza</name>
        <label>Folio Póliza</label>
        <locationX>766</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ResultadoPoliza</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_NombreClienteBuscador</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; Nombre del Cliente: &lt;/b&gt;&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aviso_Privacidad</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: &amp;quot;Arial Black&amp;quot;; color: rgb(22, 50, 92);&quot;&gt;Le informo que sus datos personales están protegidos por nuestro aviso de privacidad, que pueden consultar en &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: verdana; color: rgb(22, 50, 92);&quot;&gt;www.bbva.mx&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_BusquedasPoliza</name>
            <fieldText>&lt;br/&gt;&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Puedes realizar la búsqueda del cliente por cualquiera de los siguientes criterios:&lt;/FONT&gt;&lt;/SPAN&gt;
&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000 &quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Datos Póliza: &lt;/FONT&gt;&lt;/SPAN&gt;Póliza, Certificado, Póliza Finanzia o Número Crédito.&lt;br/&gt; &lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Datos Asegurado:&lt;/FONT&gt;&lt;/SPAN&gt; Nombre(s) y Apellido Paterno, Apellido Materno o RFC.&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;br/&gt;Datos Contratante:&lt;/FONT&gt;&lt;/SPAN&gt; Nombre(s) y Apellido Paterno, Apellido Materno o Cuenta. &lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt; Datos del Vehículo:&lt;/FONT&gt;&lt;/SPAN&gt; Número Serie o Número Placa.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_DatosPolizas</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Ingresar Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_PreguntaRescate</name>
        <label>Pregunta de Rescate</label>
        <locationX>1356</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Autentificacion_Valida</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_RFC_FECHA</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Cuál es su fecha de nacimiento y/o RFC? R=  RFC: {!MX_SB_SAC_Contrato.MX_SB_SAC_RFCContratante__c}  Fecha de nacimiento: {!MX_SB_SAC_Contrato.MX_SB_SAC_FechaNacimiento__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_PreguntasAutentificacion</name>
        <label>Preguntas de Autentificación</label>
        <locationX>1359</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ValidacionPreguntas</targetReference>
        </connector>
        <fields>
            <name>Autenticacion_Poliza</name>
            <fieldText>Para Continuar su trámite de forma segura, es importante verificar algunos datos de su póliza.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_MarcaVehiculo</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Cuál es la Marca y/o submarca de su vehículo? R= Marca {!MX_SB_SAC_Contrato.MX_WB_Marca__c} - Submarca: {!MX_SB_SAC_Contrato.MX_WB_subMarca__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_Medio_de_Pago</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿El Medio de Pago que utiliza para esta póliza es tarjeta de crédito, débito o cuenta de cheques? R= Tipo de Tarjeta: {!MX_SB_SAC_Contrato.MX_SB_SAC_Tipotarjetapago__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ResultadoPoliza</name>
        <label>Resultado Póliza</label>
        <locationX>973</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerDatosContrato</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_ResultadoBUsquedaPoliza</name>
            <choiceReferences>MX_SB_SAC_BuscarContratoSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarClienteAseguradoSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarRFCAseguradoSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarClienteContratanteSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarNumeroSerieSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarPlacasSAC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Resultado  de Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_TitularPoliza</name>
        <label>Titular</label>
        <locationX>579</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_EsTitular</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Cliente</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; Nombre del Cliente: {!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} &lt;/b&gt;&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_MotivoCliente</name>
            <fieldText>¿Lo que usted requiere es &lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;__________________________&lt;/FONT&gt;&lt;/SPAN&gt;, Correcto?&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_EresTitularPoliza</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>MX_SB_SAC_SI</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Es contratante o Asegurado?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MX_SB_SAC_ObtencionDatosCasos</startElementReference>
    <status>Active</status>
    <variables>
        <name>MX_SB_SAC_Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_CatalogodeTipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__c</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_ComentariosAsignados</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MX_SB_SAC_Comentarios</elementReference>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_Contrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Cotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDcaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MX_SB_SAC_Caso.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCotizador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdRegistro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Almacena la razón por la cual llamó el no cliente.</description>
        <name>MX_SB_SAC_SeleccionNoUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MX_SB_SAC_Usuario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
