src/flows/MX_SB_SAC_FlujoMalasVentasSAC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>MX_SB_SAC_ActualizarPantalla</name>
        <label>Actualizar pantalla</label>
        <locationX>2927</locationX>
        <locationY>605</locationY>
        <actionName>c:MX_SB_SAC_UpdateScreen_cmp</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MX_SB_SAC_ActualizarPantalla_0</name>
        <label>Actualizar pantalla</label>
        <locationX>1613</locationX>
        <locationY>1349</locationY>
        <actionName>c:MX_SB_SAC_UpdateScreen_cmp</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>MX_SB_SAC_TipificaRetencion</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Cambia el valor del check una vez que se considera que el flujo cae en una excepción a la regla</description>
        <name>MX_SB_SAC_AsignacionCheck</name>
        <label>Asignación de Check</label>
        <locationX>4035</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>MX_SB_SAC_CheckExcepcion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MX_SB_SAC_TipificadorPregunta1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MX_SB_SAC_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>MX_SB_SAC_SI</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <description>Si el asesor, una vez realizado el sondeo, catalogó que es una mala venta, se tipifica para detonar el flujo de retención.</description>
        <name>MX_SB_SAC_EsMalaVentaSondeo</name>
        <label>¿Es mala venta?</label>
        <locationX>1413</locationX>
        <locationY>606</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_MalaVentaSondeoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_EsMalaVenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ejecutaFlow</targetReference>
            </connector>
            <label>Es mala venta</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_MalaVentaSondeoNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_EsMalaVenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0_0</targetReference>
            </connector>
            <label>No es mala venta</label>
        </rules>
    </decisions>
    <decisions>
        <description>Con base en la respuesta de la pantalla anterior, define si es o no el titular de la póliza.</description>
        <name>MX_SB_SAC_EsTitular</name>
        <label>¿Es titular?</label>
        <locationX>42</locationX>
        <locationY>606</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_EsTitularSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_EresTitularPoliza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_FolioPoliza</targetReference>
            </connector>
            <label>Si es titular</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_EsTitularNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_EresTitularPoliza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_CierreNoTitular</targetReference>
            </connector>
            <label>No es titular</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existen siniestros y con base en eso decide si terminar el flujo o realizar la visualización del tipificador.</description>
        <name>MX_SB_SAC_ExistenSiniestros</name>
        <label>¿Existen siniestros?</label>
        <locationX>3744</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>MX_SB_SAC_PantallaExcepcionRegla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existen Siniestros</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_ExistenSiniestrosNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_IdSiniestro</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_TipificadorPregunta1</targetReference>
            </connector>
            <label>No existen siniestros</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existe una excepción a la regla para decidir si terminar o continuar con el flujo</description>
        <name>MX_SB_SAC_HayExcepcionRegla</name>
        <label>¿Hay excepción a la regla?</label>
        <locationX>4025</locationX>
        <locationY>1265</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_HayexcepcionReglaSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CampoExcepcionRegla</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_AsignacionCheck</targetReference>
            </connector>
            <label>Hay excepción a la regla</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_hayExcepcionReglaNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CampoExcepcionRegla</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_TipificaRetencion</targetReference>
            </connector>
            <label>No hay excepción a la regla</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo de la respuesta de la primer pregunta, se decide si el flujo continua o se tipifica y finaliza</description>
        <name>MX_SB_SAC_RespuestaPregunta1Tipificador</name>
        <label>Respuesta pregunta 1 tipificador</label>
        <locationX>4296</locationX>
        <locationY>604</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_RespondeSIPregunta1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador1Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_TipificadorPregunta2</targetReference>
            </connector>
            <label>Responde Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_RespondeNOPregunta1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador1Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_validacionExcepcionReglaPregunta1</targetReference>
            </connector>
            <label>Responde No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo de la respuesta de la segunda pregunta, se decide si el flujo continua o se tipifica y finaliza</description>
        <name>MX_SB_SAC_RespuestaPregunta2Tipificador</name>
        <label>Respuesta pregunta 2 tipificador</label>
        <locationX>4781</locationX>
        <locationY>598</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_RespondeSIPregunta2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador2Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_TipificadorPregunta3</targetReference>
            </connector>
            <label>Responde Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_RespondeNOPregunta2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador2Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_validacionExcepcionReglaPregunta2</targetReference>
            </connector>
            <label>Responde No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo de la respuesta de la tercer pregunta, se decide si el flujo continua o se tipifica y finaliza</description>
        <name>MX_SB_SAC_RespuestaPregunta3Tipificador</name>
        <label>Respuesta pregunta 3 tipificador</label>
        <locationX>5241</locationX>
        <locationY>599</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_RespondeSIPregunta3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador3Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_TipificadorPregunta4</targetReference>
            </connector>
            <label>Responde Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_RespondeNOPregunta3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador3Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_validacionExcepcionReglaPregunta3</targetReference>
            </connector>
            <label>Responde No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo de la respuesta de la cuarta pregunta, se decide si el flujo continua o se tipifica y finaliza</description>
        <name>MX_SB_SAC_RespuestaPregunta4Tipificador</name>
        <label>Respuesta pregunta 4 tipificador</label>
        <locationX>5711</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_RespondeSIPregunta4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador4Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_validacionExcepcionReglaPregunta4B</targetReference>
            </connector>
            <label>Responde Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_RespondeNOPregunta4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Tipificador4Pregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_validacionExcepcionReglaPregunta4</targetReference>
            </connector>
            <label>Responde No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existe una excepción en la regla para saber si actualizar campo de excepción o no</description>
        <name>MX_SB_SAC_validacionExcepcionReglaPregunta1</name>
        <label>validación excepción  en regla pregunta 1</label>
        <locationX>4297</locationX>
        <locationY>867</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta1SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0</targetReference>
            </connector>
            <label>Hay excepción en la regla pregunta 1</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta1NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0</targetReference>
            </connector>
            <label>No hay excepción en la regla pregunta 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existe una excepción en la regla para saber si actualizar campo de excepción o no</description>
        <name>MX_SB_SAC_validacionExcepcionReglaPregunta2</name>
        <label>validación excepción  en regla pregunta 2</label>
        <locationX>4783</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta2SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Hay excepción en la regla pregunta 2</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta2NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0</targetReference>
            </connector>
            <label>No hay excepción en la regla pregunta 2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existe una excepción en la regla para saber si actualizar campo de excepción o no</description>
        <name>MX_SB_SAC_validacionExcepcionReglaPregunta3</name>
        <label>validación excepción  en regla pregunta 3</label>
        <locationX>5245</locationX>
        <locationY>869</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta3SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Hay excepción en la regla pregunta 3</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta3NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>No hay excepción en la regla pregunta 3</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existe una excepción en la regla para saber si actualizar campo de excepción o no</description>
        <name>MX_SB_SAC_validacionExcepcionReglaPregunta4</name>
        <label>validación excepción  en regla pregunta 4</label>
        <locationX>5710</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta4SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Hay excepción en la regla pregunta 4</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta4NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>No hay excepción en la regla pregunta 4</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si existe una excepción en la regla para saber si actualizar campo de excepción o no</description>
        <name>MX_SB_SAC_validacionExcepcionReglaPregunta4B</name>
        <label>validación excepción  en regla pregunta 4B</label>
        <locationX>6014</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta4BSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Hay excepción en la regla pregunta 4B</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_HayExcepcionEnReglaPregunta4BNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_CheckExcepcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>No hay excepción en la regla pregunta 4B</label>
        </rules>
    </decisions>
    <decisions>
        <description>Define si la autenticación logra realizarse correctamente o no. Dependiendo de eso define si hacer otra pregunta, rechazar la solicitud o proceder con el trámite.</description>
        <name>MX_SB_SAC_ValidacionPreguntas</name>
        <label>Validación de preguntas</label>
        <locationX>901</locationX>
        <locationY>606</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Repuestas_Correcta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_MarcaVehiculo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_FechaNacimientoRFC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_MedioPago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_SondeoMalasVentas</targetReference>
            </connector>
            <label>Repuestas Correcta</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_RepuestasIncorrectas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_MarcaVehiculo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_FechaNacimientoRFC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MX_SB_SAC_MedioPago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_AutentificacionNoValida</targetReference>
            </connector>
            <label>Repuestas Incorrectas</label>
        </rules>
    </decisions>
    <description>Define el accionar en el flujo cuando se detona una mala venta.</description>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarClienteAseguradoSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_NombreClienteAsegurado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarClienteContratanteSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_NombreCuenta__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarContratoSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_WB_noPoliza__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarNumeroSerieSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_WB_numeroSerie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarPlacasSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_WB_placas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_BuscarRFCAseguradoSAC</name>
        <dataType>String</dataType>
        <displayField>MX_SB_SAC_InformacionGeneral__c</displayField>
        <filters>
            <field>MX_SB_SAC_RFCAsegurado__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MX_SB_SAC_DatosPolizas</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Se ocupara cuando no sea una mala venta y se necesite un color</description>
        <name>MX_SB_SAC_Color</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_SB_SAC_Color__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MX_SB_SAC_ConjuntoMotivosLlamadaCliente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>se ocupara cuando no sea una mala venta y se requiera realizar la modificación del detalle</description>
        <name>MX_SB_SAC_DetalleMalaVenta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_SB_SAC_DetallesNoMalaVenta__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Valida si existen siniestros o no asociados a la póliza</description>
        <name>MX_SB_SAC_ValidaExistenciaSiniestros</name>
        <dataType>Boolean</dataType>
        <expression> ISNULL({!MX_SB_SAC_IdSiniestro})</expression>
    </formulas>
    <interviewLabel>Flujo malas ventas SAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo malas ventas SAC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crea la asignación para detonar el proceso de asignación correspondiente.</description>
        <name>MX_SB_SAC_Asignacion</name>
        <label>Crea asignación</label>
        <locationX>2075</locationX>
        <locationY>605</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdAsignacion</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!MX_SB_SAC_Caso.CaseNumber} - {!MX_SB_SAC_Caso.CreatedDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>MX_SB_SAC_IdRegistro.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Asistencia por Internet</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>2222</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>3350</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ExistenSiniestros</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>906</locationX>
        <locationY>1281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1421</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacionNoMalaVenta</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1811</locationX>
        <locationY>1521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizaCasoEnvioRetencion_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Detalle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_TipificacionDetalle</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</assignToReference>
            <field>MX_SB_SAC_TipoDeRegistro__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la información del caso actual.</description>
        <name>MX_SB_SAC_ObtencionDatosCasos</name>
        <label>Obtención de datos Casos</label>
        <locationX>50</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosUsuario</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoMaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoPaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c</assignToReference>
            <field>MX_SB_SAC_Nombre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedName</assignToReference>
            <field>SuppliedName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la información del caso actual.</description>
        <name>MX_SB_SAC_ObtencionDatosCasos_0</name>
        <label>Obtención de datos Casos</label>
        <locationX>3101</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoMaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoPaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDContrato</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</assignToReference>
            <field>MX_SB_SAC_EsCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Etapa__c</assignToReference>
            <field>MX_SB_SAC_Etapa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_FinalizarCancelacion__c</assignToReference>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_InformacionAdicional__c</assignToReference>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c</assignToReference>
            <field>MX_SB_SAC_Nombre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Ramo__c</assignToReference>
            <field>MX_SB_SAC_Ramo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_TerminaMalasVentas__c</assignToReference>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.SuppliedName</assignToReference>
            <field>SuppliedName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0</name>
        <label>Obtención de datos Casos</label>
        <locationX>906</locationX>
        <locationY>1121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el caso en turno y guarda el Id y el motivo.</description>
        <name>MX_SB_SAC_ObtencionDatosCasos_0_0_0</name>
        <label>Obtención de datos Casos</label>
        <locationX>52</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarCasoNoTitular</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDcaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la información del usuario que está atendiendo el caso.</description>
        <name>MX_SB_SAC_ObtencionDatosUsuario</name>
        <label>Obtencion Datos Usuario</label>
        <locationX>50</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_TitularPoliza</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Usuario.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene datos del contrato.</description>
        <name>MX_SB_SAC_ObtenerDatosContrato</name>
        <label>Obtener datos de Contrato SAC</label>
        <locationX>529</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_PreguntasAutentificacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdCuenta</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_FechaNacimiento__c</assignToReference>
            <field>MX_SB_SAC_FechaNacimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_NombreClienteAsegurado__c</assignToReference>
            <field>MX_SB_SAC_NombreClienteAsegurado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_RFCContratante__c</assignToReference>
            <field>MX_SB_SAC_RFCContratante__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_SB_SAC_Tipotarjetapago__c</assignToReference>
            <field>MX_SB_SAC_Tipotarjetapago__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Marca__c</assignToReference>
            <field>MX_WB_Marca__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</assignToReference>
            <field>MX_WB_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Contrato.MX_WB_subMarca__c</assignToReference>
            <field>MX_WB_subMarca__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recupera el caso una vez que ha sido actualizado</description>
        <name>MX_SB_SAC_RecuperaCasoActualizado</name>
        <label>Recupera caso actualizado</label>
        <locationX>2532</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoActualizado.MX_SB_SAC_Catalogotipificacion__c</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoActualizado.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recupera el caso una vez que ha sido actualizado</description>
        <name>MX_SB_SAC_RecuperaCasoActualizado_0</name>
        <label>Recupera caso actualizado</label>
        <locationX>1418</locationX>
        <locationY>1172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacinCaso_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoActualizado.MX_SB_SAC_Catalogotipificacion__c</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CasoActualizado.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recupera los siniestros que se encuentran en salesforce.</description>
        <name>MX_SB_SAC_RecuperaSiniestros</name>
        <label>Recupera siniestros</label>
        <locationX>1907</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Asignacion</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </filters>
        <object>Siniestro__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IdSiniestro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Si no es considerada una mala venta, el caso se envía a retención. Para ello se requiere actualizar el caso con las tipificaciones necesarias.</description>
        <name>MX_SB_SAC_ActualizaCasoEnvioRetencion_0</name>
        <label>Actualiza caso envío Retención</label>
        <locationX>1811</locationX>
        <locationY>1701</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Color__c</field>
            <value>
                <elementReference>MX_SB_SAC_Colorpoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SC_SAC_DetalleMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizarCancelacion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_InformacionAdicional__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacinCaso_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>906</locationX>
        <locationY>1424</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>No autentica correctamente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_MarcaVehiculo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_PreguntaAutenticacion2__c</field>
            <value>
                <elementReference>MX_SB_SAC_FechaNacimientoRFC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizacinCaso_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>2772</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarPantalla</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>2366</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>MX_SB_SAC_RecuperaCasoActualizado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1418</locationX>
        <locationY>1349</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ActualizarPantalla_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizacinCaso_0_0_0_0_0</name>
        <label>Actualización Caso Preguntas</label>
        <locationX>1418</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>MX_SB_SAC_RecuperaCasoActualizado_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0_0_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>907</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el caso con los comentarios incluidos en la pantalla anterior.</description>
        <name>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0</name>
        <label>Actualización Caso Pregunta Rescate</label>
        <locationX>51</locationX>
        <locationY>927</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtencionDatosCasos_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Consultas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>4305</locationX>
        <locationY>1109</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta sin autorización</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>4539</locationX>
        <locationY>864</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta sin autorización</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>5063</locationX>
        <locationY>876</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta sin autorización</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>4791</locationX>
        <locationY>1091</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta sin autorización</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>5503</locationX>
        <locationY>863</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta sin autorización</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>5252</locationX>
        <locationY>1055</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta sin autorización</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>6003</locationX>
        <locationY>861</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta engañosa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>5724</locationX>
        <locationY>1060</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta engañosa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>6255</locationX>
        <locationY>592</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta condicionada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Realiza la actualización del caso con la información obtenida y recuperada previamente.</description>
        <name>MX_SB_SAC_ActualizaDetallePregunta1Excepcion_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Actualiza detalle pregunta 1</label>
        <locationX>6019</locationX>
        <locationY>747</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_IdCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>Malas ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsMalaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_EsMalaVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_MetodoAutentica__c</field>
            <value>
                <stringValue>Cuestionario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_TipoDeRegistro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Subdetalle__c</field>
            <value>
                <stringValue>Venta condicionada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TerminaMalasVentas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_Contrato.MX_WB_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecución de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el caso actual con la información del recuperada en el paso anterior.</description>
        <name>MX_SB_SAC_ActualizarCasoNoTitular</name>
        <label>Actualizar Caso No Titular</label>
        <locationX>54</locationX>
        <locationY>1235</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MX_SB_SAC_Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <stringValue>No es Asegurado/Contratante</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <stringValue>Consultas Sin Póliza</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Este campo sirve como bandera para mostrar botón de &quot;continuar&quot; desde el componente de Sinietsros</description>
        <name>MX_SB_SAC_ejecutaFlow</name>
        <label>¿se ejecuta desde un flow?</label>
        <locationX>1619</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>MX_SB_SAC_Siniestro</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDcaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_ejecutaFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>MX_SB_SAC_AutentificacionNoValida</name>
        <label>Cierre Autentificación no valida</label>
        <locationX>908</locationX>
        <locationY>820</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_MensajeAutentificacionNoValida</name>
            <fieldText>&lt;p&gt;Sr./Srta.&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;. algunos de los datos no corresponden al registro. Por favor, verifiqué la información y comuníquese nuevamente, con gusto lo atenderemos.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_CierreNoAutentificacion</name>
            <fieldText>&lt;p&gt;Gracias por llamar a Seguros Bancomer. Le atendió (&lt;b&gt;{!MX_SB_SAC_Usuario.Name}&lt;/b&gt;) ha sido un placer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla con la información necesaria a decir al cliente para cerrar la llamada. Esta pantalla se utiliza cuando la persona que contacta no es el titular.</description>
        <name>MX_SB_SAC_CierreNoTitular</name>
        <label>Cierre No Titular</label>
        <locationX>51</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ActualizacionCasoRescate_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_MensajeNoTitular</name>
            <fieldText>&lt;p&gt;Sr./Srta.&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;. Por seguridad, es importante que el titular llame para solicitar el trámite. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¿Hay algo más en lo que pueda ayudar?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_MensajeNoTitularCierre</name>
            <fieldText>&lt;p&gt;Gracias por llamar a Seguros Bancomer. Le atendió (&lt;b&gt;{!MX_SB_SAC_Usuario.Name}&lt;/b&gt;) ha sido un placer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Comentarios</name>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El comentario debe tener al menos 10 caracteres&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!MX_SB_SAC_Comentarios}) &gt; 10</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra los criterios de búsqueda de póliza.</description>
        <name>MX_SB_SAC_FolioPoliza</name>
        <label>Folio Póliza</label>
        <locationX>270</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ResultadoPoliza</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_NombreClienteBuscador</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; Nombre del Cliente: &lt;/b&gt;&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aviso_Privacidad</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#16325C &quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Le informo que sus datos personales están protegidos por nuestro aviso de privacidad, que pueden consultar en www.segurosbancomer.com.mx&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_BusquedasPoliza</name>
            <fieldText>&lt;br/&gt;&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Puedes realizar la búsqueda del cliente por cualquiera de los siguientes criterios:&lt;/FONT&gt;&lt;/SPAN&gt;
&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000 &quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Datos Póliza: &lt;/FONT&gt;&lt;/SPAN&gt;Póliza, Certificado, Póliza Finanzia o Número Crédito.&lt;br/&gt; &lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Datos Asegurado:&lt;/FONT&gt;&lt;/SPAN&gt; Nombre(s) y Apellido Paterno, Apellido Materno o RFC.&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;br/&gt;Datos Contratante:&lt;/FONT&gt;&lt;/SPAN&gt; Nombre(s) y Apellido Paterno, Apellido Materno o Cuenta. &lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br/&gt; Datos del Vehículo:&lt;/FONT&gt;&lt;/SPAN&gt; Número Serie o Número Placa.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_DatosPolizas</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Ingresar Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla con un check que define si existe una excepción a la regla que permita que el siniestro hacer caso omiso de algún siniestro.</description>
        <name>MX_SB_SAC_PantallaExcepcionRegla</name>
        <label>Pantalla de excepcion a la regla</label>
        <locationX>3789</locationX>
        <locationY>999</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_HayExcepcionRegla</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_CampoExcepcionRegla</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>MX_SB_SAC_No</defaultSelectedChoiceReference>
            <fieldText>La póliza cuenta con siniestro registrado, ¿Es una excepción a la regla?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla con las primeras dos preguntas de autenticación del cliente.</description>
        <name>MX_SB_SAC_PreguntasAutentificacion</name>
        <label>Preguntas de Autentificación</label>
        <locationX>702</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ValidacionPreguntas</targetReference>
        </connector>
        <fields>
            <name>Autenticacion_Poliza</name>
            <fieldText>Para Continuar su trámite de forma segura, es importante verificar algunos datos de su póliza.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_MarcaVehiculo</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Cuál es el nombre completo del asegurado/contratante? R: {!MX_SB_SAC_Contrato.MX_SB_SAC_NombreClienteAsegurado__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_FechaNacimientoRFC</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Cuál es su fecha de nacimiento y/o RFC? R:  RFC: {!MX_SB_SAC_Contrato.MX_SB_SAC_RFCContratante__c}  Fecha de nacimiento: {!MX_SB_SAC_Contrato.MX_SB_SAC_FechaNacimiento__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_MedioPago</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿El Medio de Pago que utiliza para esta póliza es tarjeta de crédito, débito o cuenta de cheques? R: {!MX_SB_SAC_Contrato.MX_SB_SAC_Tipotarjetapago__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Visualiza los registros recuperados con respecto a la búsqueda realizada en la pantalla anterior.</description>
        <name>MX_SB_SAC_ResultadoPoliza</name>
        <label>Resultado Póliza</label>
        <locationX>396</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerDatosContrato</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_ResultadoBUsquedaPoliza</name>
            <choiceReferences>MX_SB_SAC_BuscarContratoSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarClienteAseguradoSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarRFCAseguradoSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarClienteContratanteSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarNumeroSerieSAC</choiceReferences>
            <choiceReferences>MX_SB_SAC_BuscarPlacasSAC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Resultado  de Búsqueda:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Sirva para invocar el componente de siniestros</description>
        <name>MX_SB_SAC_Siniestro</name>
        <label>Recupera siniestro</label>
        <locationX>1760</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_RecuperaSiniestros</targetReference>
        </connector>
        <fields>
            <name>MZ_SB_SAC_ActualizacionSiniestros</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Actualización de Siniestros&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_RecuperaSiniestro</name>
            <extensionName>c:MX_SB_SAC_ActSiniestrosCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>MX_SB_SAC_IDContrato</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>trueFlow</name>
                <value>
                    <elementReference>MX_SB_SAC_ejecutaFlow</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla con las preguntas que utilizará el asesor para sondear si fue o no una mala venta.</description>
        <name>MX_SB_SAC_SondeoMalasVentas</name>
        <label>Sondeo malas ventas</label>
        <locationX>1203</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_EsMalaVentaSondeo</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_PreguntasSondeo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Usted contrató el seguro?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Le comentaron algo acerca de este seguro?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Ha solicitado&amp;nbsp;algún&amp;nbsp;crédito?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Ha contratado alguna tarjeta?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Ha solicitado reposición de alguna tarjeta?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿En&amp;nbsp;algún&amp;nbsp;momento recibió información o contrato de la póliza?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Recuerda haber recibido información del seguro en cajeros automáticos?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;¿Reconoce la contratación de&amp;nbsp;algún&amp;nbsp;seguro?&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_EsMalaVenta</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Es mala venta?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pregunta 1 del tipificador de malas ventas</description>
        <name>MX_SB_SAC_TipificadorPregunta1</name>
        <label>TipificadorPregunta1</label>
        <locationX>4035</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_RespuestaPregunta1Tipificador</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Tipificador1Pregunta</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>1 - ¿Acudió a sucursal a realizar algún trámite? O ¿Lo han      contactado por teléfono para ofrecerle productos BBVA?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pregunta 2 del tipificador de malas ventas</description>
        <name>MX_SB_SAC_TipificadorPregunta2</name>
        <label>TipificadorPregunta2</label>
        <locationX>4581</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_RespuestaPregunta2Tipificador</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Tipificador2Pregunta</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>2 - ¿Le ofrecieron un Seguro BBVA en la sucursal/llamada?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pregunta 3 del tipificador de malas ventas</description>
        <name>MX_SB_SAC_TipificadorPregunta3</name>
        <label>TipificadorPregunta3</label>
        <locationX>5011</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_RespuestaPregunta3Tipificador</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Tipificador3Pregunta</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>3 - ¿Firmó algún documento referente a dicho Seguro? O      ¿Proporcionó datos de su cuenta o Tarjeta de crédito al ejecutivo?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pregunta 4 del tipificador de malas ventas</description>
        <name>MX_SB_SAC_TipificadorPregunta4</name>
        <label>TipificadorPregunta4</label>
        <locationX>5482</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_RespuestaPregunta4Tipificador</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Tipificador4Pregunta</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>4 - ¿Le comunicaron que la contratación de ese Seguro era obligatoria ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar los posibles detalles por los cuales el flujo se fue a retención.</description>
        <name>MX_SB_SAC_TipificaRetencion</name>
        <label>Tipifica retención</label>
        <locationX>1811</locationX>
        <locationY>1349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacionNoMalaVenta</targetReference>
        </connector>
        <fields>
            <name>MX_SC_SAC_DetalleMalaVenta</name>
            <choiceReferences>MX_SB_SAC_DetalleMalaVenta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona el detalle de la cancelación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MX_SB_SAC_Colorpoliza</name>
            <choiceReferences>MX_SB_SAC_Color</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Color</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla de titular de póliza. Visualiza el nombre del cliente y solicita confirmación del proceso que requiere.</description>
        <name>MX_SB_SAC_TitularPoliza</name>
        <label>Titular</label>
        <locationX>50</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_EsTitular</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Cliente</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; Nombre del Cliente: {!MX_SB_SAC_Caso.MX_SB_SAC_Nombre__c} &lt;/b&gt;&lt;b&gt;{!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoPaternoCliente__c} {!MX_SB_SAC_Caso.MX_SB_SAC_ApellidoMaternoCliente__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_MotivoCliente</name>
            <fieldText>¿Lo que usted requiere es &lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;__________________________&lt;/FONT&gt;&lt;/SPAN&gt;, Correcto?&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_EresTitularPoliza</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>MX_SB_SAC_SI</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial Black&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Es contratante o Asegurado?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MX_SB_SAC_ObtencionDatosCasos</startElementReference>
    <status>Active</status>
    <variables>
        <name>MX_SB_SAC_Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro con los valores del caso actualizado.</description>
        <name>MX_SB_SAC_CasoActualizado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_CatalogodeTipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__c</objectType>
    </variables>
    <variables>
        <description>Variable utilizada para saber si existe una excepción o no a la regla</description>
        <name>MX_SB_SAC_CheckExcepcion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_ComentariosAsignados</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MX_SB_SAC_Comentarios</elementReference>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_Contrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Cotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Detalles del caso</description>
        <name>MX_SB_SAC_DetallesCaso</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Muestra los detalles que pueden ser elegidos al no ser considerado una mala venta dentro del flujo</description>
        <name>MX_SB_SAC_DetallesCasoNoMalaVenta</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDcaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MX_SB_SAC_Caso.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCotizador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdRegistro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Almacena el Id del primer siniestro encontrado</description>
        <name>MX_SB_SAC_IdSiniestro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable de iteración que almacenará cada uno de los siniestros recuperados.</description>
        <name>MX_SB_SAC_ItSiniestrosRecuperados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Siniestro__c</objectType>
    </variables>
    <variables>
        <description>Almacena la razón por la cual llamó el no cliente.</description>
        <name>MX_SB_SAC_SeleccionNoUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Almacena todos los siniestros recuperados.</description>
        <name>MX_SB_SAC_SiniestrosRecuperados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Siniestro__c</objectType>
    </variables>
    <variables>
        <description>Valor elegido en la tipificación de detalle por no mala venta</description>
        <name>MX_SB_SAC_TipificacionDetalle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MX_SB_SAC_Usuario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TestBooolen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
