src/flows/MX_SB_SAC_Duplicar_Caso.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavegarCaso</name>
        <label>NavegarCaso</label>
        <locationX>1336</locationX>
        <locationY>48</locationY>
        <actionName>c:MX_SB_SAC_OpenSObject_cmp</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>MX_SB_SAC_NO</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>MX_SB_SAC_SI</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>MX_SB_SAC_DecisionDuplicados</name>
        <label>Decisi贸n Duplicados</label>
        <locationX>413</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_DuplicadoSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_SI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MX_SB_SAC_RequiereGenerarDuplicado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ObtenerRegistrosCaso_0</targetReference>
            </connector>
            <label>Duplicado SI</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>estado_rep</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_SB_SAC_Estado__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Origen_Caso</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipo_contacto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_SB_SAC_TipoContacto__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>texto</name>
        <dataType>String</dataType>
        <expression>&apos;50018000009S6YOAA0&apos;</expression>
    </formulas>
    <interviewLabel>Duplicar_Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicar Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MX_SB_SAC_Asignacion</name>
        <label>Crea asignaci贸n</label>
        <locationX>873</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>MX_SB_SAC_IdAsignacion</assignRecordIdToReference>
        <connector>
            <targetReference>MX_SB_SAC_CrearCaso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!MX_SB_SAC_RegistrosCasos.CaseNumber} - {!MX_SB_SAC_RegistrosCasos.CreatedDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Asistencia por Internet</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>MX_SB_SAC_CrearCaso</name>
        <label>Crear Caso</label>
        <locationX>1110</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>NavegarCaso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>MX_SB_SAC_IdAsignacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ApellidoMaternoCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_ApellidoMaternoCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ApellidoPaternoCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_ApellidoPaternoCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Catalogotipificacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Contrato__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_DocumentacionRequerida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Emisor__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Emisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_EsCliente__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_EsCliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Estado__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Etapa__c</field>
            <value>
                <stringValue>Ejecuci贸n de tramite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_FinalizaFlujo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Nombre__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Nombre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Ramo__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Ramo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_SubOrigenCaso__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_SubOrigenCaso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_TipoContacto__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_TipoContacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poliza__c</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.Poliza__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MX_SB_SAC_RegistrosCasos.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ejecuci贸n de tramite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Se recuperan registros del caso</description>
        <name>MX_SB_SAC_ObtenerRegistrosCaso_0</name>
        <label>Obtener Registros Caso</label>
        <locationX>664</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Asignacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_ApellidoMaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoMaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_ApellidoPaternoCliente__c</assignToReference>
            <field>MX_SB_SAC_ApellidoPaternoCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Catalogotipificacion__c</assignToReference>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Contrato__c</assignToReference>
            <field>MX_SB_SAC_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_DocumentacionRequerida__c</assignToReference>
            <field>MX_SB_SAC_DocumentacionRequerida__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Emisor__c</assignToReference>
            <field>MX_SB_SAC_Emisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_EsCliente__c</assignToReference>
            <field>MX_SB_SAC_EsCliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Estado__c</assignToReference>
            <field>MX_SB_SAC_Estado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_FinalizaFlujo__c</assignToReference>
            <field>MX_SB_SAC_FinalizaFlujo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Nombre__c</assignToReference>
            <field>MX_SB_SAC_Nombre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_Ramo__c</assignToReference>
            <field>MX_SB_SAC_Ramo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_SubOrigenCaso__c</assignToReference>
            <field>MX_SB_SAC_SubOrigenCaso__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.MX_SB_SAC_TipoContacto__c</assignToReference>
            <field>MX_SB_SAC_TipoContacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.Origin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.Poliza__c</assignToReference>
            <field>Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.Priority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_RegistrosCasos.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>MX_SB_SAC_DuplicarCaso</name>
        <label>Duplicar</label>
        <locationX>236</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_DecisionDuplicados</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_RequiereGenerarDuplicado</name>
            <choiceReferences>MX_SB_SAC_SI</choiceReferences>
            <choiceReferences>MX_SB_SAC_NO</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>MX_SB_SAC_NO</defaultSelectedChoiceReference>
            <fieldText>Requiere generar duplicado?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MX_SB_SAC_DuplicarCaso</startElementReference>
    <status>Active</status>
    <variables>
        <name>idPrueba</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>50018000009S6IfAAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IdAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_ObtenerInfoCaso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Se utiliza para obtener los valores del caso.</description>
        <name>MX_SB_SAC_RegistrosCaso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_RegistrosCasos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Si</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
    <variables>
        <name>vbleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
