src/flows/MX_SB_SAC_RetencionSAC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>MX_SB_SAC_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>MX_SB_SAC_Si</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>MX_SB_SAC_ArgumentoColor</name>
        <label>Argumento Color</label>
        <locationX>1310</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Verde</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verde</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ArgumentoConcientizacionVerde</targetReference>
            </connector>
            <label>Verde</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Amarillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amarillo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ArgumentoConcientizacionVerde_0</targetReference>
            </connector>
            <label>Amarillo</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Rojo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rojo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ArgumentoConcientizacionVerde_0_0</targetReference>
            </connector>
            <label>Rojo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se genera la decisión de la retención</description>
        <name>MX_SB_SAC_Decision_Argumento_Amarillo_1</name>
        <label>Decisión Argumento Amarillo 1</label>
        <locationX>1320</locationX>
        <locationY>1099</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Argumento_Concientizacion_Si_Amarillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Amarillo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0_0</targetReference>
            </connector>
            <label>Argumento_Concientizacion_Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Argumento_Concientizacion_NO_Amarillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Amarillo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ArgumentoEstadIsticasReales_0_0</targetReference>
            </connector>
            <label>Argumento_Concientizacion_NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se genera la decisión de la retención</description>
        <name>MX_SB_SAC_Decision_Argumento_Amarillo_2</name>
        <label>Decisión Argumento Amarillo 2</label>
        <locationX>1315</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Argumento_EstadisticasReales_Si_Amarillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Estadisticas_Amarillo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0_0_0_0</targetReference>
            </connector>
            <label>Argumento_EstadisticasReales_Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Argumento_EstadisticasReales_NO_Amarillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Estadisticas_Amarillo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Argumento Estadisticas Reales NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se genera la decisión de la retención</description>
        <name>MX_SB_SAC_Decision_Argumento_Rojo_1</name>
        <label>Decisión Argumento Rojo 1</label>
        <locationX>581</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Argumento_Concientizacion_Si_Rojo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Rojo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0_0_0</targetReference>
            </connector>
            <label>Argumento_Concientizacion_Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Argumento_Concientizacion_NO_Rojo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Rojo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Argumento_Concientizacion_NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se genera la decisión de la retención</description>
        <name>MX_SB_SAC_Decision_Argumento_Verde_1</name>
        <label>Decisión Argumento Verde 1</label>
        <locationX>1979</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Argumento_Concientizacion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos</targetReference>
            </connector>
            <label>Argumento_Concientizacion_Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Argumento_Concientizacion_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ArgumentoEstadIsticasReales</targetReference>
            </connector>
            <label>Argumento_Concientizacion_NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se genera la decisión de la retención</description>
        <name>MX_SB_SAC_Decision_Argumento_Verde_2</name>
        <label>Decisión Argumento Verde 2</label>
        <locationX>2547</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Argumento_EstadisticasReales_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Estadisticas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0</targetReference>
            </connector>
            <label>Argumento_EstadisticasReales_Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Argumento_EstadisticasReales_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_Estadisticas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ArgumentoBBVA</targetReference>
            </connector>
            <label>Argumento Estadisticas Reales NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se genera la decisión de la retención</description>
        <name>MX_SB_SAC_Decision_Argumento_Verde_3</name>
        <label>Decisión Argumento Verde 3</label>
        <locationX>3108</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Argumento_BBVA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_BBVA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0</targetReference>
            </connector>
            <label>Argumento_BBVA_Si</label>
        </rules>
        <rules>
            <name>MX_SB_SAC_Argumento_BBVA_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Respuesta_Argumento_BBVA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Argumento_BBVA_NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipificaciones</name>
        <label>Tipificaciones</label>
        <locationX>1318</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>MX_SB_SAC_ObtenerRegistroArgumentos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MX_SB_SAC_Opcion_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MX_SB_SAC_ObtenerRegistroArgumentos_0</targetReference>
            </connector>
            <label>Opcion 1</label>
        </rules>
    </decisions>
    <interviewLabel>Retención SAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retención SAC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>1989</locationX>
        <locationY>873</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>2560</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>3116</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>561</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>589</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención de datos del objeto catalogo de tipificacion</description>
        <name>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0</name>
        <label>Obtener Datos Tipifican</label>
        <locationX>583</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_CatalogoTipificacion__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCatalogodeTipificacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</assignToReference>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroArgumentos</name>
        <label>Obtener Registro Argumento</label>
        <locationX>1149</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ArgumentoColor</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Producto.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_RazonCancelacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_Argumento__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_ArgumentosID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoBBVA__c</assignToReference>
            <field>MX_SB_SAC_ArgumentoBBVA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoConcientizacion__c</assignToReference>
            <field>MX_SB_SAC_ArgumentoConcientizacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoEstadIsticasReales__c</assignToReference>
            <field>MX_SB_SAC_ArgumentoEstadIsticasReales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_Producto__c</assignToReference>
            <field>MX_SB_SAC_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_RazonCancelacion__c</assignToReference>
            <field>MX_SB_SAC_RazonCancelacion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroArgumentos_0</name>
        <label>Obtener Registro Argumento</label>
        <locationX>1495</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ArgumentoColor</targetReference>
        </connector>
        <filters>
            <field>MX_SB_SAC_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Producto.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_RazonCancelacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_SB_SAC_SubDetalleCancelacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</elementReference>
            </value>
        </filters>
        <object>MX_SB_SAC_Argumento__c</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_ArgumentosID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoBBVA__c</assignToReference>
            <field>MX_SB_SAC_ArgumentoBBVA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoConcientizacion__c</assignToReference>
            <field>MX_SB_SAC_ArgumentoConcientizacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoEstadIsticasReales__c</assignToReference>
            <field>MX_SB_SAC_ArgumentoEstadIsticasReales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_Producto__c</assignToReference>
            <field>MX_SB_SAC_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Argumento.MX_SB_SAC_RazonCancelacion__c</assignToReference>
            <field>MX_SB_SAC_RazonCancelacion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso</name>
        <label>Obtener Registro Caso</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroProducto</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso_0</name>
        <label>Obtener Registro Caso</label>
        <locationX>1986</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso_0_0</name>
        <label>Obtener Registro Caso</label>
        <locationX>2561</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso_0_0_0</name>
        <label>Obtener Registro Caso</label>
        <locationX>3117</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso_0_0_0_0</name>
        <label>Obtener Registro Caso</label>
        <locationX>765</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso_0_0_0_0_0</name>
        <label>Obtener Registro Caso</label>
        <locationX>588</locationX>
        <locationY>796</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroCaso_0_0_0_0_0_0</name>
        <label>Obtener Registro Caso</label>
        <locationX>797</locationX>
        <locationY>1485</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MX_SB_SAC_DatosCatalogoTipificacion_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_IDCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Color__c</assignToReference>
            <field>MX_SB_SAC_Color__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</assignToReference>
            <field>MX_SB_SAC_Detalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.MX_SB_SAC_Subdetalle__c</assignToReference>
            <field>MX_SB_SAC_Subdetalle__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.ProductId</assignToReference>
            <field>ProductId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Caso.Reason</assignToReference>
            <field>Reason</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MX_SB_SAC_ObtenerRegistroProducto</name>
        <label>Obtener Registro Producto</label>
        <locationX>426</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipificaciones</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_Caso.ProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>MX_SB_SAC_Producto.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento</name>
        <label>Actualización Caso Argumento</label>
        <locationX>1990</locationX>
        <locationY>1040</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaConcientizacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>2560</locationX>
        <locationY>1039</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaEstadisticasReales1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_Estadisticas</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>3115</locationX>
        <locationY>1195</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaBBVA1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_BBVA</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>379</locationX>
        <locationY>1095</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaConcientizacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Amarillo</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>757</locationX>
        <locationY>961</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaConcientizacion1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Rojo</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>388</locationX>
        <locationY>1485</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Catalogotipificacion__c</field>
            <value>
                <elementReference>MX_SB_SAC_IDCatalogodeTipificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Detalle__c</field>
            <value>
                <elementReference>MX_SB_SAC_Caso.MX_SB_SAC_Detalle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_ProductosParaVenta__c</field>
            <value>
                <elementReference>MX_SB_SAC_CatalogodeTipificacion.MX_SB_SAC_ProductosParaVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaEstadisticasReales1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_Estadisticas_Amarillo</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>3460</locationX>
        <locationY>308</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Argumento__c</field>
            <value>
                <elementReference>MX_SB_SAC_ArgumentosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_respuestaBBVA1__c</field>
            <value>
                <elementReference>MX_SB_SAC_Respuesta_Argumento_BBVA</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>160</locationX>
        <locationY>320</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>MX_SB_SAC_Actualizacion_Caso_Argumento_0_0_0_0_0_0_0_0</name>
        <label>Actualización Caso Argumento</label>
        <locationX>1328</locationX>
        <locationY>1767</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_SB_SAC_Finalizar_Retencion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_SB_SAC_OcultarArgumentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualizan las tipificaciones de retención</description>
        <name>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos</name>
        <label>Actualización Tipificaciones Argumentos</label>
        <locationX>1989</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCaso_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualizan las tipificaciones de retención</description>
        <name>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0</name>
        <label>Actualización Tipificaciones Argumentos</label>
        <locationX>2561</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCaso_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualizan las tipificaciones de retención</description>
        <name>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0</name>
        <label>Actualización Tipificaciones Argumentos</label>
        <locationX>3117</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCaso_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualizan las tipificaciones de retención</description>
        <name>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0_0</name>
        <label>Actualización Tipificaciones Argumentos</label>
        <locationX>972</locationX>
        <locationY>1096</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCaso_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualizan las tipificaciones de retención</description>
        <name>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0_0_0</name>
        <label>Actualización Tipificaciones Argumentos</label>
        <locationX>588</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCaso_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualizan las tipificaciones de retención</description>
        <name>MX_SB_SAC_Actualizacion_Tipificaciones_Argumentos_0_0_0_0_0</name>
        <label>Actualización Tipificaciones Argumentos</label>
        <locationX>988</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>MX_SB_SAC_ObtenerRegistroCaso_0_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MX_SB_SAC_IDCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>MX_SB_SAC_ArgumentoBBVA</name>
        <label>Argumento de BBVA</label>
        <locationX>2860</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Decision_Argumento_Verde_3</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_BBVA</name>
            <fieldText>&lt;p&gt;{!MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoBBVA__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Respuesta_Argumento_BBVA</name>
            <choiceReferences>MX_SB_SAC_Si</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Respuesta Argumento BBVA</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ArgumentoConcientizacionVerde</name>
        <label>Argumento de concientización Verde</label>
        <locationX>1691</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Decision_Argumento_Verde_1</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Concientizacion</name>
            <fieldText>&lt;p&gt;{!MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoConcientizacion__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Respuesta_Argumento_Concientizacion</name>
            <choiceReferences>MX_SB_SAC_Si</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Respuesta Argumento Concientización</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ArgumentoConcientizacionVerde_0</name>
        <label>Argumento de concientización Verde</label>
        <locationX>1328</locationX>
        <locationY>767</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Decision_Argumento_Amarillo_1</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Concientizacion_Amarillo</name>
            <fieldText>&lt;p&gt;{!MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoConcientizacion__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Amarillo</name>
            <choiceReferences>MX_SB_SAC_Si</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Respuesta Argumento Concientización</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ArgumentoConcientizacionVerde_0_0</name>
        <label>Argumento de concientización Verde</label>
        <locationX>963</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Decision_Argumento_Rojo_1</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_Concientizacion_Rojo</name>
            <fieldText>&lt;p&gt;{!MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoConcientizacion__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Respuesta_Argumento_Concientizacion_Rojo</name>
            <choiceReferences>MX_SB_SAC_Si</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Respuesta Argumento Concientización</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ArgumentoEstadIsticasReales</name>
        <label>Argumento de EstadIsticas Reales</label>
        <locationX>2308</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Decision_Argumento_Verde_2</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_EstadIsticasReales</name>
            <fieldText>&lt;p&gt;{!MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoEstadIsticasReales__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Respuesta_Argumento_Estadisticas</name>
            <choiceReferences>MX_SB_SAC_Si</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Respuesta Argumento Estadísticas Reales</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MX_SB_SAC_ArgumentoEstadIsticasReales_0_0</name>
        <label>Argumento de EstadIsticas Reales</label>
        <locationX>1323</locationX>
        <locationY>1235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MX_SB_SAC_Decision_Argumento_Amarillo_2</targetReference>
        </connector>
        <fields>
            <name>MX_SB_SAC_EstadIsticasReales_Amarillo</name>
            <fieldText>&lt;p&gt;{!MX_SB_SAC_Argumento.MX_SB_SAC_ArgumentoEstadIsticasReales__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MX_SB_SAC_Respuesta_Argumento_Estadisticas_Amarillo</name>
            <choiceReferences>MX_SB_SAC_Si</choiceReferences>
            <choiceReferences>MX_SB_SAC_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Respuesta Argumento Estadísticas Reales</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MX_SB_SAC_ObtenerRegistroCaso</startElementReference>
    <status>Active</status>
    <variables>
        <name>MX_SB_SAC_Argumento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_Argumento__c</objectType>
    </variables>
    <variables>
        <description>Se crea  para almacenar el ID de argumentos</description>
        <name>MX_SB_SAC_ArgumentosID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_CatalogodeTipificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_SB_SAC_CatalogoTipificacion__c</objectType>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_IDCatalogodeTipificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MX_SB_SAC_Producto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
