src/flows/MX_WF_Comunidad_WFC_Flujo_Ayuda.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Estatus</name>
        <label>Estatus</label>
        <locationX>161</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>Pantalla_de_ayuda</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro Estado</defaultConnectorLabel>
        <rules>
            <name>Subject_Preheader_Estatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_Canal.CRM_WF_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject &amp; Preheader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_Preheader</targetReference>
            </connector>
            <label>Subject &amp; Preheader estatus</label>
        </rules>
        <rules>
            <name>Aprobaci_n_Subject_Preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_Canal.CRM_WF_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobación Subject &amp; Preheader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobaci_n_S_P</targetReference>
            </connector>
            <label>Aprobación Subject &amp; Preheader</label>
        </rules>
        <rules>
            <name>Cierre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_Canal.CRM_WF_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cierre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ayuda_Cierre</targetReference>
            </connector>
            <label>Cierre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exceso_de_Caracteres</name>
        <label>Exceso de Caracteres</label>
        <locationX>349</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Exceso_Subject_y_Preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Exceso_Subject_y_Preheader</targetReference>
            </connector>
            <label>Exceso Subject y Preheader</label>
        </rules>
        <rules>
            <name>Exceso_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_exceso_subject</targetReference>
            </connector>
            <label>Exceso Subject</label>
        </rules>
        <rules>
            <name>Exceso_Preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_exceso_preheader</targetReference>
            </connector>
            <label>Exceso Preheader</label>
        </rules>
        <rules>
            <name>Sin_exceso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCanal</targetReference>
            </connector>
            <label>Sin exceso</label>
        </rules>
    </decisions>
    <description>Flujo de ayuda que se despliega en la comunidad WFC</description>
    <formulas>
        <name>varCaracteresPreheader</name>
        <dataType>Number</dataType>
        <expression>LEN({!Preheader})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCaracteresSubject</name>
        <dataType>Number</dataType>
        <expression>LEN({!Subject})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Comunidad WFC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comunidad WFC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_los_campos_del_registro</name>
        <label>Obtener los campos del registro</label>
        <locationX>51</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanal</elementReference>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>VR_Canal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_WF_Subject__c</queriedFields>
        <queriedFields>CRM_WF_Preheader__c</queriedFields>
        <queriedFields>CRM_WF_Estatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCanal</name>
        <label>UpdateCanal</label>
        <locationX>1201</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Pantalla_final</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_WF_Preheader__c</field>
            <value>
                <elementReference>Preheader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <screens>
        <name>Aprobaci_n_S_P</name>
        <label>Aprobación S&amp;P</label>
        <locationX>290</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextoAyuda_Ap_S_P</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Este registro se encuentra en la etapa &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!VR_Canal.CRM_WF_Estatus__c} &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;a la espera del cierre por parte del Journey Manager&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ayuda_Cierre</name>
        <label>Ayuda Cierre</label>
        <locationX>190</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoAyuda_Cierre</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;El Arte ha sido aprobado. En caso de requerir modificaciones antes de enviar el correo electrónico favor de redactar los detalles en el campo “Historial de Cambios” e iniciar un nuevo proceso de aprobación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_de_ayuda</name>
        <label>Pantalla de ayuda</label>
        <locationX>71</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_de_Ayuda</name>
            <fieldText>&lt;p&gt;Este registro se encuentra en la etapa &lt;b&gt;{!VR_Canal.CRM_WF_Estatus__c}&lt;/b&gt;,&lt;b&gt; &lt;/b&gt;para  poder avanzar es necesario aprobar el registro y seleccionar al siguiente aprobador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_final</name>
        <label>Pantalla final</label>
        <locationX>1201</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextoAyudaFinal</name>
            <fieldText>&lt;p&gt;El arte se ha actualizado correctamente.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Haz clic en&amp;nbsp;&lt;b&gt;Aprobar&lt;/b&gt;&amp;nbsp;para continuar con el flujo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sc_exceso_preheader</name>
        <label>exceso preheader</label>
        <locationX>506</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCanal</targetReference>
        </connector>
        <fields>
            <name>txt_exc_preheader</name>
            <fieldText>El Preheader tienen mas de 40 caracteres, si desea continuar, de click en el botón &quot;SIGUIENTE&quot;, si desea corregir, de click en el botón &quot;ANTERIOR&quot;.

Preheader: {!varCaracteresPreheader} caracteres.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_exceso_subject</name>
        <label>exceso subject</label>
        <locationX>343</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCanal</targetReference>
        </connector>
        <fields>
            <name>txt_exc_subject</name>
            <fieldText>El Subject tiene mas de 50 caracteres, si desea continuar, de click en el botón &quot;SIGUIENTE&quot;, si desea corregir, de click en el botón &quot;ANTERIOR&quot;.

Subject: {!varCaracteresSubject} caracteres.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Exceso_Subject_y_Preheader</name>
        <label>Exceso Subject y Preheader</label>
        <locationX>615</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCanal</targetReference>
        </connector>
        <fields>
            <name>Caracteres</name>
            <fieldText>Tanto el Subject y Preheader tienen mas de 50 y 40 caracteres respectivamente, si desea continuar, de click en el botón &quot;SIGUIENTE&quot;, si desea corregir, de click en el botón &quot;ANTERIOR&quot;.

Subject: {!varCaracteresSubject} caracteres.
Preheader: {!varCaracteresPreheader} caracteres.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Subject_Preheader</name>
        <label>Subject &amp; Preheader</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exceso_de_Caracteres</targetReference>
        </connector>
        <fields>
            <name>Ayuda_en_SP</name>
            <fieldText>&lt;p&gt;Para que el Arte pueda llegar a su aprobación final por parte del Journey Manager es necesario llenar los campos de &lt;b&gt;Subject &lt;/b&gt;y &lt;b&gt;Preheader&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VR_Canal.CRM_WF_Subject__c</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preheader</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VR_Canal.CRM_WF_Preheader__c</elementReference>
            </defaultValue>
            <fieldText>Preheader</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Obtener_los_campos_del_registro</startElementReference>
    <status>Active</status>
    <variables>
        <name>varIdCanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VR_Canal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
</Flow>
