src/flows/MX_WF_Canal_Duplicado.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Developer_Name_decision</name>
        <label>Developer Name decision</label>
        <locationX>507</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Email_Desclub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX_WF_Email_Desclub</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Desclub</targetReference>
            </connector>
            <label>Email Desclub</label>
        </rules>
        <rules>
            <name>Email_Silverpop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM_WF_Canal_Email_EG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Silverpop</targetReference>
            </connector>
            <label>Email Silverpop</label>
        </rules>
        <rules>
            <name>Email_Marketing_Cloud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX_WF_Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Marketing_Cloud</targetReference>
            </connector>
            <label>Email Marketing Cloud</label>
        </rules>
    </decisions>
    <interviewLabel>Canal Duplicado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Canal Duplicado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Desclub</name>
        <label>Crear Desclub</label>
        <locationX>508</locationX>
        <locationY>375</locationY>
        <assignRecordIdToReference>varIdCanalNuevo</assignRecordIdToReference>
        <connector>
            <targetReference>ResultadoNuevoCanal</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Data_Extension__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Data_Extension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Estatus__c</field>
            <value>
                <stringValue>Brief Arte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_De_La_Version_Arte__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Nombre_De_La_Version_Arte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Nombre_Del_Brief__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Preheader__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Preheader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WR_Buzon_Squad__c</field>
            <value>
                <elementReference>varAllValues.CRM_WR_Buzon_Squad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Agencia_Creativa__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Agencia_Creativa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Agencia_De_Medios__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Agencia_De_Medios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Business_Unit__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Carpeta_Logos_Fotos__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_Carpeta_Logos_Fotos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_envio_Solicitud__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_Fecha_de_envio_Solicitud__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_URL_Final_Del_Arte__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_URL_Final_Del_Arte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAllValues.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Marketing_Cloud</name>
        <label>Crear Marketing Cloud</label>
        <locationX>727</locationX>
        <locationY>64</locationY>
        <assignRecordIdToReference>varIdCanalNuevo</assignRecordIdToReference>
        <connector>
            <targetReference>ResultadoNuevoCanal</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Audiencia__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Audiencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_CTOR__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_CTOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Copy_Requiere_Datos_Variables__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Copy_Requiere_Datos_Variables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Data_Extension__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Data_Extension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_El_Material_Es_Parte__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_El_Material_Es_Parte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Enlista_Los_Datos_Variables__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Enlista_Los_Datos_Variables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Estatus__c</field>
            <value>
                <stringValue>Brief Arte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Legales__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Legales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Links_Para_Descarga_De_Material__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Links_Para_Descarga_De_Material__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Mensaje_Principal__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Mensaje_Principal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_De_La_Version_Arte__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Nombre_De_La_Version_Arte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Nombre_Del_Brief__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Objetivo_De_La_Version__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Objetivo_De_La_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Open_Rate__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Open_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Preheader__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Preheader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Restriccion_O_Condicionantes__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Restriccion_O_Condicionantes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Texto_Incluyendo_Datos_Variables__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Texto_Incluyendo_Datos_Variables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WR_Buzon_Squad__c</field>
            <value>
                <elementReference>varAllValues.CRM_WR_Buzon_Squad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Agencia_Creativa__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Agencia_Creativa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Agencia_De_Medios__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Agencia_De_Medios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Fecha_de_Envio__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Fecha_de_Envio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Producto_Suproducto__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Producto_Suproducto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Tipo_Canal_Canal__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Tipo_Canal_Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Business_Unit__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_envio_Solicitud__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_Fecha_de_envio_Solicitud__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_URL_Final_Del_Arte__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_URL_Final_Del_Arte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAllValues.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Silverpop</name>
        <label>Crear Silverpop</label>
        <locationX>623</locationX>
        <locationY>263</locationY>
        <assignRecordIdToReference>varIdCanalNuevo</assignRecordIdToReference>
        <connector>
            <targetReference>ResultadoNuevoCanal</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Audiencia__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Audiencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_CTOR__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_CTOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Copy_Requiere_Datos_Variables__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Copy_Requiere_Datos_Variables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_El_Material_Es_Parte__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_El_Material_Es_Parte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Enlista_Los_Datos_Variables__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Enlista_Los_Datos_Variables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Estatus__c</field>
            <value>
                <stringValue>Brief Arte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Legales__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Legales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Links_Para_Descarga_De_Material__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Links_Para_Descarga_De_Material__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Mensaje_Principal__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Mensaje_Principal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_De_La_Version_Arte__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Nombre_De_La_Version_Arte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Nombre_Del_Brief__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Objetivo_De_La_Version__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Objetivo_De_La_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Open_Rate__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Open_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Preheader__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Preheader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Restriccion_O_Condicionantes__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Restriccion_O_Condicionantes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Texto_Incluyendo_Datos_Variables__c</field>
            <value>
                <elementReference>varAllValues.CRM_WF_Texto_Incluyendo_Datos_Variables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WR_Buzon_Squad__c</field>
            <value>
                <elementReference>varAllValues.CRM_WR_Buzon_Squad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Agencia_Creativa__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Agencia_Creativa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Agencia_De_Medios__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Agencia_De_Medios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Producto_Suproducto__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Producto_Suproducto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Tipo_Canal_Canal__c</field>
            <value>
                <elementReference>varAllValues.GBL_WF_Tipo_Canal_Canal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_URL_Final_Del_Arte__c</field>
            <value>
                <elementReference>varAllValues.MX_WF_URL_Final_Del_Arte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAllValues.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Developer_Name</name>
        <label>Obtener Developer Name</label>
        <locationX>305</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Developer_Name_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAllValues.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ResultadoNuevoCanal</name>
        <label>ResultadoNuevoCanal</label>
        <locationX>827</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_El_registro_se_ha_duplicado_con_xito</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanalNuevo</elementReference>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>varAllValuesNuevoCanal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_WF_Nombre_De_La_Version_Arte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ValoresCanalActual</name>
        <label>ValoresCanalActual</label>
        <locationX>151</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Developer_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>varAllValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GBL_WF_Agencia_Creativa__c</queriedFields>
        <queriedFields>GBL_WF_Agencia_De_Medios__c</queriedFields>
        <queriedFields>CRM_WF_Nombre_De_La_Version_Arte__c</queriedFields>
        <queriedFields>CRM_WF_El_Material_Es_Parte__c</queriedFields>
        <queriedFields>CRM_WF_Objetivo_De_La_Version__c</queriedFields>
        <queriedFields>GBL_WF_Tipo_Canal_Canal__c</queriedFields>
        <queriedFields>GBL_WF_Producto_Suproducto__c</queriedFields>
        <queriedFields>CRM_WF_Audiencia__c</queriedFields>
        <queriedFields>CRM_WF_Mensaje_Principal__c</queriedFields>
        <queriedFields>CRM_WF_Restriccion_O_Condicionantes__c</queriedFields>
        <queriedFields>CRM_WF_Copy_Requiere_Datos_Variables__c</queriedFields>
        <queriedFields>CRM_WF_Enlista_Los_Datos_Variables__c</queriedFields>
        <queriedFields>CRM_WF_Texto_Incluyendo_Datos_Variables__c</queriedFields>
        <queriedFields>CRM_WF_Legales__c</queriedFields>
        <queriedFields>CRM_WF_Links_Para_Descarga_De_Material__c</queriedFields>
        <queriedFields>CRM_WF_Link_Call_To_Action__c</queriedFields>
        <queriedFields>CRM_WF_Nombre_Del_Brief__c</queriedFields>
        <queriedFields>CRM_WR_Buzon_Squad__c</queriedFields>
        <queriedFields>CRM_WF_CTOR__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CRM_WF_Open_Rate__c</queriedFields>
        <queriedFields>MX_WF_Carpeta_Logos_Fotos__c</queriedFields>
        <queriedFields>CRM_WF_Data_Extension__c</queriedFields>
        <queriedFields>MX_WF_URL_Final_Del_Arte__c</queriedFields>
        <queriedFields>CRM_WF_Subject__c</queriedFields>
        <queriedFields>CRM_WF_Preheader__c</queriedFields>
        <queriedFields>GBL_WF_Fecha_de_Envio__c</queriedFields>
        <queriedFields>MX_WF_Business_Unit__c</queriedFields>
        <queriedFields>MX_WF_Fecha_de_envio_Solicitud__c</queriedFields>
    </recordLookups>
    <screens>
        <name>SC_El_registro_se_ha_duplicado_con_xito</name>
        <label>El registro se ha duplicado con éxito.</label>
        <locationX>1024</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>exito</name>
            <fieldText>El registro se ha duplicado con exito:
Nombre de la versión/arte: {!varAllValuesNuevoCanal.CRM_WF_Nombre_De_La_Version_Arte__c}
Folio de la versión/arte: {!varAllValuesNuevoCanal.Name}
&lt;a href = &quot;/{!varIdCanalNuevo}&quot;&gt; Ir al nuevo Registro &lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ValoresCanalActual</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAllValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varAllValuesNuevoCanal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdCanalNuevo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
