src/flows/MX_WF_Tracking_Code_Editable.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Tracking Code Editable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracking Code Editable</label>
    <loops>
        <name>Bucle_URL</name>
        <label>Bucle URL</label>
        <locationX>481</locationX>
        <locationY>182</locationY>
        <assignNextValueToReference>varBucle</assignNextValueToReference>
        <collectionReference>Url_Encontradas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_URL</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_URL</name>
        <label>Buscar URL</label>
        <locationX>368</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_URL</targetReference>
        </connector>
        <filters>
            <field>CRM_WF_Nombre_Del_Arte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanal</elementReference>
            </value>
        </filters>
        <object>CRM_WF_URL_Secundarias__c</object>
        <outputReference>Url_Encontradas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_WF_Tracking_Code_fx__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Canal</name>
        <label>Update Canal</label>
        <locationX>201</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_URL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Fecha_de_envio_Solicitud__c</field>
            <value>
                <elementReference>varFechaEnvio</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_URL</name>
        <label>Update URL</label>
        <locationX>860</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Bucle_URL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBucle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Tracking_Code__c</field>
            <value>
                <elementReference>varBucle.MX_WF_Tracking_Code_fx__c</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_URL_Secundarias__c</object>
    </recordUpdates>
    <startElementReference>Update_Canal</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Url_Encontradas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_URL_Secundarias__c</objectType>
    </variables>
    <variables>
        <name>varBucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_URL_Secundarias__c</objectType>
    </variables>
    <variables>
        <name>varFechaEnvio</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIdCanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
