src/flows/MX_WF_Crear_Campa_a_Alianzas_Adquirente.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>ac_textoValidaci_nDuplicado</name>
        <label>ac_textoValidaciónDuplicado</label>
        <locationX>64</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>TextoValidacionDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_CampanaDuplicada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla_de_Inicio_Campa_a_Asesor_Comercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asiganr_Squad_Adquirencia</name>
        <label>Asiganr Squad Adquirencia</label>
        <locationX>1635</locationX>
        <locationY>1557</locationY>
        <assignmentItems>
            <assignToReference>AreaSolicitante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Solicitante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreCampania</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre_de_la_Campa_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaInicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_Inicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaFin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Fin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recurrencia_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recurrencia1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_KPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KPI_Objetivo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>terminosCondiciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>T_rminos_y_condiciones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Promociones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promoci_n_es</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextoValidacionDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Fechapublicacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_Publicacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Duplicados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Area_Solicitante</name>
        <label>Asignar Área Solicitante</label>
        <locationX>700</locationX>
        <locationY>1879</locationY>
        <assignmentItems>
            <assignToReference>AreaSolicitante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SQUAD_ADQUIRENCIA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreCampania</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre_de_la_Campana_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaInicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_Inicio_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaFin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Fin_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaPublicacionAsist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_publicaci_n</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recurrencia_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recurrencia_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_KPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KPI_Objetivo_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>terminosCondiciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>T_rminos_y_condiciones_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Promociones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promoci_n_es_AC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextoValidacionDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Fechapublicacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_publicaci_n</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Duplicados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Texto</name>
        <label>Asignar Texto</label>
        <locationX>1171</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>TextoValidacionDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PT_CampanaDuplicada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla_de_Inicio_Campana</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>creado_por_AC_decisi_n</name>
        <label>creado por AC decisión</label>
        <locationX>55</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>creadoporAC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla_de_Inicio_Campa_a_Asesor_Comercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Llevar_variable_Campania_Regional</name>
        <label>Llevar variable Campania Regional</label>
        <locationX>2521</locationX>
        <locationY>2284</locationY>
        <assignmentItems>
            <assignToReference>v_CampaniaRegional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>La_campa_a_es_Regional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AfiliacionesAdq</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Afiliaciones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Funci_n_Asesor_Comercial3</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Activaci_n</name>
        <choiceText>Activación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Activación</stringValue>
        </value>
    </choices>
    <choices>
        <name>Adquisici_n</name>
        <choiceText>Adquisición</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adquisición</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alianzas_Comerciales</name>
        <choiceText>Alianzas Comerciales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alianzas Comerciales</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATM</name>
        <choiceText>ATM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ATM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bancomer_Inf</name>
        <choiceText>Bancomer Inf</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bancomer Inf</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bcom</name>
        <choiceText>Bcom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bcom</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bmovil</name>
        <choiceText>Bmovil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bmovil</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bolet_n_Emp</name>
        <choiceText>Boletín Emp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Boletín Emp</stringValue>
        </value>
    </choices>
    <choices>
        <name>Carga_masiva</name>
        <choiceText>Carga masiva</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Carga masiva</stringValue>
        </value>
    </choices>
    <choices>
        <name>Catorce</name>
        <choiceText>14</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cenefa</name>
        <choiceText>Cenefa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cenefa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cinco</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Comercio1</name>
        <choiceText>Comercio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comercio</stringValue>
        </value>
    </choices>
    <choices>
        <name>ComunicacionInterna</name>
        <choiceText>Comunicación Interna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comunicación Interna</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correo_Directo</name>
        <choiceText>Correo Directo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correo Directo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cr_dito</name>
        <choiceText>Crédito</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cuatro</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diceciocho</name>
        <choiceText>18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dieciseis</name>
        <choiceText>16</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diecisiete</name>
        <choiceText>17</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diez</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doce</name>
        <choiceText>12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>Domingo</name>
        <choiceText>Domingo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domingo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Domingod</name>
        <choiceText>Domingo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domingo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dos</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>e_Commerce</name>
        <choiceText>e-Commerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>e-Commerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>EECC</name>
        <choiceText>EECC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EECC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emailconcomunicacion</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emailmulti</name>
        <choiceText>Email Multipromociones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Multipromociones</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emisor_Por_afiliaci_n</name>
        <choiceText>Emisor (Por afiliación)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emisor (Por afiliación)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Facebook</name>
        <choiceText>Facebook</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facebook</stringValue>
        </value>
    </choices>
    <choices>
        <name>Falso</name>
        <choiceText>Falso</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Garanti</name>
        <choiceText>Garanti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Garanti</stringValue>
        </value>
    </choices>
    <choices>
        <name>Garanti2</name>
        <choiceText>Garanti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Garanti</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informativa1_0</name>
        <choiceText>Informativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informativa</stringValue>
        </value>
    </choices>
    <choices>
        <name>InformativaOperaciones</name>
        <choiceText>Informativa (Operaciones)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informativa (Operaciones)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insertos</name>
        <choiceText>Insertos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insertos</stringValue>
        </value>
    </choices>
    <choices>
        <name>IVR</name>
        <choiceText>IVR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IVR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jueves</name>
        <choiceText>Jueves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jueves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Juevesd</name>
        <choiceText>Jueves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jueves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Listados</name>
        <choiceText>Listados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Listados</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lunes</name>
        <choiceText>Lunes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lunes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lunesd</name>
        <choiceText>Lunes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lunes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing_Din_mico</name>
        <choiceText>Marketing Dinámico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing Dinámico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Martes</name>
        <choiceText>Martes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Martes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Martesd</name>
        <choiceText>Martes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Martes</stringValue>
        </value>
    </choices>
    <choices>
        <name>MencionesenRadio</name>
        <choiceText>Menciones en Radio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Menciones en Radio</stringValue>
        </value>
    </choices>
    <choices>
        <name>MencionesenTelevision</name>
        <choiceText>Menciones en Televisión</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Menciones en Televisión</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mi_rcoles</name>
        <choiceText>Miércoles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miércoles</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miercolesd</name>
        <choiceText>Miércoles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miércoles</stringValue>
        </value>
    </choices>
    <choices>
        <name>MOTO</name>
        <choiceText>MOTO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MOTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mundo_TDC</name>
        <choiceText>Mundo TDC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mundo TDC</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_agregar_beneficio_adicional</name>
        <choiceText>No agregar beneficio adicional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Noagregarbeneficio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoMAX</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoMIN</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal_TPV</name>
        <choiceText>Normal (TPV)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal (TPV)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nueve</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ocho</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Once</name>
        <choiceText>11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_2x1</name>
        <choiceText>2x1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2x1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_Certificado</name>
        <choiceText>Certificado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_Cupon</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Cupón&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cupón</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_Descuento</name>
        <choiceText>Descuento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Descuento</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_fijo</name>
        <choiceText>Fijo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fijo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_Otro</name>
        <choiceText>Otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_tarjetaderegalo</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Tarjeta de regalo&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tarjeta de regalo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_Variable</name>
        <choiceText>Variable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Varable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operaciones</name>
        <choiceText>Operaciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operaciones</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operaciones3</name>
        <choiceText>Operaciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operaciones</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paypass_Contactless</name>
        <choiceText>Paypass (Contactless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paypass (Contactless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portal_Vida_Bancomer</name>
        <choiceText>Portal Vida Bancomer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal Vida Bancomer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prensa</name>
        <choiceText>Prensa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prensa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Producto_igual_a_Credito</name>
        <choiceText>Producto igual a Credito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credito</stringValue>
        </value>
    </choices>
    <choices>
        <name>PromocionEspecialGaranti</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Promoción especial (Garanti)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promoción especial  (Garanti)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Push_Notification</name>
        <choiceText>Push Notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Push Notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>QR_Ecommerce</name>
        <choiceText>QR Ecommerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QR Ecommerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>QR_Normal_TPV</name>
        <choiceText>QR Normal (TPV)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QR Normal (TPV)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quince</name>
        <choiceText>15</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radio</name>
        <choiceText>Radio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Redencion_Puntos</name>
        <choiceText>Redencion Puntos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redencion Puntos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Redes_Sociales_Dirigidas</name>
        <choiceText>Redes Sociales Dirigidas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redes Sociales Dirigidas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Redes_Sociales_Masivas</name>
        <choiceText>Redes Sociales Masivas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redes Sociales Masivas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retenci_n</name>
        <choiceText>Retención</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retención</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sabado</name>
        <choiceText>Sabado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sabado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sabados</name>
        <choiceText>Sábado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sábado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sdat</name>
        <choiceText>Sdat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sdat</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seis</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si2</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Si_agregar_beneficio_adicional</name>
        <choiceText>Si agregar beneficio adicional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Siacento</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <choices>
        <name>Siagregarbeneficio</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sicriterios</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <choices>
        <name>Siete</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiMAX</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiMIN</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SkipPaymentmasMSI</name>
        <choiceText>Skip Payment + MSI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip Payment + MSI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SkipPaymentpuro</name>
        <choiceText>Skip Payment puro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip Payment puro</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMSconcomunicacion</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>SQUAD_ADQUIRENCIA</name>
        <choiceText>SQUAD_ADQUIRENCIA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SQUAD_ADQUIRENCIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SQUAD_SEGUROS_AUTO</name>
        <choiceText>SQUAD_SEGUROS_AUTO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SQUAD_SEGUROS_AUTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>SQUAD_SEGUROS_DANOS</name>
        <choiceText>SQUAD_SEGUROS_DANOS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SQUAD_SEGUROS_DANOS</stringValue>
        </value>
    </choices>
    <choices>
        <name>SQUAD_SEGUROS_SALUD</name>
        <choiceText>SQUAD_SEGUROS_SALUD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SQUAD_SEGUROS_SALUD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telemarketing</name>
        <choiceText>Telemarketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telemarketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telemarketingconcom</name>
        <choiceText>Telemarketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telemarketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tipodecambiodiferenciado</name>
        <choiceText>Tipo de cambio diferenciado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tipo de cambio diferenciado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Todas</name>
        <choiceText>Todas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Todos</name>
        <choiceText>Todos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Todos1</name>
        <choiceText>Todos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Todosd</name>
        <choiceText>Todos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todos</stringValue>
        </value>
    </choices>
    <choices>
        <name>TPV</name>
        <choiceText>TPV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TPV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trece</name>
        <choiceText>13</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tres</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uso</name>
        <choiceText>Uso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uso</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ventanilla</name>
        <choiceText>Ventanilla</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ventanilla</stringValue>
        </value>
    </choices>
    <choices>
        <name>Viernes</name>
        <choiceText>Viernes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Viernes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Viernesd</name>
        <choiceText>Viernes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Viernes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wallet_Loyalty_Mapa</name>
        <choiceText>Wallet Loyalty Mapa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wallet Loyalty Mapa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wallet_Loyalty_Push_Notification</name>
        <choiceText>Wallet Loyalty Push Notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wallet Loyalty Push Notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>WalletBanner</name>
        <choiceText>Wallet Banner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wallet Banner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Campa_a_Regional_decisi_n</name>
        <label>Campaña Regional decisión</label>
        <locationX>2325</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Llevar_variable_Campania_Regional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es regional</defaultConnectorLabel>
        <rules>
            <name>S_es_regional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>La_campa_a_es_Regional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Siacento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjuntar_ListadoBines</targetReference>
            </connector>
            <label>Sí es regional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canales_de_Comunicaci_n_para_VoBo_Seguimiento</name>
        <label>Canales de Comunicación para VoBo Seguimiento</label>
        <locationX>2184</locationX>
        <locationY>1924</locationY>
        <defaultConnector>
            <targetReference>Pregunta_Campania_regional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Comunicacion_VoBo_Seguimiento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Redes_Sociales_Dirigidas</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Wallet_Loyalty_Push_Notification</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Push_Notification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indicadores_Requeridos1</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Con_Comunicacionp</name>
        <label>¿Con Comunicación?</label>
        <locationX>1878</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Pregunta_Campania_regional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Siconcom</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Con_Comunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Con_comunicaci_n_no_dirigida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Funci_n_de_usuario_2</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Con_Criterio_de_ICa</name>
        <label>¿Requiere Criterios de IC?</label>
        <locationX>2718</locationX>
        <locationY>2257</locationY>
        <defaultConnector>
            <targetReference>Con_Modelo_m</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Requiere Criterios</defaultConnectorLabel>
        <rules>
            <name>Con_Criterio_de_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con_Criterios_de_IC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Si_Requiere_Criterios</targetReference>
            </connector>
            <label>Con Criterio de IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Con_Modelo_m</name>
        <label>¿Con  Modelo?</label>
        <locationX>2867</locationX>
        <locationY>2124</locationY>
        <defaultConnector>
            <targetReference>Creacion_Campana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Requiere Modelo</defaultConnectorLabel>
        <rules>
            <name>Con_Modelo1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con_Modelo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Si_requiere_Modelo</targetReference>
            </connector>
            <label>Con Modelo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_Wallet</name>
        <label>Crear Wallet</label>
        <locationX>2206</locationX>
        <locationY>1054</locationY>
        <defaultConnector>
            <targetReference>Flujo_de_promocion_AC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No activar flujo</defaultConnectorLabel>
        <rules>
            <name>Activar_flujo</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Canales_de_Comunicacion_No_Dirigida</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>comercioWalletRelacionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>Falso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_crea_registro_Wallet</targetReference>
            </connector>
            <label>Activar flujo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisiones_para_Squads_Seguros</name>
        <label>Decisiones para Squads Seguros</label>
        <locationX>1155</locationX>
        <locationY>2346</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Comunicaci_n_requerida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Seguros</defaultConnectorLabel>
        <rules>
            <name>Squads_Seguros</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Area_Solicitante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SQUAD_SEGUROS_AUTO</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Area_Solicitante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SQUAD_SEGUROS_DANOS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Area_Solicitante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SQUAD_SEGUROS_SALUD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procesos_adicionales_Squads_Seguros</targetReference>
            </connector>
            <label>Squads Seguros</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_de_inicio_Decision</name>
        <label>Fecha de inicio</label>
        <locationX>1283</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Asiganr_Squad_Adquirencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fecha de inicio mayor a hoy</defaultConnectorLabel>
        <rules>
            <name>La_fecha_de_inicio_menor_igual_hoy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fecha_de_Inicio</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_FechaHoy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_texto_de_fecha_de_inicio_menor_a_hoy</targetReference>
            </connector>
            <label>La fecha de inicio menor o igual a hoy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_de_inicio_Decision_AC</name>
        <label>Fecha de inicio AC</label>
        <locationX>387</locationX>
        <locationY>1264</locationY>
        <defaultConnector>
            <targetReference>Asignar_Area_Solicitante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fecha de inicio mayor a hoy</defaultConnectorLabel>
        <rules>
            <name>La_fecha_de_inicio_AC_menor_igual_hoy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fecha_de_Inicio_AC</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_FechaHoy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_texto_de_fecha_de_inicio_menor_a_hoy_AC</targetReference>
            </connector>
            <label>La fecha de inicio AC menor o igual a hoy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funci_n_Asesor_Comercial3</name>
        <label>Función Asesor Comercial</label>
        <locationX>2629</locationX>
        <locationY>2119</locationY>
        <defaultConnector>
            <targetReference>Criterios_de_la_Base</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Función Squad</defaultConnectorLabel>
        <rules>
            <name>Funcion_Asesor_Comercial3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FuncionUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creacion_Campana</targetReference>
            </connector>
            <label>Función Asesor Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funci_n_de_usuario_1</name>
        <label>Función de usuario 1</label>
        <locationX>45</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Pantalla_de_Inicio_Campana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Función Squad</defaultConnectorLabel>
        <rules>
            <name>Funci_n_Asesor_Comercial1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FuncionUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creado_por_AC_decisi_n</targetReference>
            </connector>
            <label>Función Asesor Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funci_n_de_usuario_2</name>
        <label>Función de usuario</label>
        <locationX>1869</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>Canalesdecomunicaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Función Squad</defaultConnectorLabel>
        <rules>
            <name>Funcion_Asesor_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FuncionUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canales_de_Comunicaci_n_No_Dirigida</targetReference>
            </connector>
            <label>Función Asesor Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_campana_es_duplicada</name>
        <label>¿La campaña es duplicada?</label>
        <locationX>698</locationX>
        <locationY>2106</locationY>
        <defaultConnector>
            <targetReference>Decisiones_para_Squads_Seguros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaña nueva squad</defaultConnectorLabel>
        <rules>
            <name>Campa_aDuplicada_Squad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCampaniaDuplicada</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FuncionUsuario</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asesor Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Texto</targetReference>
            </connector>
            <label>Campaña Duplicada Squad</label>
        </rules>
        <rules>
            <name>Campa_a_Duplicada_Asesor_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCampaniaDuplicada</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FuncionUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ac_textoValidaci_nDuplicado</targetReference>
            </connector>
            <label>Campaña Duplicada Asesor Comercial</label>
        </rules>
        <rules>
            <name>Campa_a_nueva_Asesor_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreCampaniaDuplicada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FuncionUsuario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asesor Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Comunicaci_n_requerida_AC</targetReference>
            </connector>
            <label>Campaña nueva Asesor Comercial</label>
        </rules>
    </decisions>
    <description>Flujo para la aplicación WF para la creación de cmapañas por parte de las áreas de Adquirente y Alianzas comerciales</description>
    <dynamicChoiceSets>
        <name>Beneficio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CargadeBeneficio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Carga_De_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cargadebeneficiomanual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Carga_De_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Concomunicaciones</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Con_Comunicacion__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConCriteriosdeIC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Con_Criterios__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Conmodelo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Con_Modelo__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConVoBoSeguimiento</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Con_VoBo_Seguimiento__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Desde</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Desde__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EncendidoBonusMerchant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Encendido_Bonus_Merchant__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Encendidodelbonus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Encendido_Bonus_Merchant__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Estado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Hasta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Hasta_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Horariodesde</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Desde__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HorarioHasta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Hasta_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LimitarBeneficio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Limitar_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LimitarBeneficio2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Limitar_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Loaddate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Load_Date__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Loaddatev2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Load_Date__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LSM_ComunicacionNoDirigida</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_WF_Canales_Comunicacion_no_Dirigida__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mecnica</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Mecanica__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nacionalesextranjeras</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Nacionales_Extranjero_O_Todas__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nacionalesextranjerootodas</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Nacionales_Extranjero_O_Todas__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opciones_Promocion</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MX_WF_Catalogo_Promociones__c</object>
        <outputAssignments>
            <assignToReference>Id_Promocion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_NombrePromo</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Otorgarelbeneficio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Otorgar_El_Beneficio__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POBcamanared</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Pob_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POBCampana</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Pob_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POBCampana1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Pob_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POBCampana2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Pob_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POBdecampanas</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Pob_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recurrencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Recurrencia__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Requierebrief</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Requiere_Brief__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Requierecartaorigen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Requiere_Carta_Origen__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequiereChecklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requiere_Checklist__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tarjetas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MX_WF_Catalogo_tarjetas__c</object>
        <outputAssignments>
            <assignToReference>borrar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipodeCampaa</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Tipo_De_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipodecampana</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Tipo_De_Campana__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipodeoperacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Tipo_De_Operacion__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipodeProducto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Tipo_De_Producto__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipodeTier</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Tipo_De_TIER__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tiponombredelatarjeta</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Tipo_Nombre_de_la_Tarjeta__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Valororiginal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Valor_Original__c</picklistField>
        <picklistObject>CRM_WF_Beneficios__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_ConComunicacion</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Con_Comunicacion}),{!Con_comunicaci_n_no_dirigida},{!Con_Comunicacion})</expression>
    </formulas>
    <formulas>
        <name>f_Fechafin6dias</name>
        <dataType>Date</dataType>
        <expression>IF( NOT(ISBLANK({!Fecha_Fin})), {!Fecha_Fin}+6, {!Fecha_Fin_AC}+6)</expression>
    </formulas>
    <formulas>
        <name>f_FechaHoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>f_TextoErrorComercioVacio</name>
        <dataType>String</dataType>
        <expression>IF({!var_ErrorComercioVacio}, &quot;Debes seleccionar un comercio&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Fórmula que encuentra el id de la función del usuario</description>
        <name>F_UserFunctionID</name>
        <dataType>String</dataType>
        <expression>{!$User.UserRoleId}</expression>
    </formulas>
    <interviewLabel>Crear Campaña Alianzas - Adquirente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Campaña Alianzas - Adquirente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creacion_Campana</name>
        <label>Creación Campaña</label>
        <locationX>2731</locationX>
        <locationY>1223</locationY>
        <assignRecordIdToReference>CampaignID</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_Wallet</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Alianzas_Comerciales__c</field>
            <value>
                <elementReference>Alianzas_Comerciales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Area_Solicitante__c</field>
            <value>
                <elementReference>AreaSolicitante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Canales_de_Comunicacion__c</field>
            <value>
                <elementReference>Canales_de_Comunicacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Con_Comunicacion__c</field>
            <value>
                <elementReference>f_ConComunicacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Con_Criterios__c</field>
            <value>
                <elementReference>Con_Criterios_de_IC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Con_Modelo__c</field>
            <value>
                <elementReference>Con_Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Con_VoBo_Seguimiento__c</field>
            <value>
                <elementReference>Requiere_Vo_Bo_Seguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Criterios_De_Ic__c</field>
            <value>
                <elementReference>Criterios_de_IC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Indicadores_Requeridos__c</field>
            <value>
                <elementReference>Indicadores_Requeridos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_KPI_Objetivo__c</field>
            <value>
                <elementReference>v_KPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Leyenda_Del_SMS__c</field>
            <value>
                <elementReference>Leyenda_SMS2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Leyenda_Push_Notification__c</field>
            <value>
                <elementReference>Leyenda_Push_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Leyenda_WL_Corto__c</field>
            <value>
                <elementReference>Leyenda_Wallet_Corto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Leyenda_Wallet_Largo__c</field>
            <value>
                <elementReference>Leyenda_Wallet_Largo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Modelo__c</field>
            <value>
                <elementReference>Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Promoci_n_es__c</field>
            <value>
                <elementReference>Promociones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Recurrencia__c</field>
            <value>
                <elementReference>Recurrencia_v</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Requiere_Brief__c</field>
            <value>
                <elementReference>Requiere_Brief</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Requiere_Carta_Origen__c</field>
            <value>
                <elementReference>Requiere_Carta_Origen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Terminos_Y_Condiciones__c</field>
            <value>
                <elementReference>terminosCondiciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Tipo_Nombre_de_la_Tarjeta__c</field>
            <value>
                <elementReference>v_TipoTarjeta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_URL_Bines_y_Afiliaciones__c</field>
            <value>
                <elementReference>Afiliaciones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBL_WF_Comercios__c</field>
            <value>
                <elementReference>IDCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Canales_Comunicacion_no_Dirigida__c</field>
            <value>
                <elementReference>Canales_de_Comunicacion_No_Dirigida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_publicacion__c</field>
            <value>
                <elementReference>v_Fechapublicacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Generador_responsable_de_base__c</field>
            <value>
                <elementReference>IDGenerador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Necesita_aprobaci_n_de_Squad__c</field>
            <value>
                <elementReference>creadoporAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreCampania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requiere_Checklist__c</field>
            <value>
                <elementReference>Requiere_Checklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FechaInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Documentación</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Duplicados</name>
        <label>Obtener Duplicados</label>
        <locationX>1636</locationX>
        <locationY>1889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_campana_es_duplicada</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NombreCampania</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>NombreCampaniaDuplicada</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene la función del usuario que ejecuta el flujo</description>
        <name>Obtener_funcion_de_Usuario</name>
        <label>Obtener función de Usuario</label>
        <locationX>51</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Funci_n_de_usuario_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>F_UserFunctionID</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>FuncionUsuario</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Promociones_en_campa_a</name>
        <label>Promociones en campaña</label>
        <locationX>1939</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>Flujo_de_Comercios_y_tarjetas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Bonificacion__c</field>
            <value>
                <elementReference>v_bool_bonificacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Descuento__c</field>
            <value>
                <elementReference>v_bool_descuento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_MSI__c</field>
            <value>
                <elementReference>v_bool_msi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Puntos__c</field>
            <value>
                <elementReference>v_bool_puntos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Regalo__c</field>
            <value>
                <elementReference>v_bool_regalo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Skip_Payment__c</field>
            <value>
                <elementReference>v_bool_skippayment</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Adjuntar_ListadoBines</name>
        <label>Adjuntar URL - Listado Bines + Afiliaciones</label>
        <locationX>2468</locationX>
        <locationY>2686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Llevar_variable_Campania_Regional</targetReference>
        </connector>
        <fields>
            <name>Instrucciones</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Favor de indicar las afiliaciones participantes  a &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;7 dígitos separados por una coma&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Ejemplo: &lt;/span&gt;0233148,0233155,0233197,0273623,0299552&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Afiliaciones</name>
            <fieldText>Afiliaciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 255 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Afiliaciones} ) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Canales_de_Comunicaci_n_No_Dirigida</name>
        <label>Canales de Comunicación No Dirigida</label>
        <locationX>2076</locationX>
        <locationY>2043</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pregunta_Campania_regional</targetReference>
        </connector>
        <fields>
            <name>Canales_de_Comunicacion_No_Dirigida</name>
            <choiceReferences>LSM_ComunicacionNoDirigida</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canales de Comunicación No Dirigida</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Canalesdecomunicaciones</name>
        <label>Canales de Comunicación</label>
        <locationX>1879</locationX>
        <locationY>1271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Canales_de_Comunicaci_n_para_VoBo_Seguimiento</targetReference>
        </connector>
        <fields>
            <name>Canales_de_Comunicacion</name>
            <choiceReferences>SMS</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Mundo_TDC</choiceReferences>
            <choiceReferences>Marketing_Din_mico</choiceReferences>
            <choiceReferences>ATM</choiceReferences>
            <choiceReferences>Redes_Sociales_Dirigidas</choiceReferences>
            <choiceReferences>Redes_Sociales_Masivas</choiceReferences>
            <choiceReferences>Telemarketing</choiceReferences>
            <choiceReferences>Push_Notification</choiceReferences>
            <choiceReferences>WalletBanner</choiceReferences>
            <choiceReferences>Wallet_Loyalty_Mapa</choiceReferences>
            <choiceReferences>Wallet_Loyalty_Push_Notification</choiceReferences>
            <choiceReferences>Radio</choiceReferences>
            <choiceReferences>Prensa</choiceReferences>
            <choiceReferences>MencionesenRadio</choiceReferences>
            <choiceReferences>MencionesenTelevision</choiceReferences>
            <choiceReferences>ComunicacionInterna</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canales de Comunicación</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Criterios_de_la_Base</name>
        <label>Criterios de la Base</label>
        <locationX>2651</locationX>
        <locationY>2682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Con_Criterio_de_ICa</targetReference>
        </connector>
        <fields>
            <name>Con_Criterios_de_IC</name>
            <choiceReferences>ConCriteriosdeIC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Con Criterios de IC?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Con_Modelo</name>
            <choiceReferences>Conmodelo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Con Modelo?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Indicadores_Requeridos1</name>
        <label>Indicadores Requeridos</label>
        <locationX>2369</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pregunta_Campania_regional</targetReference>
        </connector>
        <fields>
            <name>Quedeseasmedir</name>
            <fieldText>¿Qué deseas medir?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Indicadores_Requeridos</name>
            <fieldText>Indicadores Requeridos</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 255 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Indicadores_Requeridos} ) &lt; 256</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leyenda_Push_Not_0</name>
        <label>Leyenda Push Notification</label>
        <locationX>2524</locationX>
        <locationY>1593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Canales_de_Comunicaci_n_para_VoBo_Seguimiento</targetReference>
        </connector>
        <fields>
            <name>Leyenda_Push_Notification</name>
            <dataType>String</dataType>
            <fieldText>Leyenda Push Notification (máximo 120 caracteres)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 120 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Leyenda_Push_Notification} ) &lt;= 120</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leyenda_SMS</name>
        <label>Leyenda SMS</label>
        <locationX>2547</locationX>
        <locationY>1394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Leyenda_SMS2</name>
            <dataType>String</dataType>
            <fieldText>Leyenda SMS (máximo 160 caracteres)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Hasta 160 caracteres</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 160 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Leyenda_SMS2} ) &lt; 161</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leyenda_Wallet</name>
        <label>Leyenda Wallet</label>
        <locationX>2551</locationX>
        <locationY>1928</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Canales_de_Comunicaci_n_para_VoBo_Seguimiento</targetReference>
        </connector>
        <fields>
            <name>Leyenda_Wallet_Corto</name>
            <dataType>String</dataType>
            <fieldText>Leyenda Wallet Corto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 60 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Leyenda_Wallet_Corto} ) &lt; 61</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Leyenda_Wallet_Largo</name>
            <fieldText>Leyenda Wallet Largo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 400 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Leyenda_Wallet_Largo} ) &lt; 401</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Muestra_texto_de_fecha_de_inicio_menor_a_hoy</name>
        <label>Muestra texto de fecha de inicio menor a hoy</label>
        <locationX>1309</locationX>
        <locationY>1568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asiganr_Squad_Adquirencia</targetReference>
        </connector>
        <fields>
            <name>Texto_Error_Fecha_menor_hoy</name>
            <fieldText>&lt;p&gt;La fecha de inicio que estás ingresando para tu campaña es menor a la fecha de hoy.&lt;/p&gt;&lt;p&gt;Si deseas continuar da clicn en &lt;b&gt;Siguiente&lt;/b&gt; si quieres cambiar la fecha da clic en &lt;b&gt;Anterior&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Muestra_texto_de_fecha_de_inicio_menor_a_hoy_AC</name>
        <label>Muestra texto de fecha de inicio menor a hoy AC</label>
        <locationX>904</locationX>
        <locationY>1242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignar_Area_Solicitante</targetReference>
        </connector>
        <fields>
            <name>Texto_Error_FechaAC</name>
            <fieldText>&lt;p&gt;La fecha de inicio que estás ingresando para tu campaña es menor a la fecha de hoy.&lt;/p&gt;&lt;p&gt;Si deseas continuar da clicn en &lt;b&gt;Siguiente&lt;/b&gt; si quieres cambiar la fecha da clic en &lt;b&gt;Anterior&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_de_Inicio_Campa_a_Asesor_Comercial</name>
        <label>Pantalla de Inicio Campaña Asesor Comercial</label>
        <locationX>58</locationX>
        <locationY>1253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fecha_de_inicio_Decision_AC</targetReference>
        </connector>
        <fields>
            <name>Seccion_AC</name>
            <fieldText>Información Básica (Requisitos para Registro y Asignación de Folio)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidacionDuplicadoAC</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!TextoValidacionDuplicado}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre_de_la_Campana_AC</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la Campaña</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El valor introducido no puede ser mayor a 80 caracteres.</errorMessage>
                <formulaExpression>LEN ( {!Nombre_de_la_Campana_AC} ) &lt; 81</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>LkGeneradorAC</name>
            <extensionName>c:MX_WF_LookupComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>MX_WF_Generador_responsable_de_base__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IDGenerador</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>VigenciadelacampanaAC</name>
            <fieldText>Indica la Vigencia de la Campaña</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fecha_de_Inicio_AC</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de Inicio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Fin_AC</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Fin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;La fecha de fin no puede ser menor a la fecha de inicio﻿&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Fecha_Fin_AC} &gt;={!Fecha_de_Inicio_AC}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fecha_de_publicaci_n</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de publicación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 6, 6);&quot;&gt;La fecha de Publicación tiene que ser mayor a la fecha de hoy y menor a la fecha de fin&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
{!Fecha_de_publicaci_n}&gt;TODAY(),
{!Fecha_de_publicaci_n}&lt;={!Fecha_Fin_AC}
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Recurrencia_AC</name>
            <choiceReferences>Recurrencia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recurrencia</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KPI_Objetivo_AC</name>
            <choiceReferences>Activaci_n</choiceReferences>
            <choiceReferences>Adquisici_n</choiceReferences>
            <choiceReferences>Uso</choiceReferences>
            <choiceReferences>Retenci_n</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KPI Objetivo</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Promoci_n_es_AC</name>
            <fieldText>Promoción(es)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>T_rminos_y_condiciones_AC</name>
            <fieldText>Términos y condiciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_de_Inicio_Campana</name>
        <label>Pantalla de Inicio Campaña</label>
        <locationX>343</locationX>
        <locationY>743</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fecha_de_inicio_Decision</targetReference>
        </connector>
        <fields>
            <name>Seccion1</name>
            <fieldText>Información Básica (Requisitos para Registro y Asignación de Folio)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidacionDuplicadoSquad</name>
            <fieldText>{!TextoValidacionDuplicado}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre_de_la_Campa_a</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la Campaña (máximo 80 caracteres)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;El valor introducido no puede ser mayor a 80 caracteres.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ( {!Nombre_de_la_Campa_a} ) &lt; 81</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Area_Solicitante</name>
            <choiceReferences>SQUAD_ADQUIRENCIA</choiceReferences>
            <choiceReferences>SQUAD_SEGUROS_AUTO</choiceReferences>
            <choiceReferences>SQUAD_SEGUROS_DANOS</choiceReferences>
            <choiceReferences>SQUAD_SEGUROS_SALUD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Área Solicitante</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LkGenerador</name>
            <extensionName>c:MX_WF_LookupComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>MX_WF_Generador_responsable_de_base__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IDGenerador</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vigenciadelacampana</name>
            <fieldText>Indica la Vigencia de la Campaña</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fecha_de_Inicio</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de Inicio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Fin</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Fin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;La fecha de fin de la campaña no puede ser menor a la fecha de inicio.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Fecha_Fin} &gt;= {!Fecha_de_Inicio}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fecha_de_Publicacion</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de_Publicacion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;La fecha de Publicación tiene que ser mayor a la fecha de hoy y menor a la fecha de fin&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND( {!Fecha_de_Publicacion}&lt;={!Fecha_Fin} ,
{!Fecha_de_Publicacion} &gt; TODAY()
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Recurrencia1</name>
            <choiceReferences>Recurrencia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recurrencia</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KPI_Objetivo</name>
            <choiceReferences>Activaci_n</choiceReferences>
            <choiceReferences>Adquisici_n</choiceReferences>
            <choiceReferences>Uso</choiceReferences>
            <choiceReferences>Retenci_n</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KPI Objetivo</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Promoci_n_es</name>
            <fieldText>Promoción(es)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>T_rminos_y_condiciones</name>
            <fieldText>Términos y condiciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pregunta_Campania_regional</name>
        <label>Pregunta Campania regional</label>
        <locationX>2185</locationX>
        <locationY>2231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Campa_a_Regional_decisi_n</targetReference>
        </connector>
        <fields>
            <name>La_campa_a_es_Regional</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Siacento</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>¿La campaña aplica para algunas tiendas?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Procesos_adicionales_Squads_Seguros</name>
        <label>Procesos adicionales Squads Seguros</label>
        <locationX>1541</locationX>
        <locationY>2119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tipo_de_Comunicaci_n_requerida</targetReference>
        </connector>
        <fields>
            <name>Procesos_Requeridos_para_Squads_Seguros</name>
            <fieldText>Procesos Requeridos para Squads Seguros</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requiere_Vo_Bo_Seguimiento</name>
            <choiceReferences>ConVoBoSeguimiento</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Requiere Vo.Bo. Seguimiento?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requiere_Brief</name>
            <choiceReferences>Requierebrief</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Requiere Brief?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requiere_Carta_Origen</name>
            <choiceReferences>Requierecartaorigen</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Requiere Carta Origen?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requiere_Checklist</name>
            <choiceReferences>RequiereChecklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Requiere Checklist?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Si_Requiere_Criterios</name>
        <label>Sí Requiere Criterios</label>
        <locationX>2806</locationX>
        <locationY>2664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Con_Modelo_m</targetReference>
        </connector>
        <fields>
            <name>Criterios_de_IC</name>
            <fieldText>Criterios de IC</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Si_requiere_Modelo</name>
        <label>Sí requiere Modelo</label>
        <locationX>3111</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creacion_Campana</targetReference>
        </connector>
        <fields>
            <name>Modelo</name>
            <fieldText>Modelo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tipo_de_Comunicaci_n_requerida</name>
        <label>Tipo de Comunicación requerida</label>
        <locationX>1539</locationX>
        <locationY>2396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Con_Comunicacionp</targetReference>
        </connector>
        <fields>
            <name>Tipodecomunicacin</name>
            <fieldText>Indica el tipo de comunicación requerida de la campaña</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Con_Comunicacion</name>
            <choiceReferences>Concomunicaciones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Con Comunicación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tipo_de_Comunicaci_n_requerida_AC</name>
        <label>Tipo de Comunicación requerida</label>
        <locationX>704</locationX>
        <locationY>2524</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Con_Comunicacionp</targetReference>
        </connector>
        <fields>
            <name>Tipodecomunicacin_AC</name>
            <fieldText>Indica el tipo de comunicación requerida de la campaña</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Con_comunicaci_n_no_dirigida</name>
            <choiceReferences>Concomunicaciones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Con comunicación no dirigida?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Obtener_funcion_de_Usuario</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Flujo_de_Comercios_y_tarjetas</name>
        <label>Flujo de Comercios y tarjetas</label>
        <locationX>1939</locationX>
        <locationY>286</locationY>
        <flowName>MX_WF_GrupoComercial_Comercio</flowName>
        <inputAssignments>
            <name>IdCampania</name>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flujo_de_promocion_AC</name>
        <label>Flujo de promoción AC</label>
        <locationX>2019</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>Promociones_en_campa_a</targetReference>
        </connector>
        <flowName>MX_WF_Promocion_alianzas_comerciales</flowName>
        <inputAssignments>
            <name>Id_Campania</name>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_fecha_fechaCobroComercioInput</name>
            <value>
                <elementReference>FechaInicio</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>v_bool_bonificacion</assignToReference>
            <name>v_bool_Bonificacion</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_bool_descuento</assignToReference>
            <name>v_bool_descuento</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_bool_msi</assignToReference>
            <name>v_bool_msi</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_bool_puntos</assignToReference>
            <name>v_bool_puntos</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_bool_regalo</assignToReference>
            <name>v_bool_regalo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_bool_skippayment</assignToReference>
            <name>v_bool_skippayment</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Se_crea_registro_Wallet</name>
        <label>Se crea registro Wallet</label>
        <locationX>1876</locationX>
        <locationY>1071</locationY>
        <connector>
            <targetReference>Flujo_de_promocion_AC</targetReference>
        </connector>
        <flowName>MX_WF_Promociones_WALLET</flowName>
        <inputAssignments>
            <name>AfiliacionesWallet</name>
            <value>
                <elementReference>AfiliacionesAdq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDCampana</name>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDComercioAdquirente</name>
            <value>
                <elementReference>IDCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_CampaniaRegional</name>
            <value>
                <elementReference>v_CampaniaRegional</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>PT_CampanaDuplicada</name>
        <text>&lt;FONT COLOR= &quot;#CA2929&quot;&gt; El nombre de la Campaña se encuentra duplicado, intenta con otro nombre &lt;/FONT&gt;</text>
    </textTemplates>
    <variables>
        <name>AfiliacionesAdq</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AreaSolicitante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>borrar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comercioWalletRelacionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Contador de beneficios creados en el flujo</description>
        <name>ContadorBeneficios</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>creadoporAC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FechaFin</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaInicio</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaPublicacionAsist</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena la función del usuario que ejecuta el flujo</description>
        <name>FuncionUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Promocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Tarjetas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IDGenerador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdGrupoComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreCampania</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCampaniaDuplicada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NombreComercio2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Promociones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recurrencia_v</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>terminosCondiciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextoValidacionDuplicado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_bool_bonificacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_bool_descuento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_bool_msi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_bool_puntos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_bool_regalo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_bool_skippayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>V_bucle_Tarjetas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_CampaniaRegional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_En_que_consiste_el_egalo_o_la_rifa_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Fechapublicacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_KPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_monto_div</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_NombrePromo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Porcentaje_x100</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>v_Subtipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_subtipo_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_textbucleComercios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_TipoTarjeta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorComercioVacio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Falso</elementReference>
        </value>
    </variables>
    <variables>
        <name>varBanco</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBeneficioText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCanal_de_Operacion1</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCargadebenefcio1_0Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCargadebenefcio1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varComercio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCupon1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDescripci_n_del_l_mite_del_beneficio1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDetalle_de_recompensa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDias_de_la_Semana</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDias_de_la_semana2</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEncendido_del_Bonus_MerchantText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFecha_de_Cobro_a_Comercio</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirma</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varGrupo_Cadena</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varHorario_Desde2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varHorario_DesdeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varHorario_Hasta2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varHorario_HastaText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varImporte_M_nimo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varImporte_M_nimo_0</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varImporte_M_ximo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varImporte_M_ximo_0</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLeyenda_de_Estado_de_Cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLimitar_Beneficio1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLoad_DateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMecanica1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMensaje_Voucher1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMonto</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNacionales_extranjero_o_todasText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNumero_de_TXN1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOtorgar_el_Beneficio1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPlazos_para_MSI</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPOB_campana2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPOB_campanaText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTipo_de_Campana1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTipo_de_Operacion1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varURL1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varValor_Diferenciado</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varValor_OriginalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vc_comercios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vc_tarjetas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
