src/flows/MX_WF_Solicitud_de_env_o.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Aprobaci_n_Solicitud_Prueba</name>
        <label>Aprobación Solicitud Prueba</label>
        <locationX>2527</locationX>
        <locationY>1050</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Bucle_crear_solicitudes</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>var_Id_SolicitudPrueba</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Solicitud_Control</name>
        <label>Solicitud Control</label>
        <locationX>2461</locationX>
        <locationY>395</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Sumar_1_Solicitud</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varIdSolicitud</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AsigConteoFinal</name>
        <label>AsigConteoFinal</label>
        <locationX>627</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>varConteoFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conteo_Coleccion_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigFolios</name>
        <label>AsigFolios</label>
        <locationX>1137</locationX>
        <locationY>1394</locationY>
        <assignmentItems>
            <assignToReference>var_CR_6_digitos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CR_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PEP_8_digitos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PEP_General_8_Digitos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PEP_3_digitos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PEP_General_3_Digitos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Folio_de_Gasto_Texto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Folio_General_1ra_Parte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Folio_de_gasto_2parte</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Folio_general_2da_Parte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comentarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Maestra</name>
        <label>Asignacion Maestra</label>
        <locationX>1906</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>var_Fecha_Solicitud_Online</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFecha_Solicitud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAB_Testing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varABTestingCanal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Tipo_A_B_Testing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTipoABTestingCanal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Comentarios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentarios_field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Arte_seleccionado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Preheader</name>
        <label>Asignacion Preheader</label>
        <locationX>1552</locationX>
        <locationY>1257</locationY>
        <assignmentItems>
            <assignToReference>var_Preheader_B</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preheader_Preheader_B</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_CR_General</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Subject</name>
        <label>Asignacion Subject</label>
        <locationX>1650</locationX>
        <locationY>1327</locationY>
        <assignmentItems>
            <assignToReference>var_Subject_B</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject_Subject_B</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_CR_General</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_varNoArtesPruebaTotales</name>
        <label>Asignacion varNoArtesPruebaTotales</label>
        <locationX>921</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>varNoArtesPruebaTotales</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varConteoFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reestablecer_Coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignBomberazo</name>
        <label>AsignBomberazo</label>
        <locationX>2032</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>varEsBomberazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstatusBomberazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaParaBomberazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_en_la_que_requieren_el_env_o</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPorqueSalioTardeLaCampana</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qu_pas_por_que_sali_tarde_la_campa_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJustificacionBomberazo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Por_qu_es_indispensable_enviar_esta_campa_a_fuera_de_los_niveles_de_servicio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Maestra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsigNoABGeneral</name>
        <label>AsigNoABGeneral</label>
        <locationX>180</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>var_Fecha_Programada_de_envio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_Envio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Nombre_del_Remitente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreRemitenteBBVA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_CR_General</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignSiABpkl</name>
        <label>AsignSiABpkl</label>
        <locationX>1202</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>var_Fecha_de_Inicio_Testing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_Inicio_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fecha_Final_Testing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Final_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fecha_Programada_de_envio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_envio_v2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Nombre_del_Remitente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreRemitenteBBVA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Unit_v2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_A_B_Testing_dec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignSiABtxt</name>
        <label>AsignSiABtxt</label>
        <locationX>1331</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>var_Fecha_de_Inicio_Testing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_Inicio_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fecha_Final_Testing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Final_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fecha_Programada_de_envio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_de_envio_v2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Nombre_del_Remitente_TXT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre_del_Remitente_v3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Business_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Unit_v3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_A_B_Testing_dec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multiples_Artes_de_Prueba</name>
        <label>Multiples Artes de Prueba</label>
        <locationX>233</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>varColeccionArtesPrueba</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varArtePruebaRegistro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNoArtesPruebaTotales</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campo_Seleccionado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reestablecer_Coleccion</name>
        <label>Reestablecer Coleccion</label>
        <locationX>764</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>varConteoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resultados_Muestra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reestablecer_varColeccionArtesPrueba</name>
        <label>Reestablecer varColeccionArtesPrueba</label>
        <locationX>819</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>varColeccionArtesPrueba</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Coleccion_Final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_1_Solicitud</name>
        <label>Sumar 1 Solicitud</label>
        <locationX>2592</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>varNoSolicitudes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessUnitParaCanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBusinessUnitFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaEnvioParaCanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Fecha_Programada_de_envio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Canal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_2_Canal</name>
        <label>Sumar 2 Canal</label>
        <locationX>2769</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>varNoSolicitudes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNoArtesPruebaTotales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Canal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AgregarArte</name>
        <choiceText>Agregar uno o más artes de prueba</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agregar uno o más artes de prueba</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bomberazo</name>
        <choiceText>Bomberazo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicar_con_modificaciones</name>
        <choiceText>Duplicar con modificaciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicar con modificaciones</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicar_sin_modificaciones</name>
        <choiceText>Duplicar sin modificaciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicar sin modificaciones</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditarUniversoMuestra</name>
        <choiceText>Editar universo muestra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Editar universo muestra</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnvioNormal</name>
        <choiceText>Envío con niveles de servicio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Envío con niveles de servicio</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_agregar_arte</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_duplicar_elegir_otro_arte</name>
        <choiceText>No duplicar, elegir otro arte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No duplicar, elegir otro arte</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuitarArtesPruebas</name>
        <choiceText>No, deseo quitar un arte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, deseo quitar un arte</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_agregar_arte</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SinModificaciones</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <decisions>
        <name>A_n_se_puede_quitar_Artes_Prueba</name>
        <label>Aún se puede quitar Artes Prueba</label>
        <locationX>1141</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_se_puede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoArtesPruebaTotales</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inf_General_v2</targetReference>
            </connector>
            <label>No se puede</label>
        </rules>
        <rules>
            <name>Si_se_puede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoArtesPruebaTotales</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continuar_Artes_Pruebas</targetReference>
            </connector>
            <label>Si se puede</label>
        </rules>
    </decisions>
    <decisions>
        <name>AB_Testing_Dec</name>
        <label>AB/Testing Dec</label>
        <locationX>176</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>SC_Inf_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Detalle_AB_Testing</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Inf_General</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continuar_Artes_Pruebas</name>
        <label>Continuar Artes Pruebas</label>
        <locationX>1038</locationX>
        <locationY>668</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sin_modificaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_hacer_alguna_modificacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SinModificaciones</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inf_General_v2</targetReference>
            </connector>
            <label>Sin modificaciones</label>
        </rules>
        <rules>
            <name>Quitar_Artes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_hacer_alguna_modificacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuitarArtesPruebas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuentra_Artes_seleccionados</targetReference>
            </connector>
            <label>Quitar Artes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desc_Bomberazo</name>
        <label>Bomberazo</label>
        <locationX>1847</locationX>
        <locationY>836</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_bomberazo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Solicitud</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EnvioNormal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Maestra</targetReference>
            </connector>
            <label>No bomberazo</label>
        </rules>
        <rules>
            <name>Si_bomberazo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Solicitud</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bomberazo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sc_Bomberazo</targetReference>
            </connector>
            <label>Si bomberazo</label>
        </rules>
    </decisions>
    <decisions>
        <name>exceso_preheader</name>
        <label>exceso preheader</label>
        <locationX>1408</locationX>
        <locationY>728</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>opc_exceso_preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_exc_preheader</targetReference>
            </connector>
            <label>exceso preheader</label>
        </rules>
        <rules>
            <name>sin_exceso_preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Preheader</targetReference>
            </connector>
            <label>sin exceso preheader</label>
        </rules>
    </decisions>
    <decisions>
        <name>exceso_subject</name>
        <label>exceso subject</label>
        <locationX>1595</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>opc_exceso_subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_exc_subject</targetReference>
            </connector>
            <label>exceso subject</label>
        </rules>
        <rules>
            <name>sin_exceso_subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Subject</targetReference>
            </connector>
            <label>sin exceso subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mas_Artes_Prueba</name>
        <label>Mas Artes Prueba</label>
        <locationX>543</locationX>
        <locationY>929</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Mas_Artes_Prueba</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseas_agregar_m_s_artes_de_prueba</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_agregar_arte</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brief</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No_Mas_Artes_Prueba</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseas_agregar_m_s_artes_de_prueba</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_agregar_arte</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resultados_Muestra</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match</name>
        <label>Match</label>
        <locationX>628</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Bucle_Multipicklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_contiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selecciona_los_artes_que_deseas_eliminar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varBucleMultipicklist.CRM_WF_Nombre_De_La_Version_Arte__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quitar_de_colecci_n</targetReference>
            </connector>
            <label>Si contiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_A_B_Testing_dec</name>
        <label>Tipo A/B Testing</label>
        <locationX>1236</locationX>
        <locationY>1206</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>General_dec</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diseño</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nombre del Remitente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_CR_General</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Subject_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Subject</targetReference>
            </connector>
            <label>Subject</label>
        </rules>
        <rules>
            <name>Preheader_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preheader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sc_Preheader</targetReference>
            </connector>
            <label>Preheader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_A_B_Testing</name>
        <label>Tipo de A/B Testing</label>
        <locationX>539</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Nombre_del_Remitente_opc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nombre del Remitente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inf_General_v3</targetReference>
            </connector>
            <label>Nombre del remitente</label>
        </rules>
        <rules>
            <name>No_es_Nombre_del_remitente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preheader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inf_General_v2</targetReference>
            </connector>
            <label>Subject o Preheader</label>
        </rules>
        <rules>
            <name>CTA_o_Dise_o</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diseño</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brief</targetReference>
            </connector>
            <label>CTA o Diseño</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_AB_Testing</name>
        <label>Tipo de AB Testing</label>
        <locationX>2214</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Ab_y_Dise_o_o_CTA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diseño</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_a_arte_control</targetReference>
            </connector>
            <label>Diseño o CTA</label>
        </rules>
        <rules>
            <name>No_Ab_o_No_Dise_o_y_No_CTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Diseño</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTipoABTestingCanal</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Solicitud_de_Envio</targetReference>
            </connector>
            <label>No Diseño y No CTA</label>
        </rules>
    </decisions>
    <decisions>
        <name>var_Universo_Muestra_vacio</name>
        <label>var Universo Muestra VACIO</label>
        <locationX>605</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Universo_Muestra</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_A_B_Testing</targetReference>
            </connector>
            <label>No vacio</label>
        </rules>
        <rules>
            <name>Si_vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Universo_Muestra</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculadora_Universo_Muestra</targetReference>
            </connector>
            <label>Si vacio</label>
        </rules>
    </decisions>
    <description>Se quita la opción de duplicar</description>
    <dynamicChoiceSets>
        <name>opc_AB_Testing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_WF_AB_Testing__c</picklistField>
        <picklistObject>CRM_WF_Solicitud_De_envio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opc_arte_control_encontrado</name>
        <dataType>String</dataType>
        <displayField>MX_WF_Agrupador__c</displayField>
        <filters>
            <field>CRM_WF_Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cierre</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdBriefControlOrigen</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_WF_No_Solicitudes__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputAssignments>
            <assignToReference>varPreheaderGeneral</assignToReference>
            <field>CRM_WF_Preheader__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubjectGeneral</assignToReference>
            <field>CRM_WF_Subject__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varID_Canal</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varABTestingCanal</assignToReference>
            <field>MX_WF_AB_Testing__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHipotesisRazondeSer</assignToReference>
            <field>MX_WF_Hipotesis_razon_de_ser_prueba__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTipoABTestingCanal</assignToReference>
            <field>MX_WF_Tipo_A_B_Testing__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalRegistrosDataExt</assignToReference>
            <field>MX_WF_Total_de_Registro_Data_Extension__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opc_Artes_Encontrados</name>
        <dataType>String</dataType>
        <displayField>MX_WF_Agrupador__c</displayField>
        <filters>
            <field>CRM_WF_Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cierre</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId_Brief</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_WF_No_Solicitudes__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputAssignments>
            <assignToReference>varArtePruebaRegistro.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CRM_WF_Nombre_De_La_Version_Arte__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opc_brief_control_encontrado</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>MX_WF_Canales_disp_solicitud_de_envio__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>CRM_WF_Brief__c</object>
        <outputAssignments>
            <assignToReference>varIdBriefControlOrigen</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opc_Brief_encontrados</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>MX_WF_Canales_disp_solicitud_de_envio__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>CRM_WF_Brief__c</object>
        <outputAssignments>
            <assignToReference>varId_Brief</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opc_Business_unit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MX_WF_Cuenta_del_Remitente__c</picklistField>
        <picklistObject>CRM_WF_Solicitud_De_envio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opc_Nombre_del_remitente</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_WF_Nombre_del_Remitente__c</picklistField>
        <picklistObject>CRM_WF_Solicitud_De_envio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opc_Tipo_AB_Testing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_A_B_Testing__c</picklistField>
        <picklistObject>CRM_WF_Solicitud_De_envio__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opcArtesSeleccionados</name>
        <dataType>String</dataType>
        <displayField>MX_WF_Agrupador__c</displayField>
        <filters>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <sortField>MX_WF_Agrupador__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CRM_WF_Nombre_De_La_Version_Arte__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Resumen_universo_por_arte</name>
        <dataType>String</dataType>
        <expression>&quot;La distribución del universo muestra es la siguiente:&quot; &amp; {!varSaltoLinea}  &amp; {!varSaltoLinea}  &amp; IF
(
	{!varNoArtesPruebaTotales}=0,
	&quot;Arte control: &quot; &amp; TEXT({!varUniversoPromedio}),
IF
(
	{!varNoArtesPruebaTotales}=1,
	&quot;Arte control: &quot; &amp; TEXT({!varMODUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba B: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  ,
	IF
(
		{!varNoArtesPruebaTotales}=2,
		&quot;Arte control: &quot; &amp; TEXT({!varMODUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba B: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba C: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  ,
	IF
(
	{!varNoArtesPruebaTotales}=3,
			&quot;Arte control: &quot; &amp; TEXT({!varMODUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba B: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba C: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba D: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  ,
	IF
(
	{!varNoArtesPruebaTotales}=4,
				&quot;Arte control: &quot; &amp; TEXT({!varMODUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba B: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba C: &quot;&amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba D: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba E: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  ,
	IF
(
{!varNoArtesPruebaTotales}=5,
&quot;Arte control: &quot; &amp; TEXT({!varMODUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba B: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba C: &quot;&amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba D: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba E: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  &amp;
&quot;Arte de prueba F: &quot; &amp; TEXT({!varUniversoPromedio}) &amp; {!varSaltoLinea}  ,
	&quot;&quot;
)
)
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>varBusinessUnitFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!var_Business_Unit},&quot;Clientes - info@email.bbva.mx&quot;),
  &quot;Clientes&quot;,
  IF(
     ISPICKVAL({!var_Business_Unit},&quot;No clientes - comunicados@info.bbva.mx&quot;),
     &quot;No_clientes&quot;,
     IF(
       ISPICKVAL({!var_Business_Unit},&quot;Alianzas Comerciales - promociones@promociones.bbva.mx&quot;),
       &quot;Alianzas_Comerciales&quot;,
       &quot;&quot;
     )
  )
)</expression>
    </formulas>
    <formulas>
        <name>varCaracteresPreheader</name>
        <dataType>Number</dataType>
        <expression>LEN({!Preheader_Preheader_B})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCaracteresSubject</name>
        <dataType>Number</dataType>
        <expression>LEN({!Subject_Subject_B})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varFecha_Solicitud</name>
        <dataType>Date</dataType>
        <expression>IF
(
WEEKDAY(DATEVALUE({!varFechaSolicitudHora})) = 6,
TODAY()+3,
IF
(
WEEKDAY(DATEVALUE({!varFechaSolicitudHora})) = 7,
TODAY()+2,
IF
(
WEEKDAY(DATEVALUE({!varFechaSolicitudHora})) = 1,
TODAY()+1,
IF
(
{!varFechaSolicitudHora}&gt;{!varHoraActual} , 
		TODAY()+1,
		TODAY()
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>varFechaEnvioAB</name>
        <dataType>Date</dataType>
        <expression>IF
(
  WEEKDAY({!varFechaFinAB}) = 6,
  {!varFechaFinAB} +3,
  {!varFechaFinAB} +1
)</expression>
    </formulas>
    <formulas>
        <name>varFechaEnvioGeneral</name>
        <dataType>Date</dataType>
        <expression>IF
(
  WEEKDAY({!varFecha_Solicitud}) = 5 || WEEKDAY({!varFecha_Solicitud}) = 6,
  {!varFecha_Solicitud} +4,
  {!varFecha_Solicitud} +2
)</expression>
    </formulas>
    <formulas>
        <name>varFechaFinAB</name>
        <dataType>Date</dataType>
        <expression>IF
(
  WEEKDAY({!varFechaInicioAB}) = 2 || WEEKDAY({!varFechaInicioAB}) = 3 || WEEKDAY({!varFechaInicioAB}) = 4,
  {!varFechaInicioAB} +2,
  {!varFechaInicioAB} +4
)</expression>
    </formulas>
    <formulas>
        <name>varFechaInicioAB</name>
        <dataType>Date</dataType>
        <expression>IF
(
  WEEKDAY({!varFecha_Solicitud}) = 5 || WEEKDAY({!varFecha_Solicitud}) = 6 ,
  {!varFecha_Solicitud} +4,
  {!varFecha_Solicitud} +2
)</expression>
    </formulas>
    <formulas>
        <name>varFechaSolicitudHora</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>varFechaSolicitudReal</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!varFecha_Solicitud} ) + (14/24)</expression>
    </formulas>
    <formulas>
        <name>varFestivoAnoNuevo</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),01,01)</expression>
    </formulas>
    <formulas>
        <name>varFestivoConstitucionMexicana</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),02,05)</expression>
    </formulas>
    <formulas>
        <name>varFestivoDiaTrabajo</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),05,01)</expression>
    </formulas>
    <formulas>
        <name>varFestivoIndependenciaMexico</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),09,16)</expression>
    </formulas>
    <formulas>
        <name>varFestivoJuevesSanto</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),04,18)</expression>
    </formulas>
    <formulas>
        <name>varFestivoNatBenitoJuarez</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),03,18)</expression>
    </formulas>
    <formulas>
        <name>varFestivoNavidad</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),12,25)</expression>
    </formulas>
    <formulas>
        <name>varFestivoRevolucionMexicana</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),11,18)</expression>
    </formulas>
    <formulas>
        <name>varFestivoViernesSanto</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),04,19)</expression>
    </formulas>
    <formulas>
        <name>varFestivoVirgen</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),12,12)</expression>
    </formulas>
    <formulas>
        <name>varHoraActual</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE
(
TEXT(YEAR(TODAY()))+&quot;-&quot; +
TEXT(MONTH(TODAY()))+&quot;-&quot; +
TEXT(DAY(TODAY()))+&quot; &quot;+
&quot;16:59:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>varMODUniversoPromedio</name>
        <dataType>Number</dataType>
        <expression>IF(
   {!varNoArtesPruebaTotales}=0,
   {!varUniversoPromedio},
   {!varUniversoPromedio}+MOD({!var_Universo_Muestra},({!varNoArtesPruebaTotales}+1))   
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varSaltoLinea</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!plantilla}, &quot;~&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varTexto_error_muestra_nula</name>
        <dataType>String</dataType>
        <expression>IF({!Si_vacio}=true, &quot;Da click en el botón Calcular, de lo contrario no puedes continuar&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varUniversoPromedio</name>
        <dataType>Number</dataType>
        <expression>IF(
   {!varNoArtesPruebaTotales}=0,
   FLOOR({!var_Universo_Muestra}/1),
   FLOOR({!var_Universo_Muestra}/({!varNoArtesPruebaTotales}+1))
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varValidacionNoArtes</name>
        <dataType>String</dataType>
        <expression>IF({!No_se_puede}=true, &quot;No puedes quitar ningún otro arte de prueba, es necesario contar con al menos uno.&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Solicitud de envío {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitud de envío</label>
    <loops>
        <name>Bucle_crear_solicitudes</name>
        <label>Bucle crear solicitudes</label>
        <locationX>2505</locationX>
        <locationY>802</locationY>
        <assignNextValueToReference>varBucleArtePrueba</assignNextValueToReference>
        <collectionReference>varColeccionArtesPrueba</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Solicitud_Prueba</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sumar_2_Canal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Multipicklist</name>
        <label>Bucle Multipicklist</label>
        <locationX>813</locationX>
        <locationY>343</locationY>
        <assignNextValueToReference>varBucleMultipicklist</assignNextValueToReference>
        <collectionReference>varColeccionArtesSeleccionados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reestablecer_varColeccionArtesPrueba</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Conteo_Coleccion_Final</name>
        <label>Conteo Coleccion Final</label>
        <locationX>803</locationX>
        <locationY>735</locationY>
        <assignNextValueToReference>varConteoBucle</assignNextValueToReference>
        <collectionReference>varColeccionArtesPrueba</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsigConteoFinal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignacion_varNoArtesPruebaTotales</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Solicitud_de_Envio</name>
        <label>Crear Solicitud de Envio</label>
        <locationX>2453</locationX>
        <locationY>507</locationY>
        <assignRecordIdToReference>varIdSolicitud</assignRecordIdToReference>
        <connector>
            <targetReference>Solicitud_Control</targetReference>
        </connector>
        <inputAssignments>
            <field>Bomberazo__c</field>
            <value>
                <elementReference>varEsBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Folio_gasto__c</field>
            <value>
                <elementReference>var_Folio_de_Gasto_Texto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_del_Remitente__c</field>
            <value>
                <elementReference>var_Nombre_del_Remitente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_PEP_8_digitos__c</field>
            <value>
                <elementReference>var_PEP_8_digitos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Preheader_B__c</field>
            <value>
                <elementReference>var_Preheader_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Razon_prueba__c</field>
            <value>
                <elementReference>varHipotesisRazondeSer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject_B__c</field>
            <value>
                <elementReference>var_Subject_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_AB_Testing__c</field>
            <value>
                <elementReference>varAB_Testing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_CR_6_digitos__c</field>
            <value>
                <elementReference>var_CR_6_digitos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Canal__c</field>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Comentarios__c</field>
            <value>
                <elementReference>var_Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Cuenta_del_Remitente__c</field>
            <value>
                <elementReference>var_Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Estatus_Bomberazo__c</field>
            <value>
                <elementReference>varEstatusBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Etapa_Solicitud_Online__c</field>
            <value>
                <stringValue>Revisión Spoc Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_De_Solicitud_Online__c</field>
            <value>
                <elementReference>var_Fecha_Solicitud_Online</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_Final_Testing__c</field>
            <value>
                <elementReference>var_Fecha_Final_Testing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_Programada_de_envio__c</field>
            <value>
                <elementReference>var_Fecha_Programada_de_envio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_Inicio_Testing__c</field>
            <value>
                <elementReference>var_Fecha_de_Inicio_Testing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_en_que_requiere_el_envio__c</field>
            <value>
                <elementReference>varFechaParaBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Folio_del_Gasto_Segunda_Parte__c</field>
            <value>
                <elementReference>var_Folio_de_gasto_2parte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Nombre_del_Arte_Control__c</field>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Nombre_del_Remitente_Txt__c</field>
            <value>
                <elementReference>var_Nombre_del_Remitente_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Por_qu_se_debe_enviar_esta_campa_a__c</field>
            <value>
                <elementReference>varJustificacionBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Por_que_qu_sali_tarde_la_campa_a__c</field>
            <value>
                <elementReference>varPorqueSalioTardeLaCampana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Tipo_de_Arte_txt__c</field>
            <value>
                <elementReference>varTipoArteControl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Universo_Muestra__c</field>
            <value>
                <elementReference>varMODUniversoPromedio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEP_3_digitos__c</field>
            <value>
                <elementReference>var_PEP_3_digitos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_A_B_Testing__c</field>
            <value>
                <elementReference>var_Tipo_A_B_Testing</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Solicitud_De_envio__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Solicitud_Prueba</name>
        <label>Crear Solicitud Prueba</label>
        <locationX>2238</locationX>
        <locationY>793</locationY>
        <assignRecordIdToReference>var_Id_SolicitudPrueba</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Arte_Prueba</targetReference>
        </connector>
        <inputAssignments>
            <field>Bomberazo__c</field>
            <value>
                <elementReference>varEsBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Folio_gasto__c</field>
            <value>
                <elementReference>var_Folio_de_Gasto_Texto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_del_Remitente__c</field>
            <value>
                <elementReference>var_Nombre_del_Remitente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_PEP_8_digitos__c</field>
            <value>
                <elementReference>var_PEP_8_digitos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Preheader_B__c</field>
            <value>
                <elementReference>var_Preheader_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Razon_prueba__c</field>
            <value>
                <elementReference>varHipotesisRazondeSer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject_B__c</field>
            <value>
                <elementReference>var_Subject_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_AB_Testing__c</field>
            <value>
                <elementReference>varAB_Testing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_CR_6_digitos__c</field>
            <value>
                <elementReference>var_CR_6_digitos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Canal__c</field>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Comentarios__c</field>
            <value>
                <elementReference>var_Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Cuenta_del_Remitente__c</field>
            <value>
                <elementReference>var_Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Estatus_Bomberazo__c</field>
            <value>
                <elementReference>varEstatusBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Etapa_Solicitud_Online__c</field>
            <value>
                <stringValue>Revisión Spoc Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_De_Solicitud_Online__c</field>
            <value>
                <elementReference>var_Fecha_Solicitud_Online</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_Final_Testing__c</field>
            <value>
                <elementReference>var_Fecha_Final_Testing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_Programada_de_envio__c</field>
            <value>
                <elementReference>var_Fecha_Programada_de_envio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_Inicio_Testing__c</field>
            <value>
                <elementReference>var_Fecha_de_Inicio_Testing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_en_que_requiere_el_envio__c</field>
            <value>
                <elementReference>varFechaParaBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Folio_del_Gasto_Segunda_Parte__c</field>
            <value>
                <elementReference>var_Folio_de_gasto_2parte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Nombre_Arte_de_Prueba__c</field>
            <value>
                <elementReference>varBucleArtePrueba.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Nombre_del_Arte_Control__c</field>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Nombre_del_Remitente_Txt__c</field>
            <value>
                <elementReference>var_Nombre_del_Remitente_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Por_qu_se_debe_enviar_esta_campa_a__c</field>
            <value>
                <elementReference>varJustificacionBomberazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Por_que_qu_sali_tarde_la_campa_a__c</field>
            <value>
                <elementReference>varPorqueSalioTardeLaCampana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Tipo_de_Arte_txt__c</field>
            <value>
                <elementReference>varTipoArtePrueba</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Universo_Muestra__c</field>
            <value>
                <elementReference>varUniversoPromedio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEP_3_digitos__c</field>
            <value>
                <elementReference>var_PEP_3_digitos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_A_B_Testing__c</field>
            <value>
                <elementReference>var_Tipo_A_B_Testing</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Solicitud_De_envio__c</object>
    </recordCreates>
    <recordLookups>
        <name>Coleccion_Final</name>
        <label>Colección Final</label>
        <locationX>807</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conteo_Coleccion_Final</targetReference>
        </connector>
        <filters>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>varColeccionArtesPrueba</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_WF_Nombre_De_La_Version_Arte__c</queriedFields>
        <sortField>MX_WF_Agrupador__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Encuentra_Artes_seleccionados</name>
        <label>Encuentra Artes seleccionados</label>
        <locationX>967</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Artes_a_quitar</targetReference>
        </connector>
        <filters>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>varColeccionArtesSeleccionados</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_WF_Nombre_De_La_Version_Arte__c</queriedFields>
        <sortField>MX_WF_Agrupador__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Quitar_de_colecci_n</name>
        <label>Quitar de colección</label>
        <locationX>693</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Bucle_Multipicklist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBucleMultipicklist.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_a_arte_control</name>
        <label>Update a arte control</label>
        <locationX>2490</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>Bucle_crear_solicitudes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Tipo_de_Arte__c</field>
            <value>
                <stringValue>Arte Control</stringValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Arte_Prueba</name>
        <label>Update Arte Prueba</label>
        <locationX>2245</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Aprobaci_n_Solicitud_Prueba</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBucleArtePrueba.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Business_Unit__c</field>
            <value>
                <elementReference>varBusinessUnitParaCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_envio_Solicitud__c</field>
            <value>
                <elementReference>varFechaEnvioParaCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_No_Solicitudes__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Tipo_de_Arte__c</field>
            <value>
                <stringValue>Arte Prueba</stringValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Arte_seleccionado</name>
        <label>Update Arte seleccionado</label>
        <locationX>2042</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Tipo_de_AB_Testing</targetReference>
        </connector>
        <filters>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campo_Seleccionado</name>
        <label>Update Campo Seleccionado</label>
        <locationX>431</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>Mas_Artes_de_Prueba</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varArtePruebaRegistro.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Seleccionado_como_Prueba__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Canal</name>
        <label>Update Canal</label>
        <locationX>2590</locationX>
        <locationY>506</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID_Canal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MX_WF_Business_Unit__c</field>
            <value>
                <elementReference>varBusinessUnitParaCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_envio_Solicitud__c</field>
            <value>
                <elementReference>varFechaEnvioParaCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_No_Solicitudes__c</field>
            <value>
                <elementReference>varNoSolicitudes</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <screens>
        <name>Arte_de_Control</name>
        <label>Arte Control</label>
        <locationX>332</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AB_Testing_Dec</targetReference>
        </connector>
        <fields>
            <name>Artes_control_opc</name>
            <choiceReferences>opc_arte_control_encontrado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arte control</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Arte_de_Prueba</name>
        <label>Arte de Prueba</label>
        <locationX>238</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiples_Artes_de_Prueba</targetReference>
        </connector>
        <fields>
            <name>Artes_de_Prueba</name>
            <choiceReferences>opc_Artes_Encontrados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arte de prueba</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Artes_a_quitar</name>
        <label>Artes a quitar</label>
        <locationX>1013</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bucle_Multipicklist</targetReference>
        </connector>
        <fields>
            <name>Selecciona_los_artes_que_deseas_eliminar</name>
            <choiceReferences>opcArtesSeleccionados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona los artes que deseas eliminar</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Brief</name>
        <label>Brief</label>
        <locationX>443</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arte_de_Prueba</targetReference>
        </connector>
        <fields>
            <name>Selecciona_Brief_del_Arte_de_Prueba</name>
            <choiceReferences>Opc_Brief_encontrados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona brief del arte de prueba</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Brief_0</name>
        <label>Brief</label>
        <locationX>137</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arte_de_Control</targetReference>
        </connector>
        <fields>
            <name>Selecciona_Brief_del_Arte_control_0</name>
            <choiceReferences>opc_brief_control_encontrado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona brief del arte control</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Calculadora_Universo_Muestra</name>
        <label>Calculadora Universo Muestra</label>
        <locationX>480</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>var_Universo_Muestra_vacio</targetReference>
        </connector>
        <fields>
            <name>Instrucciones_Calculadora</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Da click en el botón calcular, para obtener el universo muestra.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Calculadora_Muestra</name>
            <extensionName>c:MX_WF_Calculadora_Muestra</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>universo</name>
                <value>
                    <elementReference>varTotalRegistrosDataExt</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_Universo_Muestra</assignToReference>
                <name>muestra</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Mensaje_error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!varTexto_error_muestra_nula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Comentarios</name>
        <label>Comentarios</label>
        <locationX>1786</locationX>
        <locationY>1395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Desc_Bomberazo</targetReference>
        </connector>
        <fields>
            <name>inst_comentarios</name>
            <fieldText>&lt;DIV align=&quot;Center&quot;&gt;¿Tienes algún comentario adicional?&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentarios_field</name>
            <dataType>String</dataType>
            <fieldText>Capturalo aquí</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tipo_de_Solicitud</name>
            <choiceReferences>EnvioNormal</choiceReferences>
            <choiceReferences>Bomberazo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EnvioNormal</defaultSelectedChoiceReference>
            <fieldText>Tipo de solicitud</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inf_General_v2</name>
        <label>Inf. General pkl</label>
        <locationX>1110</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsignSiABpkl</targetReference>
        </connector>
        <fields>
            <name>NombreRemitentePredefinido</name>
            <fieldText>Nombre del remitente: {!varNombreRemitenteBBVA}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Unit_v2</name>
            <choiceReferences>opc_Business_unit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inf_General_v3</name>
        <label>Inf. General txt</label>
        <locationX>861</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsignSiABtxt</targetReference>
        </connector>
        <fields>
            <name>Nombre_del_Remitente_v3</name>
            <dataType>String</dataType>
            <fieldText>Nombre del remitente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Unit_v3</name>
            <choiceReferences>opc_Business_unit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mas_Artes_de_Prueba</name>
        <label>Mas Artes de Prueba</label>
        <locationX>313</locationX>
        <locationY>925</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mas_Artes_Prueba</targetReference>
        </connector>
        <fields>
            <name>Deseas_agregar_m_s_artes_de_prueba</name>
            <choiceReferences>Si_agregar_arte</choiceReferences>
            <choiceReferences>No_agregar_arte</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Deseas agregar más artes de prueba?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PEP_GENERAL</name>
        <label>PEP GENERAL</label>
        <locationX>623</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sc_Folio_General</targetReference>
        </connector>
        <fields>
            <name>PEP_Titulo</name>
            <fieldText>&lt;DIV align=&quot;Center&quot;&gt;Ingresa el &lt;b&gt;PEP&lt;/b&gt;, 8 y 3 dígitos respectivamente, el prefijo &lt;b&gt;GB.&lt;/b&gt; ya esta predefinido.&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PEP_General_8_Digitos</name>
            <dataType>String</dataType>
            <fieldText>8 Digitos</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Ingresa solo 8 dígitos.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Solo se pueden ingresar números y deben ser exactamente 8 dígitos.</errorMessage>
                <formulaExpression>REGEX({!PEP_General_8_Digitos},&quot;[0-9]{8}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PEP_General_3_Digitos</name>
            <dataType>String</dataType>
            <fieldText>3 Digitos</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Ingresa solo 3 dígitos</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Solo se pueden ingresar números y deben ser exactamente 3 dígitos.</errorMessage>
                <formulaExpression>REGEX({!PEP_General_3_Digitos},&quot;[0-9]{3}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultados_Muestra</name>
        <label>Resultados Muestra</label>
        <locationX>1091</locationX>
        <locationY>960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>A_n_se_puede_quitar_Artes_Prueba</targetReference>
        </connector>
        <fields>
            <name>ResultadosUniversoArtePrueba</name>
            <fieldText>{!Resumen_universo_por_arte}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Desea_hacer_alguna_modificacion</name>
            <choiceReferences>QuitarArtesPruebas</choiceReferences>
            <choiceReferences>SinModificaciones</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SinModificaciones</defaultSelectedChoiceReference>
            <fieldText>¿Tú muestra es suficientemente representativa?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sc_Bomberazo</name>
        <label>Bomberazo</label>
        <locationX>1952</locationX>
        <locationY>1062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsignBomberazo</targetReference>
        </connector>
        <fields>
            <name>Fecha_en_la_que_requieren_el_env_o</name>
            <dataType>Date</dataType>
            <fieldText>Fecha en la que requieren el envío</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>La fecha no puede ser menor al día de hoy</errorMessage>
                <formulaExpression>{!Fecha_en_la_que_requieren_el_env_o}&gt;=TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Qu_pas_por_que_sali_tarde_la_campa_a</name>
            <fieldText>¿Qué pasó, por qué salió tarde la campaña?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Por_qu_es_indispensable_enviar_esta_campa_a_fuera_de_los_niveles_de_servicio</name>
            <fieldText>¿Por qué es indispensable enviar esta campaña fuera de los niveles de servicio?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_CR_General</name>
        <label>CR General</label>
        <locationX>613</locationX>
        <locationY>1314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PEP_GENERAL</targetReference>
        </connector>
        <fields>
            <name>Titulo_CR</name>
            <fieldText>&lt;DIV align=&quot;Center&quot;&gt;Ingresa tu &lt;b&gt;CR&lt;/b&gt;, solo 6 dígitos, el prefijo &lt;b&gt;MX11&lt;/b&gt; ya esta predefinido.&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CR_General</name>
            <dataType>String</dataType>
            <fieldText>6 Digitos</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Solo se pueden ingresar números y deben ser exactamente 6 dígitos.</errorMessage>
                <formulaExpression>REGEX({!CR_General},&quot;[0-9]{6}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Detalle_AB_Testing</name>
        <label>Detalle AB/Testing</label>
        <locationX>621</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calculadora_Universo_Muestra</targetReference>
        </connector>
        <fields>
            <name>Fecha_Solicitud_txt1</name>
            <fieldText>Fecha de solicitud: {!varFecha_Solicitud}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fecha_de_Inicio_Testing</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varFechaInicioAB</elementReference>
            </defaultValue>
            <fieldText>Fecha de inicio testing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>La fecha de inicio no puede ser menor a 2 días posteriores a la fecha de solicitud y debe ser un día hábil.</errorMessage>
                <formulaExpression>IF(
(({!Fecha_de_Inicio_Testing}-2) &lt; {!varFecha_Solicitud} ||  WEEKDAY({!Fecha_de_Inicio_Testing}) = 1 || WEEKDAY({!Fecha_de_Inicio_Testing}) =7) || {!Fecha_de_Inicio_Testing} &lt; {!varFechaInicioAB} || ({!Fecha_de_Inicio_Testing} = {!varFestivoAnoNuevo} ||
{!Fecha_de_Inicio_Testing} = {!varFestivoConstitucionMexicana} ||
{!Fecha_de_Inicio_Testing} = {!varFestivoNatBenitoJuarez} ||
{!Fecha_de_Inicio_Testing} = {!varFestivoDiaTrabajo} ||
{!Fecha_de_Inicio_Testing} = {!varFestivoIndependenciaMexico} ||
{!Fecha_de_Inicio_Testing} = {!varFestivoRevolucionMexicana} ||
{!Fecha_de_Inicio_Testing} = {!varFestivoNavidad}
),
FALSE,
TRUE
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fecha_Final_Testing</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varFechaFinAB</elementReference>
            </defaultValue>
            <fieldText>Fecha final testing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>La fecha final no puede ser menor a 2 días posteriores a la fecha de inicio ({!Fecha_de_Inicio_Testing}) y debe ser un día hábil.</errorMessage>
                <formulaExpression>IF((({!Fecha_Final_Testing} -2 ) &lt; {!Fecha_de_Inicio_Testing}  ||  WEEKDAY({!Fecha_Final_Testing}) = 1 || WEEKDAY({!Fecha_Final_Testing}) =7) || {!Fecha_Final_Testing}&lt;{!varFechaFinAB} || {!Fecha_Final_Testing} = {!varFestivoAnoNuevo} ||
{!Fecha_Final_Testing} = {!varFestivoConstitucionMexicana} ||
{!Fecha_Final_Testing} = {!varFestivoNatBenitoJuarez} ||
{!Fecha_Final_Testing} = {!varFestivoDiaTrabajo} ||
{!Fecha_Final_Testing} = {!varFestivoIndependenciaMexico} ||
{!Fecha_Final_Testing} = {!varFestivoRevolucionMexicana} ||
{!Fecha_Final_Testing} = {!varFestivoNavidad}
,FALSE,TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fecha_de_envio_v2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varFechaEnvioAB</elementReference>
            </defaultValue>
            <fieldText>Fecha de envío</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>La fecha debe ser 1 día posterior a la Fecha Final ({!Fecha_Final_Testing}) y debe ser en un día hábil.</errorMessage>
                <formulaExpression>IF(({!Fecha_de_envio_v2} &lt;=  {!Fecha_Final_Testing} ||  WEEKDAY({!Fecha_de_envio_v2}) = 1 || WEEKDAY({!Fecha_de_envio_v2}) =7 ||{!Fecha_de_envio_v2}&lt;=TODAY()) || {!Fecha_de_envio_v2} = {!varFestivoAnoNuevo} ||
{!Fecha_de_envio_v2} = {!varFestivoConstitucionMexicana} ||
{!Fecha_de_envio_v2} = {!varFestivoNatBenitoJuarez} ||
{!Fecha_de_envio_v2} = {!varFestivoDiaTrabajo} ||
{!Fecha_de_envio_v2} = {!varFestivoIndependenciaMexico} ||
{!Fecha_de_envio_v2} = {!varFestivoRevolucionMexicana} ||
{!Fecha_de_envio_v2} = {!varFestivoNavidad}
 ,FALSE,TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_exc_preheader</name>
        <label>sc_exc_preheader</label>
        <locationX>1547</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_Preheader</targetReference>
        </connector>
        <fields>
            <name>txt_exceso_preheader</name>
            <fieldText>&lt;p&gt;El Preheader tienen mas de 50 caracteres, si deseas continuar, da click al botón &quot;SIGUIENTE&quot;, si deseas corregir, da click al botón &quot;ANTERIOR&quot;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Preheader: {!varCaracteresPreheader} caracteres.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_exc_subject</name>
        <label>sc_exc_subject</label>
        <locationX>1778</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_Subject</targetReference>
        </connector>
        <fields>
            <name>txt_exc_subject</name>
            <fieldText>&lt;p&gt;El Subject tienen mas de 50 caracteres, si deseas continuar, da click al botón &quot;SIGUIENTE&quot;, si deseas corregir, da click al botón &quot;ANTERIOR&quot;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Subject: {!varCaracteresSubject} caracteres.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Folio_General</name>
        <label>Folio General</label>
        <locationX>944</locationX>
        <locationY>1395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsigFolios</targetReference>
        </connector>
        <fields>
            <name>Folio_titulo</name>
            <fieldText>&lt;DIV align=&quot;Center&quot;&gt;&lt;b&gt;Folio de gasto&lt;/b&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Folio_General_1ra_Parte</name>
            <dataType>String</dataType>
            <fieldText>Parte 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Folio_general_2da_Parte</name>
            <dataType>String</dataType>
            <fieldText>Parte 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Solo se pueden ingresar números.</errorMessage>
                <formulaExpression>NOT(REGEX( {!Folio_general_2da_Parte},&quot;^[a-z A-Z]*$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Inf_General</name>
        <label>Inf. General</label>
        <locationX>180</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsigNoABGeneral</targetReference>
        </connector>
        <fields>
            <name>Fecha_Solicitud_txt2</name>
            <fieldText>Fecha de solicitud: {!varFecha_Solicitud}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fecha_de_Envio</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varFechaEnvioGeneral</elementReference>
            </defaultValue>
            <fieldText>Fecha de envío</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Es la fecha programada de envío.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>La fecha no puede ser menor a 2 días posteriores a la Fecha de solicitud ({!varFecha_Solicitud}) y debe ser en un día hábil.</errorMessage>
                <formulaExpression>IF((({!Fecha_de_Envio} -2)&lt;  {!varFecha_Solicitud} ||  WEEKDAY({!Fecha_de_Envio}) = 1 || WEEKDAY({!Fecha_de_Envio}) =7 || {!Fecha_de_Envio}&lt;=TODAY()) || {!Fecha_de_Envio} = {!varFestivoAnoNuevo} ||
{!Fecha_de_Envio} = {!varFestivoConstitucionMexicana} ||
{!Fecha_de_Envio} = {!varFestivoNatBenitoJuarez} ||
{!Fecha_de_Envio} = {!varFestivoDiaTrabajo} ||
{!Fecha_de_Envio} = {!varFestivoIndependenciaMexico} ||
{!Fecha_de_Envio} = {!varFestivoRevolucionMexicana} ||
{!Fecha_de_Envio} = {!varFestivoNavidad}
 ,FALSE,TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NombreRemitenteBBVA</name>
            <fieldText>Nombre del remitente: {!varNombreRemitenteBBVA}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Unit</name>
            <choiceReferences>opc_Business_unit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sc_Preheader</name>
        <label>Preheader</label>
        <locationX>1362</locationX>
        <locationY>940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>exceso_preheader</targetReference>
        </connector>
        <fields>
            <name>Preheader_Control</name>
            <fieldText>Preheader control: {!varPreheaderGeneral}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preheader_Preheader_B</name>
            <dataType>String</dataType>
            <fieldText>Preheader B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Subject</name>
        <label>Subject</label>
        <locationX>1411</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>exceso_subject</targetReference>
        </connector>
        <fields>
            <name>Subject_Control</name>
            <fieldText>Subject control: {!varSubjectGeneral}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_Subject_B</name>
            <dataType>String</dataType>
            <fieldText>Subject B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Brief_0</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>plantilla</name>
        <text>~
~</text>
    </textTemplates>
    <variables>
        <name>var_Business_Unit</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Comentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_CR_6_digitos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Fecha_de_Inicio_Testing</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Fecha_Final_Testing</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Fecha_Programada_de_envio</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Fecha_Solicitud_Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Folio_de_gasto_2parte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Folio_de_Gasto_Texto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Id_SolicitudPrueba</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Nombre_del_Remitente</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Nombre_del_Remitente_TXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_PEP_3_digitos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_PEP_8_digitos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Pixeles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Preheader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Preheader_B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Subject_B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Tipo_A_B_Testing</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Universo_Muestra</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAB_Testing</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varABTestingCanal</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varArtePruebaRegistro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varBucleArtePrueba</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varBucleMultipicklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varBusinessUnitParaCanal</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varColeccionArtesPrueba</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varColeccionArtesSeleccionados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varColeccionFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varConteoBucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varConteoFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDuplicarArte</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varEsBomberazo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEstatusBomberazo</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Se refiere a la fecha de envío que conservara el canal</description>
        <name>varFechaEnvioParaCanal</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFechaParaBomberazo</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHipotesisRazondeSer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varId_ArtePrueba</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varId_Brief</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varID_Canal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a081b000008tgeXAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdArteDuplicado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdBriefControlOrigen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdSolicitud</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varJustificacionBomberazo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNameArteDuplicado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNoArtesPruebaTotales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNombreRemitenteBBVA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>BBVA Bancomer</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombreVersionArteDup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNoSolicitudes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPorqueSalioTardeLaCampana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPreheaderGeneral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRegistroArteDuplicado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>varSubjectGeneral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTipoABTestingCanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTipoArteControl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Arte Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTipoArtePrueba</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Arte Prueba</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTotalRegistrosDataExt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
