src/flows/MX_WF_Creacion_email_dinamico.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Abrir_registro</name>
        <label>Abrir registro</label>
        <locationX>395</locationX>
        <locationY>1065</locationY>
        <actionName>c:MX_WF_AbrirRegistro</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IDBriefCreado</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Asignar_fechas_de_campania</name>
        <label>Asignar fechas de campaña</label>
        <locationX>306</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>V_FechaFinVigenciaCampania</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_fechaFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_FechaInicioVigenciaCampania</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_inicio_de_lanzamiento_del_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elige_Campa_as</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Establecer_nombre</name>
        <label>Establecer nombre</label>
        <locationX>1372</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>Nombremultipromocion</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!A_o_de_campa_a_multipromoci_n}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_multipromocipon</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aceptar</name>
        <choiceText>Aceptar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aceptar</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoCrearnuevacampana</name>
        <choiceText>No, Crear nueva campaña</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Crear nueva campaña</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Crear_nueva_campa_a_de_MP</name>
        <label>¿Crear nueva campaña de MP?</label>
        <locationX>938</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>Crear_Brief_email_multipromoci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continuar sin crear</defaultConnectorLabel>
        <rules>
            <name>Crear_nueva_campania</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmar_Crear_nueva_campa_a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoCrearnuevacampana</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anio_de_campania</targetReference>
            </connector>
            <label>Crear nueva campaña</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_canal_crear</name>
        <label>¿Que canal crear?</label>
        <locationX>1097</locationX>
        <locationY>1942</locationY>
        <defaultConnector>
            <targetReference>ArteEmailMultipromo_nuevo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>crear nuevo canal</defaultConnectorLabel>
        <rules>
            <name>Copiar_canal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idCanalseleccionado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ArteEmailMultipromo</targetReference>
            </connector>
            <label>Copiar canal</label>
        </rules>
    </decisions>
    <description>Flujo para la aplicación WF para que el squad adquirencia pueda generar una campaña de tipo multipromociones y los canales que generan el bloque de contenido</description>
    <dynamicChoiceSets>
        <name>CampaniasRegistros</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>CRM_WF_Area_Solicitante__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SQUAD_ADQUIRENCIA</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>IDCampania</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>F_AniodeCampania</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Fecha_inicio_de_lanzamiento_del_email})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_fecha_fin_multirpom</name>
        <dataType>Date</dataType>
        <expression>DATE({!A_o_de_campa_a_multipromoci_n}, 12,31)</expression>
    </formulas>
    <formulas>
        <name>f_fecha_Inicio_multiprom</name>
        <dataType>Date</dataType>
        <expression>DATE({!A_o_de_campa_a_multipromoci_n}, 01,01)</expression>
    </formulas>
    <formulas>
        <name>f_fechaFinal</name>
        <dataType>Date</dataType>
        <expression>{!Fecha_inicio_de_lanzamiento_del_email} + 2</expression>
    </formulas>
    <interviewLabel>Creación email donámico {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación email dinámico</label>
    <loops>
        <name>Bucle_campa_as_AC</name>
        <label>Bucle campañas AC</label>
        <locationX>945</locationX>
        <locationY>1068</locationY>
        <assignNextValueToReference>IDCampania</assignNextValueToReference>
        <collectionReference>vc_CapaniasSeleccionadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comercios_participantes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pantalla_Final</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_de_comercios</name>
        <label>Bucle de comercios</label>
        <locationX>1002</locationX>
        <locationY>1560</locationY>
        <assignNextValueToReference>ComerciosParticipanteBucle</assignNextValueToReference>
        <collectionReference>VRC_ComerciosPart</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtener_Canales_activos_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bucle_campa_as_AC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ArteEmailMultipromo</name>
        <label>ArteEmailMultipromo</label>
        <locationX>762</locationX>
        <locationY>1936</locationY>
        <assignRecordIdToReference>idCanalMultipromocion</assignRecordIdToReference>
        <connector>
            <targetReference>Bucle_de_comercios</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Call_to_Action__c</field>
            <value>
                <elementReference>v_CTATexto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Estatus__c</field>
            <value>
                <elementReference>V_EstatusCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Legales__c</field>
            <value>
                <elementReference>V_legales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Link_Call_To_Action__c</field>
            <value>
                <elementReference>v_CTAUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <value>
                <elementReference>IDBriefCreado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Bines_que_participan__c</field>
            <value>
                <elementReference>v_AlmacenaBines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Campana__c</field>
            <value>
                <elementReference>IDCampania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Comercio__c</field>
            <value>
                <elementReference>ComerciosParticipanteBucle.MX_WF_Comercio_participante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_fin_de_vigencia_del_arte__c</field>
            <value>
                <elementReference>v_fechafinvigenciacanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Subtitulo__c</field>
            <value>
                <elementReference>v_subtitulo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Texto_del_v_nculo_de_legales__c</field>
            <value>
                <elementReference>v_Legalestextourl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Titulo__c</field>
            <value>
                <elementReference>v_titulo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_URL_del_legal__c</field>
            <value>
                <elementReference>V_URLegal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126C0000008Y7vQAE</stringValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordCreates>
    <recordCreates>
        <name>ArteEmailMultipromo_nuevo</name>
        <label>ArteEmailMultipromo nuevo</label>
        <locationX>1061</locationX>
        <locationY>1754</locationY>
        <assignRecordIdToReference>idCanalMultipromocion</assignRecordIdToReference>
        <connector>
            <targetReference>Bucle_de_comercios</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Estatus__c</field>
            <value>
                <stringValue>Brief Arte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Nombre_Del_Brief__c</field>
            <value>
                <elementReference>IDBriefCreado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Campana__c</field>
            <value>
                <elementReference>IDCampania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Comercio__c</field>
            <value>
                <elementReference>ComerciosParticipanteBucle.MX_WF_Comercio_participante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126C0000008Y7vQAE</stringValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Brief_email_multipromoci_n</name>
        <label>Crear Brief email multipromoción</label>
        <locationX>946</locationX>
        <locationY>856</locationY>
        <assignRecordIdToReference>IDBriefCreado</assignRecordIdToReference>
        <connector>
            <targetReference>Bucle_campa_as_AC</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_WF_Call_To_Action__c</field>
            <value>
                <elementReference>Texto_CTA_email_general</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Campana_Brief__c</field>
            <value>
                <elementReference>IDCampaniaMP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Link_Donde_Debe_Dirigir_El_Cta__c</field>
            <value>
                <elementReference>URL_CTA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Preheader__c</field>
            <value>
                <elementReference>Preheader_general</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject__c</field>
            <value>
                <elementReference>Subject_general</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_fin__c</field>
            <value>
                <elementReference>V_FechaFinVigenciaCampania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Fecha_de_inicio__c</field>
            <value>
                <elementReference>V_FechaInicioVigenciaCampania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Preheader_bancario_alto__c</field>
            <value>
                <elementReference>Preheader_para_banca_patrimonial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Subject_bancario_alto__c</field>
            <value>
                <elementReference>Subject_para_banca_patrimonial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Subtitulo__c</field>
            <value>
                <elementReference>Subtitulo_email_general</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Subtitulo_bancario_alto__c</field>
            <value>
                <elementReference>Subt_tulo_para_banca_patrimonial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Texto_CTA_bancario_alto__c</field>
            <value>
                <elementReference>Texto_CTA_banca_patrimonial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Titulo__c</field>
            <value>
                <elementReference>Titulo_email_general</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Titulo_bancario_alto__c</field>
            <value>
                <elementReference>T_tulo_para_banca_patrimonial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126C0000008Y7MQAU</stringValue>
            </value>
        </inputAssignments>
        <object>CRM_WF_Brief__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_multipromocipon</name>
        <label>Crear multipromocipon</label>
        <locationX>1212</locationX>
        <locationY>856</locationY>
        <assignRecordIdToReference>IDCampaniaMP.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_Brief_email_multipromoci_n</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>f_fecha_fin_multirpom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MX_WF_Anio_campa_a_multipromoci_n__c</field>
            <value>
                <elementReference>A_o_de_campa_a_multipromoci_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombremultipromocion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U0000002IXNQA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>f_fecha_Inicio_multiprom</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>Campa_aMultiprom</name>
        <label>CampañaMultiprom</label>
        <locationX>943</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmarCampaniaMP</targetReference>
        </connector>
        <filters>
            <field>MX_WF_Anio_campa_a_multipromoci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>F_AniodeCampania</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>IDCampaniaMP</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_WF_Anio_campa_a_multipromoci_n__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Comercios_participantes</name>
        <label>Comercios participantes</label>
        <locationX>1405</locationX>
        <locationY>1411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_de_comercios</targetReference>
        </connector>
        <filters>
            <field>MX_WF_Campana__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDCampania</elementReference>
            </value>
        </filters>
        <object>MX_WF_Comercios_participantes__c</object>
        <outputReference>VRC_ComerciosPart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_WF_Comercio_participante__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Canales_activos</name>
        <label>Obtener Canales activos</label>
        <locationX>1567</locationX>
        <locationY>2106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>CRM_WF_Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cierre</stringValue>
            </value>
        </filters>
        <filters>
            <field>MX_WF_API_tipo_de_registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_WF_Multipromociones</stringValue>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Campana__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDCampania</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Comercio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComerciosParticipanteBucle.MX_WF_Comercio_participante__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Fecha_fin_de_vigencia_del_arte__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_fechaFinal</elementReference>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>VR_Canal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MX_WF_Fecha_fin_de_vigencia_del_arte__c</queriedFields>
        <queriedFields>MX_WF_Titulo__c</queriedFields>
        <queriedFields>MX_WF_Subtitulo__c</queriedFields>
        <queriedFields>CRM_WF_Call_to_Action__c</queriedFields>
        <queriedFields>CRM_WF_Link_Call_To_Action__c</queriedFields>
        <queriedFields>CRM_WF_Legales__c</queriedFields>
        <queriedFields>MX_WF_URL_del_legal__c</queriedFields>
        <queriedFields>CRM_WF_Estatus__c</queriedFields>
        <queriedFields>MX_WF_Texto_del_v_nculo_de_legales__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Canales_activos_0</name>
        <label>Obtener Canales activos</label>
        <locationX>1403</locationX>
        <locationY>1774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_canal_crear</targetReference>
        </connector>
        <filters>
            <field>CRM_WF_Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cierre</stringValue>
            </value>
        </filters>
        <filters>
            <field>MX_WF_API_tipo_de_registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_WF_Multipromociones</stringValue>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Campana__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDCampania</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Comercio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComerciosParticipanteBucle.MX_WF_Comercio_participante__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MX_WF_Fecha_fin_de_vigencia_del_arte__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_fechaFinal</elementReference>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputAssignments>
            <assignToReference>v_CTATexto</assignToReference>
            <field>CRM_WF_Call_to_Action__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_EstatusCanal</assignToReference>
            <field>CRM_WF_Estatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_legales</assignToReference>
            <field>CRM_WF_Legales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_CTAUrl</assignToReference>
            <field>CRM_WF_Link_Call_To_Action__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>idCanalseleccionado</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_fechafinvigenciacanal</assignToReference>
            <field>MX_WF_Fecha_fin_de_vigencia_del_arte__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_subtitulo</assignToReference>
            <field>MX_WF_Subtitulo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Legalestextourl</assignToReference>
            <field>MX_WF_Texto_del_v_nculo_de_legales__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_titulo</assignToReference>
            <field>MX_WF_Titulo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_URLegal</assignToReference>
            <field>MX_WF_URL_del_legal__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Anio_de_campania</name>
        <label>Año de campaña</label>
        <locationX>1238</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Establecer_nombre</targetReference>
        </connector>
        <fields>
            <name>Nueva_Campania_multipromocion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Nueva campaña multipromoción&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Elige el año de la nueva campaña&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>A_o_de_campa_a_multipromoci_n</name>
            <dataType>Number</dataType>
            <fieldText>Año de campaña multipromoción</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmarCampaniaMP</name>
        <label>ConfirmarCampaniaMP</label>
        <locationX>945</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Crear_nueva_campa_a_de_MP</targetReference>
        </connector>
        <fields>
            <name>Texto_Campania_MP</name>
            <fieldText>&lt;p&gt;El email será almacenado en la siguiente campaña de multipromoción:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nombre de la campaña:&lt;b&gt; {!IDCampaniaMP.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Fecha de inicio: &lt;b&gt;{!IDCampaniaMP.StartDate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Fecha de fin: &lt;b&gt;{!IDCampaniaMP.EndDate}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmar_Crear_nueva_campa_a</name>
            <choiceReferences>Aceptar</choiceReferences>
            <choiceReferences>NoCrearnuevacampana</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Aceptar</defaultSelectedChoiceReference>
            <fieldText>Confirmar/ Crear nueva campaña</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creacion_email_general</name>
        <label>Creación email general</label>
        <locationX>767</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Campa_aMultiprom</targetReference>
        </connector>
        <fields>
            <name>DatosEmail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Datos del Email&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_general</name>
            <dataType>String</dataType>
            <fieldText>Subject general</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preheader_general</name>
            <dataType>String</dataType>
            <fieldText>Preheader- general</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Titulo_email_general</name>
            <dataType>String</dataType>
            <fieldText>Título</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subtitulo_email_general</name>
            <dataType>String</dataType>
            <fieldText>Subtítulo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Texto_CTA_email_general</name>
            <dataType>String</dataType>
            <fieldText>Texto del CTA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>URL_CTA</name>
            <dataType>String</dataType>
            <fieldText>URL CTA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Texto_segmentoPatrimonial</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Especifica los campos para el segmento bancario patrimonial y privado&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_para_banca_patrimonial</name>
            <dataType>String</dataType>
            <fieldText>Subject para banca patrimonial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preheader_para_banca_patrimonial</name>
            <dataType>String</dataType>
            <fieldText>Preheader para banca patrimonial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>T_tulo_para_banca_patrimonial</name>
            <dataType>String</dataType>
            <fieldText>Título para banca patrimonial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subt_tulo_para_banca_patrimonial</name>
            <dataType>String</dataType>
            <fieldText>Subtítulo para banca patrimonial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Texto_CTA_banca_patrimonial</name>
            <dataType>String</dataType>
            <fieldText>Texto CTA  banca patrimonial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DefinicionFechasCampa_a</name>
        <label>DefinicionFechasCampaña</label>
        <locationX>51</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignar_fechas_de_campania</targetReference>
        </connector>
        <fields>
            <name>Texto_elige_FechasCampania</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Fechas de vigencia &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Elige la fecha de inicio del lanzamiento del email.﻿&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Recuerda que  los lanzamientos inician los días miércoles de cada semana.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fecha_inicio_de_lanzamiento_del_email</name>
            <dataType>Date</dataType>
            <fieldText>Fecha inicio de lanzamiento del email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 16, 16); background-color: rgb(255, 255, 255);&quot;&gt;Los lanzamientos inician los días &lt;/span&gt;&lt;b style=&quot;color: rgb(189, 16, 16); background-color: rgb(255, 255, 255);&quot;&gt;miércoles &lt;/b&gt;&lt;span style=&quot;color: rgb(189, 16, 16); background-color: rgb(255, 255, 255);&quot;&gt;de cada semana&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>WEEKDAY({!Fecha_inicio_de_lanzamiento_del_email}) = 4</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Elige_Campa_as</name>
        <label>Elige Campañas</label>
        <locationX>565</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creacion_email_general</targetReference>
        </connector>
        <fields>
            <name>TextoEleccionCampania</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Elección de campañas &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoPantalla1</name>
            <fieldText>&lt;p&gt;Confirma las campañas que deseas enviar en el email&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ComponenteCampania</name>
            <extensionName>c:MX_WF_CmpListaCampanias</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FechaFinVigenciaCampania</name>
                <value>
                    <elementReference>V_FechaFinVigenciaCampania</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FechaInicioVigenciaCampania</name>
                <value>
                    <elementReference>V_FechaInicioVigenciaCampania</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vc_CapaniasSeleccionadas</assignToReference>
                <name>campana_seleccionada</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Final</name>
        <label>Pantalla Final</label>
        <locationX>616</locationX>
        <locationY>1065</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Abrir_registro</targetReference>
        </connector>
        <fields>
            <name>Texto_Fin</name>
            <fieldText>&lt;p&gt;Se ha creado correctamente el email dinámico&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>DefinicionFechasCampa_a</startElementReference>
    <status>Active</status>
    <variables>
        <name>AlmacenamientodeBines</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BinesBucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Bin__c</objectType>
    </variables>
    <variables>
        <name>BucleTarjetasParticipantes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Tarjetas_participantes__c</objectType>
    </variables>
    <variables>
        <name>ComerciosParticipanteBucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Comercios_participantes__c</objectType>
    </variables>
    <variables>
        <name>ContadorBines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IDBriefCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDCampania</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDCampaniaMP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>idCanalMultipromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idCanalseleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Nombremultipromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Multipromoción </stringValue>
        </value>
    </variables>
    <variables>
        <name>nombrepromo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_AlmacenaBines</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_Binesdelatarjeta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Bonificacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_CTATexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_CTAUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>V_Descuento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_EstatusCanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>V_FechaFinVigenciaCampania</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_fechafinvigenciacanal</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_FechaInicioVigenciaCampania</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>V_legales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Legalestextourl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_MSI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_Puntos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_Regalo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_SkipPayment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_subtitulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_titulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>V_URLegal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vc_CapaniasSeleccionadas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VR_Canal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
    <variables>
        <name>VR_Promocionbucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_WF_Beneficios__c</objectType>
    </variables>
    <variables>
        <name>VRC_Bines_Busqueda</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Bin__c</objectType>
    </variables>
    <variables>
        <name>VRC_ComerciosPart</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Comercios_participantes__c</objectType>
    </variables>
    <variables>
        <name>VRC_Promociones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_WF_Beneficios__c</objectType>
    </variables>
    <variables>
        <name>VRC_Tarjetas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Catalogo_tarjetas__c</objectType>
    </variables>
    <variables>
        <name>VRC_TarjetasPart</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_WF_Tarjetas_participantes__c</objectType>
    </variables>
</Flow>
