src/flows/Subject_Preheader.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Estatus</name>
        <label>Estatus</label>
        <locationX>202</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Pantalla_vac_a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro Estado</defaultConnectorLabel>
        <rules>
            <name>Subject_Preheader_Estatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_Canal.CRM_WF_Estatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject &amp; Preheader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subject_Preheader</targetReference>
            </connector>
            <label>Subject &amp; Preheader estatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exceso_de_Caracteres</name>
        <label>Exceso de Caracteres</label>
        <locationX>349</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Exceso_Subject_y_Preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Exceso_Subject_y_Preheader</targetReference>
            </connector>
            <label>Exceso Subject y Preheader</label>
        </rules>
        <rules>
            <name>Exceso_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_exceso_subject</targetReference>
            </connector>
            <label>Exceso Subject</label>
        </rules>
        <rules>
            <name>Exceso_Preheader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_exceso_preheader</targetReference>
            </connector>
            <label>Exceso Preheader</label>
        </rules>
        <rules>
            <name>Sin_exceso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaracteresPreheader</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaracteresSubject</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCanal</targetReference>
            </connector>
            <label>Sin exceso</label>
        </rules>
    </decisions>
    <formulas>
        <name>varCaracteresPreheader</name>
        <dataType>Number</dataType>
        <expression>LEN({!Preheader})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCaracteresSubject</name>
        <dataType>Number</dataType>
        <expression>LEN({!Subject})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Subject &amp; Preheader {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subject &amp; Preheader</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_los_campos_del_registro</name>
        <label>Obtener los campos del registro</label>
        <locationX>51</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanal</elementReference>
            </value>
        </filters>
        <object>CRM_WF_Artes__c</object>
        <outputReference>VR_Canal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_WF_Subject__c</queriedFields>
        <queriedFields>CRM_WF_Preheader__c</queriedFields>
        <queriedFields>CRM_WF_Estatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCanal</name>
        <label>UpdateCanal</label>
        <locationX>1201</locationX>
        <locationY>62</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCanal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_WF_Preheader__c</field>
            <value>
                <elementReference>Preheader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_WF_Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_WF_Artes__c</object>
    </recordUpdates>
    <screens>
        <name>Pantalla_vac_a</name>
        <label>Pantalla vacía</label>
        <locationX>212</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_exceso_preheader</name>
        <label>exceso preheader</label>
        <locationX>506</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCanal</targetReference>
        </connector>
        <fields>
            <name>txt_exc_preheader</name>
            <fieldText>El Preheader tienen mas de 40 caracteres, si desea continuar, de click en el botón &quot;SIGUIENTE&quot;, si desea corregir, de click en el botón &quot;ANTERIOR&quot;.

Preheader: {!varCaracteresPreheader} caracteres.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_exceso_subject</name>
        <label>exceso subject</label>
        <locationX>343</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCanal</targetReference>
        </connector>
        <fields>
            <name>txt_exc_subject</name>
            <fieldText>El Subject tiene mas de 50 caracteres, si desea continuar, de click en el botón &quot;SIGUIENTE&quot;, si desea corregir, de click en el botón &quot;ANTERIOR&quot;.

Subject: {!varCaracteresSubject} caracteres.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc_Exceso_Subject_y_Preheader</name>
        <label>Exceso Subject y Preheader</label>
        <locationX>615</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCanal</targetReference>
        </connector>
        <fields>
            <name>Caracteres</name>
            <fieldText>Tanto el Subject y Preheader tienen mas de 50 y 40 caracteres respectivamente, si desea continuar, de click en el botón &quot;SIGUIENTE&quot;, si desea corregir, de click en el botón &quot;ANTERIOR&quot;.

Subject: {!varCaracteresSubject} caracteres.
Preheader: {!varCaracteresPreheader} caracteres.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Subject_Preheader</name>
        <label>Subject &amp; Preheader</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exceso_de_Caracteres</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preheader</name>
            <dataType>String</dataType>
            <fieldText>Preheader</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Obtener_los_campos_del_registro</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>varIdCanal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VR_Canal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_WF_Artes__c</objectType>
    </variables>
</Flow>
